In [70]:
from datetime import datetime, timedelta
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler
import glob

In [71]:
df = pd.read_csv('calicut_sales_clean.csv')

In [72]:
df['date'].min()

'01-01-2013 00:00'

In [73]:
df['date'] = pd.to_datetime(df['date'],format = '%d-%m-%Y %H:%M' ).dt.date

In [74]:
df['date'].min()

datetime.date(2011, 4, 1)

In [78]:
#df['date'] = pd.to_datetime(df['date'], format = '%Y-%m-%d')

In [79]:
#df['date'].min()

Timestamp('2011-04-01 00:00:00')

In [77]:
df.to_csv('input_data.csv', index = False)

In [67]:
df.tail(50)

,date,customer_name,item_name,billed_quantity,sale_price,cost_price
753885,2019-12-31,CHC IRIKUR,3M CLINPRO SEALANT,1.0,1429.00,1339.00
753886,2019-12-31,DR ROHITH PR MEENCHANDA,3M KETAK MOLAR ART,1.0,1504.42,1244.40
753887,2019-12-31,"DR.ANOOP, KANJIKODE",3M KETAK MOLAR ART,1.0,1550.00,1244.40
753888,2019-12-31,"DR.RAVINDRANATH, TALIPARAMBA",DPI - ALLOY FINE GRAIN,3.0,1600.00,1360.00
753889,2019-12-31,"DR. VARUN NAMBIAR, PAYYANNUR",DPI - ALLOY FINE GRAIN,1.0,1600.00,1360.00
753890,2019-12-31,"GOVT. DENTAL COLLEGE, THRISSUR",VITA VMK MASTER PASTE OPAQUE,2.0,1750.00,1650.00
753891,2019-12-31,"M/S.DEVATHA DENTAL,CALICUT",PREVEST ORATEMP C&B,2.0,1875.00,1160.71
753892,2019-12-31,"M/S,COMMUNITY HEALTH CENTRE.PINARAYI",ALLURE GP CUTTER,1.0,1875.00,1607.14
753893,2019-12-31,"GOVT. DENTAL COLLEGE, THRISSUR",VITA VMK MASTER,1.0,1900.00,1700.00
753894,2019-12-31,"DR.PRIYA DINESH,PALAKKAD",D-ROTARY PROTAPER (S2) 25MM WHITE,1.0,1900.00,1754.50
753895,2019-12-31,"DR,JOSE THOMAS,MANKAVE",D-ROTARY PROTAPER (S1) 21MM VIOLET,1.0,1900.00,1754.50
753896,2019-12-31,"DR,JOSE THOMAS,MANKAVE",D-ROTARY PROTAPER (S1) 25MM VIOLET,2.0,1900.00,1754.50
753897,2019-12-31,"DR. SAJEER, VALANCHERI",D-ROTARY PROTAPER (F1) 25MM YELLOW,1.0,1900.00,1754.50
753898,2019-12-31,"DR. SAJEER, VALANCHERI",D-ROTARY PROTAPER (F2) 25MM RED,1.0,1900.00,1754.50
753899,2019-12-31,"DR. SAJEER, VALANCHERI",D-ROTARY PROTAPER (F3) 25MM BLUE,1.0,1900.00,1754.50
753900,2019-12-31,"DR. SAJEER, VALANCHERI",D-ROTARY PROTAPER (S1) 25MM VIOLET,2.0,1900.00,1754.50
753901,2019-12-31,"DR. SAJEER, VALANCHERI",D-ROTARY PROTAPER (S2) 25MM WHITE,1.0,1900.00,1754.50
753902,2019-12-31,COUNTER SALE,D - PROTAPER GOLD 25 MM - F1,1.0,1964.29,1782.00
753903,2019-12-31,COUNTER SALE,D - PROTAPER GOLD 25 MM - F2,1.0,1964.29,1782.00
753904,2019-12-31,"DR.RAVINDRANATH, TALIPARAMBA",D-ROTARY PROTAPER (SX) 19MM ORANGE,1.0,2000.00,1754.50
753905,2019-12-31,"MR. HARIS, SALES",GC FUJI 9 EXTRA - A3,1.0,2212.20,2283.00
753906,2019-12-31,M/S.MAHE INSTITUTE OF DENTAL SCIENCE & HOSPITAL,CARESTREAM X-RAY FILM DENTAL ADULT (SIZE 2),30.0,2350.00,2075.00
753907,2019-12-31,M/S MIDAC MANJERI,3M KETAK CEM RADIOPAQUE,1.0,2366.07,2075.00
753908,2019-12-31,"DR.SABEENATH,ERNJIPPALAM",BEING AIROTOR SUPERTORQUE HP,2.0,2389.38,2000.00
753909,2019-12-31,"DR.SHIYAZ,OMASSERY.",CARESTREAM X-RAY FILM DENTAL ADULT (SIZE 2),1.0,2450.00,2075.00
753910,2019-12-31,"M/S. ASHOKA HOSPITAL, CALICUT",HEALIGUIDE (20X30MM),1.0,2480.00,2065.00
753911,2019-12-31,"DR. VARUN NAMBIAR, PAYYANNUR",OSSEOGRAFT,1.0,2480.00,2065.00
753912,2019-12-31,"M/S.CICS MEDICAL CENTRE,KOLATHARA.",GC FUJI 9 EXTRA - A3,1.0,2500.00,2283.00
753913,2019-12-31,"DR.BABU, KODENCHERY",GC FUJI 9 EXTRA - A3,1.0,2522.12,2283.00
753914,2019-12-31,CHC IRIKUR,GC FUJI 9 EXTRA A3.5,4.0,2550.00,2283.40
753915,2019-12-31,DR DHANALAXMI VARUN NELESWARAM,GC FUJI 9 EXTRA - A3,1.0,2625.00,2283.00
753916,2019-12-31,"DR.,JOSEPH KASARKODE",GC FUJI 9 EXTRA - A3,1.0,2625.00,2283.00
753917,2019-12-31,"DR. VARUN NAMBIAR, PAYYANNUR",GC FUJI 9 EXTRA - A3,1.0,2625.00,2283.00
753918,2019-12-31,"DR.PRADEEP KUMAR C, CALICUT",GC FUJI 1 LARGE,1.0,2700.00,2381.50
753919,2019-12-31,"DR. SULFEEKER ALI, ENGAPUZHA",POLA OFFICE KIT - SDI,1.0,2750.00,2075.00
753920,2019-12-31,"M/S.CRISTHURAJA DENTAL CLINIC, IRITTY",POLA OFFICE KIT - SDI,1.0,2750.00,2075.00
753921,2019-12-31,M/S MIDAC MANJERI,GC FUJI FLEXCEED KIT,1.0,2900.00,2450.00
753922,2019-12-31,"DR.SHIYAZ,OMASSERY.",VOCO - MERON PLUS QM,1.0,3035.71,2500.00
753923,2019-12-31,"GOVT. DENTAL COLLEGE, THRISSUR",SEPTODONT ASPIRATING SYRING TITANIUM (FUSION),1.0,3200.00,2571.00
753924,2019-12-31,CHC IRIKUR,3M SINGLE BOND UNIVERSAL 5ML,1.0,3275.00,2849.50
753925,2019-12-31,"DR.SHIYAZ,OMASSERY.",3M SINGLE BOND UNIVERSAL 5ML,1.0,3275.00,2849.50
753926,2019-12-31,CHC IRIKUR,SEPTODONT UNIMATRIX KIT - BIG,1.0,3375.00,2393.00
753927,2019-12-31,"DR.A.V.SREE KUMAR, PAYYANNUR",GC G-PREMIO BOND,1.0,3900.00,3332.00
753928,2019-12-31,COUNTER SALE,MARATHON LAB MICRO MOTOR FULL SET,1.0,5357.14,5000.00
753929,2019-12-31,M/S.MAHE INSTITUTE OF DENTAL SCIENCE & HOSPITAL,3M - TRANSBOND XT SYRINGE KIT,2.0,6696.42,6313.00
753930,2019-12-31,M/S.MALABAR EDUCATIONAL&CHARITABLE TRUST,3M - TRANSBOND XT SYRINGE KIT,1.0,6800.00,6313.00
753931,2019-12-31,"DR.VINU, RAMANATTUKARA",GC TOOTH MOUSSE - VANILLA,0.2,7143.00,5782.00
753932,2019-12-31,DR.PRANEESH PRAHLADHAN,WOODPECKER APEX LOCATOR,1.0,10000.00,8000.00
753933,2019-12-31,"GOVT.DENTAL COLLEGE,CALICUT",SKYDENT UNDER HANGING DENTAL CHAIR (BASIC),2.0,86607.14,72250.00
753934,2019-12-31,"GOVT.DENTAL COLLEGE,CALICUT",MARATHON CLINICAL MICROMOTOR CORD 33 E,2.0,2500.00,2500.00

In [10]:
len(df.customer_name)

753935

In [11]:
df = df[df.customer_name != 'CARE DENT DENTAL SUPPLIERS']
df = df[df.customer_name != 'CEE YEM SURGICALS']
df = df[df.customer_name != 'CHERUTHOTTATHIL DENTAL PRODUCTS&SERVICES']
df = df[df.customer_name != 'CROMWELL DENTAL SOLUTIONS']
df = df[df.customer_name != 'CANINE DENTALS']
df = df[df.customer_name != 'BCC INTERNATIONAL']
df = df[df.customer_name != 'BLUOCEANA DENTAL PRIVATE LIMITED']
df = df[df.customer_name != 'AR MEDI TECH,THRISSUR']
df = df[df.customer_name != 'APEXION DENTAL PRODUCTS & SERVICES- Dr.']
df = df[df.customer_name != 'AMPLE DENTAL PRODUCTS PAYYANNUR']
df = df[df.customer_name != 'ABZ DENTALS']
df = df[df.customer_name != 'GOVT.DENTAL COLLEGE,KOTTAYAM']
df = df[df.customer_name != 'GOVT.DENTAL COLLEGE,CALICUT']
df = df[df.customer_name != 'APEXION DENTAL PRODUCTS & SERVICES- Dr.']
df = df[df.customer_name != 'M/S,IQRA HOSPITAL,CALICUT']
df = df[df.customer_name != 'M/S.P S M DENTAL COLLEGE, TRISSUR']
df = df[df.customer_name != 'M/S.SHIFA DENTAL CLINIC, RAMANATTUKARA']
df = df[df.customer_name != 'M/S.MALABAR EDUCATIONAL&CHARITABLE TRUST']
df = df[df.customer_name != 'KCK DENTAL PVT. LTD. (DR)']
df = df[df.customer_name != 'M/S. EDUCARE INSTITUTE OF DENTAL SCIENCE, MALAPPURA']
df = df[df.customer_name != 'M/S.MAHE INSTITUTE OF DENTAL SCIENCE & HOSPITAL']
df = df[df.customer_name != 'M/S.KMCT DENTAL COLLEGE,MAMBATTA(2014-15)']
df = df[df.customer_name != 'Cash']
df = df[df.customer_name != 'COUNTER SALE']
df = df[df.customer_name != 'K C K DENTAL(TVM)-DR.']
df = df[df.customer_name != 'KCK EQUIPMENTS CO. PVT. LTD. (DR)']
df = df[df.customer_name != '48TH KSDC - ALOHA 16']
df = df[df.customer_name != '50TH IDA KSDC - SALES']
df = df[df.customer_name != 'M/S.CRISTHURAJA DENTAL CLINIC, IRITTY']
df = df[df.customer_name != 'IDC 2020']
df = df[df.customer_name != 'M/S. MALABAR MEDICAL COLLEGE HOSPITAL - MODAKKALLUR']
df = df[df.customer_name != 'M/S.CHUNGATHARA MULTY SPECIALITY DENTAL CLINIC,']
df = df[df.customer_name != 'M/S.M.S.DENTAL CLINIC,NARIKUNI']
df = df[df.customer_name != 'M/S.MIMS HOSPITAL, CALICUT']
df = df[df.customer_name != 'KCK DENTAL PVT. LTD. - ONLINE']
df = df[df.customer_name != 'M/S SMILE DENTAL CLINIC,RAMANATTUKARA']
df = df[df.customer_name != 'M/S.C M HOSPITAL,VADAKARA']
df = df[df.customer_name != 'M/S.TELY HOSPITAL, TALASSERY']
df = df[df.customer_name != 'M/S.UNION TERRITORY OF LAKSHADWEEP']
df = df[df.customer_name != 'M/S.PARIYARAM MEDICAL COLLEGE, PARIYARAM']
df = df[df.customer_name != 'M/S.M E S DENTAL COLLEGE, PERINTHALMANNA']
df = df[df.customer_name != 'M/S.M A DENTAL CLINIC , MUKKAM']
df = df[df.customer_name != 'IDS DENMED PRIVATE LTD, KOCHI']
df = df[df.customer_name != 'THE BADAKARA SAHAKARANA ASHUPATHRI LTD']
df = df[df.customer_name != 'M/S MA DENTAL CARE MUKKAM']
df = df[df.customer_name != 'M/S KONGAD SPECIALITY DENTAL CARE, PALAKKAD']
df = df[df.customer_name != 'M/S,MALABAR DIAGNOSTICS,CALICUT.']
df = df[df.customer_name != 'M/S.APPOLO DENTAL CARE,KAKKAYANGAD']
df = df[df.customer_name != 'M/S.ESAF HOSPITAL & RESEARCH CENTRE, PALAKKAD']
df = df[df.customer_name != 'M/S.CARE WELL HOSPITAL,RAMANATTUKARA']
df = df[df.customer_name != 'M/S.M. M. R. DENTALS']
df = df[df.customer_name != 'M/S.SHANTHI HOSPITAL, OMASSERY']
df = df[df.customer_name != 'DISTRICT HOSPITAL THIRUR']

df = df[df.customer_name != 'KALYAN ENTERPRISES']
df = df[df.customer_name != 'MEDICAL & DENTAL EQUIPS']
df = df[df.customer_name != 'MOHAMMED RAFI.M']
df = df[df.customer_name != 'M/S.COCHIN DENTAL EQUIPMENTS']
df = df[df.customer_name != 'M/S.DEEPAK DENTAL PRODUCTS']
df = df[df.customer_name != 'M/S.DENTAL COSMETICS']
df = df[df.customer_name != 'M/S. DENTNEED,TRIVANDRUM']
df = df[df.customer_name != 'M/S,DENTO GUARD']
df = df[df.customer_name != 'M/S DOCMART,CALICUT']

df = df[df.customer_name != 'M/S.EASY DENTAL SOLUTIONS']
df = df[df.customer_name != 'M/S.I DENTAL SALES & SERVICE']
df = df[df.customer_name != 'M/S.KUNNAMKULAM DENTAL DEPOT']
df = df[df.customer_name != 'M/S.ORAL DENT']
df = df[df.customer_name != 'M/S.SAHYADRI DENTALS, KANNUR']
df = df[df.customer_name != 'M/S.SANDROW DENTAL CORPORATION, KATTAPPANA']
df = df[df.customer_name != 'M/S SARJ DENTAL AND SURGICLS ,KOTTAYAM']
df = df[df.customer_name != 'M/S.UK MEDICALS, CALICUT']
df = df[df.customer_name != 'M/S.V.DENTAL.KOTTAYAM.']
df = df[df.customer_name != 'OSHO DENTALS']
df = df[df.customer_name != 'PARIYARAM SURGICALS & DENTAL DEPOT']
df = df[df.customer_name != 'SALEDENTSHOP']
df = df[df.customer_name != 'M/S.SALEDENTSHOP']
df = df[df.customer_name != 'ZZZZ M/S.SALEDENTSHOP']
df = df[df.customer_name != 'SREERAJ SURGICALS KANNUR']
df = df[df.customer_name != 'M/S.MIDAC PVT. LTD., CALICUT']

df = df[df.customer_name != 'EDUCARE INSTITUTE OF DENTAL SCIENCES']
df = df[df.customer_name != 'GOVT.DENTAL COLLEGE,CALICUT']
df = df[df.customer_name != 'GOVT.DENTAL COLLEGE,KOTTAYAM']
df = df[df.customer_name != 'GOVT.DENTAL COLLEGE,THIRUVANATHAPURAM']
df = df[df.customer_name != 'GOVT. DENTAL COLLEGE, THRISSUR']
df = df[df.customer_name != 'GOVT.MEDICAL COLLEGE HOSPITAL,KANNUR']
df = df[df.customer_name != 'INDIRA GANDHI INSTITUTE OF DENTAL SCIENCES']
df = df[df.customer_name != 'KANNUR DENTAL COLLEGE']
df = df[df.customer_name != 'MALABAR MEDICAL COLLEGE HOSPITAL&RESEARCH CENTRE']
df = df[df.customer_name != 'M/S.AMRITA ENTERPRISES (P) LTD.']
df = df[df.customer_name != 'M/S.AMRITA INSTITUTE OF MED. SCIENCES & RES. CENTRE']
df = df[df.customer_name != 'M/S.ANNOOR DENTAL COLLEGE,MUVATTUPUZHA']
df = df[df.customer_name != 'M/S.CENTURY DENTAL COLLEGE,KASARGODE']
df = df[df.customer_name != 'M/S.DM WAYANAD INSTITUTE OF MEDICAL SCIENCES']
df = df[df.customer_name != 'M/S.GOVT. DENTAL COLLEGE, CALICUT']
df = df[df.customer_name != 'M/S.KMCT DENTAL COLLEGE,MAMBATTA(2014-15)']
df = df[df.customer_name != 'M/S.K M C T DENTAL COLLEGE, MANASSERY']
df = df[df.customer_name != 'M/S.MAHE INSTITUTE OF DENTAL SCIENCE & HOSPITAL']
df = df[df.customer_name != 'M/S.MALABAR EDUCATIONAL&CHARITABLE TRUST']
df = df[df.customer_name != 'M/S. MAR BASELIOS DENTAL COLLEGE, KOTHAMANGALAM']
df = df[df.customer_name != 'M/S.M E S DENTAL COLLEGE (2017-18)']
df = df[df.customer_name != 'M/S.P S M DENTAL COLLEGE, TRISSUR']
df = df[df.customer_name != 'M/S.ROYAL DENTAL COLLEGE, CHALUSSERY']
df = df[df.customer_name != 'PRINCIPAL.GOVT.DENTAL COLLEGE,KOTTAYAM']

df = df[df.customer_name != 'PUSHPAGIRI COLLEGE OF DENTAL SCIENCES']
df = df[df.customer_name != 'ST.GREGORIOS DENTAL COLLEGE']
df = df[df.customer_name != 'PUSHPAGIRI MEDICAL COLLEGE HOSPITAL']
df = df[df.customer_name != 'STUDENTS GOVT. DENTAL COLLEGE CALICUT']
df = df[df.customer_name != 'THE DISTRICT HEALTH OFFICER']
df = df[df.customer_name != 'THE DIRECTOR OF HEALTH SERVICES']
df = df[df.customer_name != 'HI-DENT TRADERS&EXPORTERS LLP']

df = df[df.customer_name != 'CSIPL']
df = df[df.customer_name != 'DBS TRADING INDIA PVT.LTD ALAPPUZHA']
df = df[df.customer_name != 'DENTAL WORLD, KOCHI']
df = df[df.customer_name != 'DENTA SALES TVM']
df = df[df.customer_name != 'DENTMED DENTAL HUB']
df = df[df.customer_name != 'DENTSALES KOTTAYAM']
df = df[df.customer_name != 'DENT SURGICALS']
df = df[df.customer_name != 'DEN VIEW']
df = df[df.customer_name != 'GREEN DENTAL']

In [12]:
len(df.customer_name)

615347

In [13]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')

In [14]:
#df.to_csv('input_data_new.csv', index = False)

In [15]:
df['profit'] = df['billed_quantity']*(df['sale_price'] - df['cost_price'])

In [16]:
df['quarters'] = df.date.dt.quarter
df['year'] = pd.DatetimeIndex(df['date']).year
df['QY']= df['year'].astype(str) + df['quarters'].astype(str)

In [17]:
df.sort_values("QY", axis = 0, ascending = True, 
                 inplace = True, na_position ='last') 
qy_val = df.QY.unique() 
qy_val

array(['20112', '20113', '20114', '20121', '20122', '20123', '20124',
       '20131', '20132', '20133', '20134', '20141', '20142', '20143',
       '20144', '20151', '20152', '20153', '20154', '20161', '20162',
       '20163', '20164', '20171', '20172', '20173', '20174', '20181',
       '20182', '20183', '20184', '20191', '20192', '20193', '20194',
       '20201', '20202', '20203', '20204'], dtype=object)

In [18]:
l = len(qy_val)
i=0
while(i<l):
    globals()['df%s' % i] = df[df['QY']==qy_val[i]]
    i = i+1

In [19]:
df0.tail()

,date,customer_name,item_name,billed_quantity,sale_price,cost_price,profit,quarters,year,QY
121836,2011-05-06,DR. ARJUN. M.R. CALICUT,COTTON-LP,5.0,115.34,36.00,396.70,2,2011,20112
121837,2011-05-06,DR. ARJUN. M.R. CALICUT,DIE TONE GYPROCK 1KG,3.0,115.34,45.12,210.66,2,2011,20112
43944,2011-05-03,"DR.SUNIL KUMAR, QUILANDY",SURAKSHA GLOUSE MEDIUM,2.0,221.07,152.00,138.14,2,2011,20112
43945,2011-05-03,"DR.ABDUL WARRIS, QUILANDY",SURAKSHA GLOUSE SMALL,2.0,221.07,152.00,138.14,2,2011,20112
121835,2011-05-06,"DR.SATHEESH,SREEKANDAPURAM",DIE TONE GYPROCK 1KG,1.0,115.34,45.12,70.22,2,2011,20112

In [20]:
scaler = MinMaxScaler()

In [21]:
def order_cluster(cluster_field_name, target_field_name,df_,ascending):
    new_cluster_field_name = 'new_' + cluster_field_name
    df_new = df_.groupby(cluster_field_name)[target_field_name].mean().reset_index()
    df_new = df_new.sort_values(by=target_field_name,ascending=ascending).reset_index(drop=True)
    df_new['index'] = df_new.index
    df_final = pd.merge(df_,df_new[[cluster_field_name,'index']], on=cluster_field_name)
    df_final = df_final.drop([cluster_field_name],axis=1)
    df_final = df_final.rename(columns={"index":cluster_field_name})
    return df_final

In [22]:
#from df1 only, since removing 201101

In [23]:
i = 0
while (i<l):
    globals()['df_frequency%s' % i] = globals()['df%s' % i].groupby('customer_name').date.count().reset_index()
    globals()['df_frequency%s' % i].columns = ['customer_name','frequency']
    globals()['df_profit%s' % i] = globals()['df%s' % i].groupby('customer_name').profit.sum().reset_index()
    globals()['df_profit%s' % i].columns = ['customer_name','profit']
    globals()['df_user%s' % i] = pd.merge(globals()['df_profit%s' % i], globals()['df_frequency%s' % i], on='customer_name')  
    globals()['df_user%s' % i]['QY'] = qy_val[i]
    globals()['df_user%s' % i][['frequency','profit']] = scaler.fit_transform(globals()['df_user%s' % i][['frequency','profit']])
    kmeans = KMeans(n_clusters=9)
    kmeans.fit(globals()['df_user%s' % i][['frequency']])
    globals()['df_user%s' % i]['frequency_cluster'] = kmeans.predict(globals()['df_user%s' % i][['frequency']])
    globals()['df_user%s' % i] = order_cluster('frequency_cluster', 'frequency',globals()['df_user%s' % i],False)
    kmeans = KMeans(n_clusters=9)
    kmeans.fit(globals()['df_user%s' % i][['profit']])
    globals()['df_user%s' % i]['profit_cluster'] = kmeans.predict(globals()['df_user%s' % i][['profit']])
    globals()['df_user%s' % i] = order_cluster('profit_cluster', 'profit',globals()['df_user%s' % i],False)
    globals()['df_user%s' % i]['PF_score'] = globals()['df_user%s' % i]['frequency_cluster'] + 4*globals()['df_user%s' % i]['profit_cluster']
    i= i+1

In [24]:
df_user20.describe()

,profit,frequency,frequency_cluster,profit_cluster,PF_score
count,1066.000000,1066.000000,1066.000000,1066.000000,1066.000000
mean,0.039427,0.065382,6.425891,7.323640,35.720450
std,0.036723,0.093104,1.779024,1.046947,5.546279
min,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.028696,0.007663,5.000000,7.000000,33.000000
50%,0.031926,0.034483,7.000000,8.000000,38.000000
75%,0.039807,0.080460,8.000000,8.000000,40.000000
max,1.000000,1.000000,8.000000,8.000000,40.000000

In [25]:
i = 0
list_of_dataframes = []
while(i<l):
    list_of_dataframes.append(globals()['df_user%s' % i])
    i = i+1

In [26]:
list_of_dataframes

[                          customer_name    profit  frequency     QY  \
 0                  ANJALI INCORPORATION  0.945354   0.005556  20112
 1    DR  RANJITH,DENTAL COLLEGE CALICUT  0.945234   0.000000  20112
 2                  DR ,KANCHANA, COCHIN  0.945499   0.000000  20112
 3               DR .SONIYA , S. BATHERY  0.945383   0.005556  20112
 4             DR AJAYKUMAR. KUTTIPPURAM  0.945914   0.000000  20112
 ..                                  ...       ...        ...    ...
 580                 DR.BIJU P V, KANNUR  0.910908   0.144444  20112
 581     DR.GEORGE ABRAHAM, AMABALAVAYIL  0.907105   0.061111  20112
 582           DR NIRMAL MOIDU,TALASSERY  0.917080   0.277778  20112
 583       K.C.K.EQUIPMENT CO. PVT. LTD.  0.994123   0.344444  20112
 584                 MR.FEBHEESH,CALICUT  1.000000   0.394444  20112

      frequency_cluster  profit_cluster  PF_score
 0                    8               4        24
 1                    8               4        24
 2                    8               4        24
 3                    8               4        24
 4                    8               4        24
 ..                 ...             ...       ...
 580                  5               7        33
 581                  7               7        35
 582                  4               7        32
 583                  3               0         3
 584                  2               0         2

 [585 rows x 7 columns],
                           customer_name    profit  frequency     QY  \
 0                             DENTSALES  0.941687   0.030303  20113
 1              DR . RAJ GOPAL, KASARGOD  0.945271   0.007576  20113
 2                DR . VASU, KUTTIPPURAM  0.944395   0.000000  20113
 3               DR .SONIYA , S. BATHERY  0.944335   0.007576  20113
 4    DR ANAND, DENTAL COLLEGE , CALICUT  0.944329   0.030303  20113
 ..                                  ...       ...        ...    ...
 580                   DENTSALES,KANNUR.  0.905547   0.121212  20113
 581             DR.SADIQUE ALI, MANJERI  0.900004   0.348485  20113
 582                        MR.SHYJAL K.  1.000000   0.106061  20113
 583             DR.ABDUL SAMAD,PERAMBRA  0.972693   0.651515  20113
 584                 MR.FEBHEESH,CALICUT  0.862443   0.469697  20113

      frequency_cluster  profit_cluster  PF_score
 0                    8               3        20
 1                    8               3        20
 2                    8               3        20
 3                    8               3        20
 4                    8               3        20
 ..                 ...             ...       ...
 580                  6               6        30
 581                  3               6        27
 582                  6               0         6
 583                  1               1         5
 584                  2               7        30

 [585 rows x 7 columns],
                                  customer_name    profit  frequency     QY  \
 0                                    DENTSALES  0.986231   0.005181  20114
 1                          DR . IHLAS. CALICUT  0.986399   0.010363  20114
 2                       DR . VASU, KUTTIPPURAM  0.986228   0.000000  20114
 3           DR ANAND, DENTAL COLLEGE , CALICUT  0.986313   0.015544  20114
 4                        DR BRIJESH, KATTANGAL  0.986295   0.020725  20114
 ..                                         ...       ...        ...    ...
 571  M/S. DHANWANTHARI DENTAL PRODUCTS, COCHIN  0.986880   0.119171  20114
 572              MR. PRADEEP SALIAN, MANGALORE  0.988050   0.129534  20114
 573                        DR.BISWAS, KALPETTA  0.988377   0.782383  20114
 574                        MR.FEBHEESH,CALICUT  1.000000   0.466321  20114
 575                                   MR.SADIK  0.000000   1.000000  20114

      frequency_cluster  profit_cluster  PF_score
 0                    8               3        20
 1                    8               3        20
 2                    8               3        20
 3                    8               3        20
 4                    8               3        20
 ..                 ...             ...       ...
 571                  5               2        13
 572                  5               2        13
 573                  0               2         8
 574                  1               0         1
 575                  0               8        32

 [576 rows x 7 columns],
                            customer_name    profit  frequency     QY  \
 0                              DENTSALES  0.831047   0.004598  20121
 1              DR AJAYKUMAR. KUTTIPPURAM  0.826858   0.006897  20121
 2                 DR HRIDHYA , NADAKKAVU  0.826732   0.004598  20121
 3             DR N.C GEORGE KOOTHUPARAMB  0.831156   0.000000  20121
 4                   DR RINEESH, PALAKKAD  0.825877   0.000000  20121
 ..                                   ...       ...        ...    ...
 576  DR.BABU VIJAYA SANKAR, MANANTHAVADY  0.000000   0.011494  20121
 577     DR. RAM MOHAN K.N(MDS), SULLIYAL  0.145430   0.025287  20121
 578            SKINNERS DENTAL MATERIALS  0.090914   0.020690  20121
 579       M/S INFRA SCIENTIFIC,THRISSUR,  0.323519   0.016092  20121
 580             M/S.ERNAKULAM DENTA CARE  0.495577   1.000000  20121

      frequency_cluster  profit_cluster  PF_score
 0                    8               2        16
 1                    8               2        16
 2                    8               2        16
 3                    8               2        16
 4                    8               2        16
 ..                 ...             ...       ...
 576                  8               8        40
 577                  7               7        35
 578                  7               7        35
 579                  7               6        31
 580                  0               5        20

 [581 rows x 7 columns],
                            customer_name    profit  frequency     QY  \
 0                      DENTSALES,KANNUR.  0.583133   0.052863  20122
 1    DR,JAYAKRISHNAN,DENTAL COLLAGE,CLT.  0.577035   0.061674  20122
 2       DR. PREETHA NISHA NASEEM, CHOKLY  0.586105   0.074890  20122
 3                      DR.BINDU,PERAVOOR  0.579904   0.079295  20122
 4                       DR.CHANDRAN KAJE  0.579461   0.057269  20122
 ..                                   ...       ...        ...    ...
 539             DR.RIZWAN.PARAMBILBAZAR.  0.487279   0.444934  20122
 540  DR.BABU VIJAYA SANKAR, MANANTHAVADY  0.000000   0.026432  20122
 541                  DR.ISMAIL.KASARKODE  0.111213   0.017621  20122
 542                  MR.FEBHEESH,CALICUT  1.000000   0.207048  20122
 543               DR.VINU, RAMANATTUKARA  0.882305   0.731278  20122

      frequency_cluster  profit_cluster  PF_score
 0                    7               3        19
 1                    7               3        19
 2                    7               3        19
 3                    7               3        19
 4                    7               3        19
 ..                 ...             ...       ...
 539                  2               6        26
 540                  8               8        40
 541                  8               8        40
 542                  4               0         4
 543                  1               1         5

 [544 rows x 7 columns],
                      customer_name    profit  frequency     QY  \
 0     AZURE LABORATORIES PVT. LTD.  0.850582   0.000000  20123
 1                        DENTSALES  0.850236   0.000000  20123
 2        DR ARUN KUMAR,CHERUVATHUR  0.851008   0.020661  20123
 3                DR JACOB JOHN CLT  0.850272   0.000000  20123
 4       DR N.C GEORGE KOOTHUPARAMB  0.850836   0.008264  20123
 ..                             ...       ...        ...    ...
 551      SKINNERS DENTAL MATERIALS  0.708800   0.037190  20123
 552                       MR.SADIK  0.731458   0.735537  20123
 553     DR.SREELESH, CHAKARAKKALLU  0.000000   0.086777  20123
 554            MR.FEBHEESH,CALICUT  1.000000   0.384298  20123
 555  M/S MIDAC PVT LTD, ERNAMKULAM  0.563538   1.000000  20123

      frequency_cluster  profit_cluster  PF_score
 0                    8               3        20
 1                    8               3        20
 2                    8               3        20
 3                    8               3        20
 4                    8               3        20
 ..                 ...             ...       ...
 551                  7               6        31
 552                  1               6        25
 553                  6               8        38
 554                  3               0         3
 555                  0               7        28

 [556 rows x 7 columns],
                   customer_name    profit  frequency     QY  \
 0                DENTSALES (DR)  0.877156   0.000000  20124
 1           DR . IHLAS. CALICUT  0.874811   0.009302  20124
 2      DR . RAJ GOPAL, KASARGOD  0.875017   0.000000  20124
 3    DR SHIVASHANKARAN, CALICUT  0.876563   0.018605  20124
 4    DR USHA VIJAYAN, KASARGODE  0.874512   0.027907  20124
 ..                          ...       ...        ...    ...
 572           DENTSALES,KANNUR.  0.529316   0.097674  20124
 573                    MR.SADIK  0.578123   0.748837  20124
 574  DR.MATHAI K JOSEPH, KANNUR  0.952184   0.051163  20124
 575     DR.ABDUL SAMAD,PERAMBRA  1.000000   0.330233  20124
 576          DR.RISLA, NILAMBUR  0.435834   0.613953  20124

      frequency_cluster  profit_cluster  PF_score
 0                    8               2        16
 1                    8               2        16
 2                    8               2        16
 3                    8               2        16
 4                    8               2        16
 ..                 ...             ...       ...
 572                  6               6        30
 573                  1               6        25
 574                  7               0         7
 575                  3               0         3
 576                  1               7        29

 [577 rows x 7 columns],
                            customer_name    profit  frequency     QY  \
 0                      DENTSALES,KANNUR.  0.750990   0.077626  20131
 1                DR SALMATHNEESA,CALICUT  0.759736   0.105023  20131
 2                 DR,ANEESH,KAMBALAKKAD.  0.761288   0.091324  20131
 3    DR,JAYAKRISHNAN,DENTAL COLLAGE,CLT.  0.764713   0.073059  20131
 4                     DR,RAMYA, PALAKKAD  0.762926   0.114155  20131
 ..                                   ...       ...        ...    ...
 622              DR.FRANCE JOSE, MEPPADI  0.564556   0.273973  20131
 623                              DR. SAN  0.553712   0.607306  20131
 624                  DR.BISWAS, KALPETTA  0.569865   0.698630  20131
 625                    DR.SALIH, EDAPPAL  0.370811   0.433790  20131
 626                             MR.SADIK  0.317866   1.000000  20131

      frequency_cluster  profit_cluster  PF_score
 0                    6               3        18
 1                    6               3        18
 2                    6               3        18
 3                    6               3        18
 4                    6               3        18
 ..                 ...             ...       ...
 622                  4               6        28
 623                  1               6        25
 624                  1               6        25
 625                  2               7        30
 626                  0               7        28

 [627 rows x 7 columns],
                            customer_name    profit  frequency     QY  \
 0                              DENTSALES  0.330311   0.000000  20132
 1           DR . SUNIL MOHAMMED, PONNANI  0.333438   0.000000  20132
 2             DR USHA VIJAYAN, KASARGODE  0.330528   0.000000  20132
 3                     DR,ANOOP,QUILANDY.  0.336773   0.013636  20132
 4               DR,ASHA BHATT,KASARKODE.  0.334564   0.013636  20132
 ..                                   ...       ...        ...    ...
 756                  DR.ANWAR,KOTTAKKAL.  1.000000   1.000000  20132
 757           M/S.KARUNYA MEDICAL CENTRE  0.803068   0.709091  20132
 758  DR.SANTHOSH, CALICUT (PERIODONTIST)  0.155206   0.122727  20132
 759            DR. RANJITH, MANANDHAVADY  0.243515   0.381818  20132
 760                   DR.VINEETH,KOTOOLI  0.000000   0.068182  20132

      frequency_cluster  profit_cluster  PF_score
 0                    8               6        32
 1                    8               6        32
 2                    8               6        32
 3                    8               6        32
 4                    8               6        32
 ..                 ...             ...       ...
 756                  0               0         0
 757                  0               0         0
 758                  5               7        33
 759                  2               7        30
 760                  6               8        38

 [761 rows x 7 columns],
                           customer_name    profit  frequency     QY  \
 0          AZURE LABORATORIES PVT. LTD.  0.160744   0.000000  20133
 1    DR  RANJITH,DENTAL COLLEGE CALICUT  0.161096   0.000000  20133
 2          DR . SATHEESH SHANKER, ADOOR  0.164122   0.000000  20133
 3             DR ARUN KUMAR,CHERUVATHUR  0.160904   0.005525  20133
 4              DR ASHRAF, CHAGARAMKULAM  0.162588   0.022099  20133
 ..                                  ...       ...        ...    ...
 826               DR.MOHAZIN, POTTAMMAL  0.518165   0.403315  20133
 827          DR.SABEESH SIVADAS,CHEMMAD  0.530597   0.441989  20133
 828         MR.JAISON GABRIAL,EDAPPALI.  0.515119   0.171271  20133
 829                            MR.SADIK  0.526510   0.734807  20133
 830                  DR.FAHAD, BADAGARA  1.000000   0.580110  20133

      frequency_cluster  profit_cluster  PF_score
 0                    8               7        36
 1                    8               7        36
 2                    8               7        36
 3                    8               7        36
 4                    8               7        36
 ..                 ...             ...       ...
 826                  2               2        10
 827                  2               2        10
 828                  5               2        13
 829                  1               2         9
 830                  1               0         1

 [831 rows x 7 columns],
                            customer_name    profit  frequency     QY  \
 0     DR  RANJITH,DENTAL COLLEGE CALICUT  0.069222   0.022587  20134
 1                           DR KAVITHA.G  0.073521   0.016427  20134
 2    DR,JAYAKRISHNAN,DENTAL COLLAGE,CLT.  0.068186   0.020534  20134
 3         DR. BIJI KURIAN, PERITHALMANNA  0.068513   0.014374  20134
 4           DR. MINI ZAKARIYA, MALAPURAM  0.068251   0.018480  20134
 ..                                   ...       ...        ...    ...
 715           DR.SREELESH, CHAKARAKKALLU  0.226954   0.121150  20134
 716         DR.RAVINDRANATH, TALIPARAMBA  0.240468   0.252567  20134
 717                         K C K DENTAL  0.288692   1.000000  20134
 718                  DR.MOHZIN, NILAMBUR  1.000000   0.133470  20134
 719              DR.ABDUL SAMAD,PERAMBRA  0.518218   0.285421  20134

      frequency_cluster  profit_cluster  PF_score
 0                    7               7        35
 1                    7               7        35
 2                    7               7        35
 3                    7               7        35
 4                    7               7        35
 ..                 ...             ...       ...
 715                  4               3        16
 716                  2               3        14
 717                  0               3        12
 718                  3               0         3
 719                  1               1         5

 [720 rows x 7 columns],
                               customer_name    profit  frequency     QY  \
 0              AZURE LABORATORIES PVT. LTD.  0.369970   0.000000  20141
 1        DR  RANJITH,DENTAL COLLEGE CALICUT  0.369897   0.005682  20141
 2          DR ABDUL MUSAFIR BDS, KADAMPUZHA  0.371933   0.000000  20141
 3                 DR ARUN KUMAR,CHERUVATHUR  0.370528   0.017045  20141
 4                  DR ASHRAF, CHAGARAMKULAM  0.370310   0.022727  20141
 ..                                      ...       ...        ...    ...
 730                                MR.SADIK  0.556031   0.789773  20141
 731  M/S.BALSAM MEDICAL FOUNDATION PVT. LTD  1.000000   0.022727  20141
 732      KCK EQUIPMENTS CO. PVT. LTD(IMPEX)  0.918172   0.642045  20141
 733                      DR.HASHIF, CALICUT  0.000000   0.062500  20141
 734               DR.SHALINI MEVADA, KANNUR  0.244880   0.051136  20141

      frequency_cluster  profit_cluster  PF_score
 0                    8               6        32
 1                    8               6        32
 2                    8               6        32
 3                    8               6        32
 4                    8               6        32
 ..                 ...             ...       ...
 730                  0               1         4
 731                  8               0         8
 732                  1               0         1
 733                  7               8        39
 734                  7               7        35

 [735 rows x 7 columns],
                         customer_name    profit  frequency     QY  \
 0                CARMEL DENTAL CLINIC  0.227430   0.174359  20142
 1     DR,BLECIT ABRAHAM,MANANTHAVADY.  0.225601   0.148718  20142
 2           DR.ALEX KORA,THAMARASSERY  0.238047   0.184615  20142
 3              DR.ANAZ K.R., NARIKUNI  0.224773   0.133333  20142
 4            DR.ANIL KUMAR, ORKATTERY  0.233055   0.128205  20142
 ..                                ...       ...        ...    ...
 762        DR.SUNEETHI MENON, CALICUT  0.556037   0.184615  20142
 763     M/S.SK DENTAL CLINIC.EDAVANNA  0.575326   0.035897  20142
 764           DR.ABDUL SAMAD,PERAMBRA  0.696057   0.343590  20142
 765        DR.SABEESH SIVADAS,CHEMMAD  0.000000   0.251282  20142
 766  DR.ABDUL QAYOOM,PARAMBIL PEEDIKA  1.000000   1.000000  20142

      frequency_cluster  profit_cluster  PF_score
 0                    5               5        25
 1                    5               5        25
 2                    5               5        25
 3                    5               5        25
 4                    5               5        25
 ..                 ...             ...       ...
 762                  5               1         9
 763                  7               1        11
 764                  3               1         7
 765                  4               8        36
 766                  0               0         0

 [767 rows x 7 columns],
                            customer_name    profit  frequency     QY  \
 0    AL-AMAL MEDICAL CENTRE, OTHUKKUNGAL  0.107626   0.018987  20143
 1     DR  RANJITH,DENTAL COLLEGE CALICUT  0.109235   0.012658  20143
 2          DR . ABHILASH NAIR, PAYYANNUR  0.107761   0.006329  20143
 3               DR ASHRAF, CHAGARAMKULAM  0.107774   0.006329  20143
 4             DR N.C GEORGE KOOTHUPARAMB  0.107349   0.000000  20143
 ..                                   ...       ...        ...    ...
 792           DR.SHYBA VINAYARAJ, KANNUR  0.000000   0.031646  20143
 793                    DR.ABRAHAM PHILIP  0.409187   0.094937  20143
 794         DR.MOHAMMED DINSHAD,KALIKAVU  0.481762   0.829114  20143
 795    DR.SHILPA ELIZABETH, THAMARASSERY  1.000000   0.677215  20143
 796   DR.BEFIN PHILIP MATHEW,WADUVANCHAL  0.682446   0.886076  20143

      frequency_cluster  profit_cluster  PF_score
 0                    8               7        36
 1                    8               7        36

In [27]:
df_cust = pd.concat(list_of_dataframes)

In [28]:
df_cust.head()

,customer_name,profit,frequency,QY,frequency_cluster,profit_cluster,PF_score
0,ANJALI INCORPORATION,0.945354,0.005556,20112,8,4,24
1,"DR RANJITH,DENTAL COLLEGE CALICUT",0.945234,0.000000,20112,8,4,24
2,"DR ,KANCHANA, COCHIN",0.945499,0.000000,20112,8,4,24
3,"DR .SONIYA , S. BATHERY",0.945383,0.005556,20112,8,4,24
4,DR AJAYKUMAR. KUTTIPPURAM,0.945914,0.000000,20112,8,4,24

In [29]:
df_cust.describe()

,profit,frequency,frequency_cluster,profit_cluster,PF_score
count,34690.000000,34690.000000,34690.000000,34690.000000,34690.000000
mean,0.200288,0.058086,6.644999,6.448977,32.440905
std,0.281976,0.096230,1.585187,1.822409,8.090004
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.029410,0.005613,6.000000,6.000000,28.000000
50%,0.067656,0.023256,7.000000,7.000000,35.000000
75%,0.196341,0.069672,8.000000,8.000000,39.000000
max,1.000000,1.000000,8.000000,8.000000,40.000000

In [30]:
df_cust[df_cust.frequency_cluster > 7]

,customer_name,profit,frequency,QY,frequency_cluster,profit_cluster,PF_score
0,ANJALI INCORPORATION,0.945354,0.005556,20112,8,4,24
1,"DR RANJITH,DENTAL COLLEGE CALICUT",0.945234,0.000000,20112,8,4,24
2,"DR ,KANCHANA, COCHIN",0.945499,0.000000,20112,8,4,24
3,"DR .SONIYA , S. BATHERY",0.945383,0.005556,20112,8,4,24
4,DR AJAYKUMAR. KUTTIPPURAM,0.945914,0.000000,20112,8,4,24
...,...,...,...,...,...,...,...
416,LIBRAL TRADERS PVT.LTD.,0.027688,0.000000,20204,8,6,32
417,M/S.SPRING GARDEN DENTAL.TRIVANDRUM.,0.027357,0.007407,20204,8,6,32
481,AK FASHION,0.129053,0.007407,20204,8,3,20
482,TRICHUR SURGICALS [PAT],0.113441,0.014815,20204,8,3,20
486,"DR.ANTONY THOMAS, CALICUT",0.060491,0.014815,20204,8,4,24

In [31]:
dict = {'2011.01.0' :'2011Q1', '2011.02.0':'2011Q2', '2011.03.0':'2011Q3', '2011.04.0':'2011Q4',
                
'2012.01.0':'2012Q1','2012.02.0':'2012Q2', '2012.03.0':'2012Q3', '2012.04.0':'2012Q4',

'2013.01.0':'2013Q1', '2013.02.0':'2013Q2','2013.03.0':'2013Q3', '2013.04.0':'2013Q4', 
                
'2014.01.0':'2014Q1', '2014.02.0':'2014Q2', '2014.03.0':'2014Q3','2014.04.0':'2014Q4', 
    
    
'2015.01.0':'2015Q1', '2015.02.0':'2015Q2', '2015.03.0':'2015Q3', '2015.04.0':'2015Q4',


'2016.01.0':'2016Q1', '2016.02.0':'2016Q2', '2016.03.0':'2016Q3', '2016.04.0':'2016Q4', 

'2017.01.0':'2017Q1','2017.02.0':'2017Q2', '2017.03.0':'2017Q3', '2017.04.0':'2017Q4',
                

'2018.01.0':'2018Q1', '2018.02.0':'2018Q2','2018.03.0':'2018Q3', '2018.04.0':'2018Q4', 

'2019.01.0':'2019Q1', '2019.02.0':'2019Q2', '2019.03.0':'2019Q3','2019.04.0':'2019Q4', 

'2020.01.0':'2020Q1', '2020.02.0':'2020Q2', '2020.03.0':'2020Q3', '2020.04.0':'2020Q4',
       'nannan':'2000NA'}

In [32]:
df_cust.replace({"QY": dict}, inplace = True)

In [33]:
df_cust.to_csv('calicut_customers_quarterwise.csv', index =False)

# combined

In [34]:
df_cust['twe_customers'] = df_cust['QY'].apply(lambda x : 1000 if x > '2019Q4' else 0)

In [35]:
df_cust

,customer_name,profit,frequency,QY,frequency_cluster,profit_cluster,PF_score,twe_customers
0,ANJALI INCORPORATION,0.945354,0.005556,20112,8,4,24,0
1,"DR RANJITH,DENTAL COLLEGE CALICUT",0.945234,0.000000,20112,8,4,24,0
2,"DR ,KANCHANA, COCHIN",0.945499,0.000000,20112,8,4,24,0
3,"DR .SONIYA , S. BATHERY",0.945383,0.005556,20112,8,4,24,0
4,DR AJAYKUMAR. KUTTIPPURAM,0.945914,0.000000,20112,8,4,24,0
...,...,...,...,...,...,...,...,...
498,"DR.SABEESH SIVADAS,CHEMMAD",0.053903,0.192593,20204,3,4,19,1000
499,"DR.SASIKUMAR, OTTAPPALAM",0.079160,0.177778,20204,3,4,19,1000
500,"DR.CYRIAC PHILIP,EANGAPUZHA",0.458586,0.355556,20204,1,1,5,1000
501,ELITE DENTAL STUDIO LLP,1.000000,0.288889,20204,1,0,1,1000
502,DR.HIBA UMMER OMASSERY,0.168794,1.000000,20204,0,2,8,1000

In [36]:
df_cust_date_min = df.groupby('customer_name').date.min().reset_index()

In [37]:
df_cust_date_min.columns = ['customer_name','date_min']

In [38]:
df_cust_date_max = df.groupby('customer_name').date.max().reset_index()

In [39]:
df_cust_date_max.columns = ['customer_name','date_max']

In [40]:
df_cust_date = pd.merge(df_cust_date_min, df_cust_date_max, on='customer_name')

In [41]:
df_cust_new_0 = df_cust.groupby('customer_name').twe_customers.sum().reset_index()

In [42]:
df_cust_new = df_cust.groupby('customer_name').profit_cluster.sum().reset_index()

In [43]:
df_cust_new_2 = df_cust.groupby('customer_name').frequency_cluster.sum().reset_index()

In [44]:
df_cust_comb = pd.merge(df_cust_new, df_cust_new_2, on='customer_name')

In [45]:
df_cust_comb = pd.merge(df_cust_comb, df_cust_new_0, on='customer_name')

In [46]:
df_cust_comb = pd.merge(df_cust_comb, df_cust_date, on='customer_name')

In [47]:
df_cust_comb.profit_cluster = df_cust_comb.profit_cluster/(l)

In [48]:
df_cust_comb.frequency_cluster = df_cust_comb.frequency_cluster/(l)

In [49]:
df_cust_comb

,customer_name,profit_cluster,frequency_cluster,twe_customers,date_min,date_max
0,"13TH MID-TERM CONFERENCE, KANNUIR SALES",0.179487,0.128205,0,2015-03-17,2015-03-17
1,32 CARROT(Dr),0.743590,0.769231,4000,2020-02-13,2020-10-19
2,38 TH ISPPD SALES-1,0.102564,0.051282,0,2016-10-25,2016-10-26
3,3M INDIA LIMITED - BANGALORE,0.410256,0.410256,0,2017-10-19,2018-06-29
4,47TH KERALA STATE DENTAL CONFERENCE,0.051282,0.000000,0,2015-01-20,2015-01-23
...,...,...,...,...,...,...
5170,ZZZZZZDR.N K KRISHNAN CHERPULASSERY,0.205128,0.205128,0,2017-05-16,2017-05-16
5171,"ZZZZZZZZ M/S.HIGHWAY ENTERPRISES, CALICUT",0.179487,0.205128,0,2015-06-27,2015-06-27
5172,"ZZZZZZZZ M\S.PRASANTHI HOSPITAL,MANJERI",0.205128,0.179487,0,2016-07-18,2016-07-18
5173,"ZZZZZZZZZDR.PREJITH , BALUSSERY",0.205128,0.205128,0,2017-09-22,2017-09-22
5174,Zzzz VASAN,0.794872,0.743590,0,2017-09-08,2018-04-19

In [50]:
df_cust_comb.columns = ['customer_name','profit_final', 'frequency_final','twe_customers','date_min','date_max']

In [51]:
df_cust_comb.head()

,customer_name,profit_final,frequency_final,twe_customers,date_min,date_max
0,"13TH MID-TERM CONFERENCE, KANNUIR SALES",0.179487,0.128205,0,2015-03-17,2015-03-17
1,32 CARROT(Dr),0.743590,0.769231,4000,2020-02-13,2020-10-19
2,38 TH ISPPD SALES-1,0.102564,0.051282,0,2016-10-25,2016-10-26
3,3M INDIA LIMITED - BANGALORE,0.410256,0.410256,0,2017-10-19,2018-06-29
4,47TH KERALA STATE DENTAL CONFERENCE,0.051282,0.000000,0,2015-01-20,2015-01-23

In [52]:
df_cust_comb.twe_customers.unique()

array([   0, 4000, 1000, 2000, 3000])

In [53]:
df_cust_comb.describe()

       profit_final  frequency_final  twe_customers
count   5175.000000      5175.000000    5175.000000
mean       1.108460         1.142153     549.565217
std        1.411748         1.435913    1102.675921
min        0.000000         0.000000       0.000000
25%        0.205128         0.205128       0.000000
50%        0.410256         0.410256       0.000000
75%        1.410256         1.487179    1000.000000
max        6.641026         7.384615    4000.000000

In [54]:
df_cust_comb['sales_score'] = 4*df_cust_comb['profit_final'] + df_cust_comb['frequency_final']

In [55]:
df_cust_comb[df_cust_comb.sales_score > 27]

,customer_name,profit_final,frequency_final,twe_customers,date_min,date_max,sales_score
424,"DR SALMATHNEESA,CALICUT",6.641026,7.230769,4000,2011-04-19,2020-10-31,33.794872
483,"DR,ANOOP,QUILANDY.",6.102564,6.615385,4000,2011-04-06,2020-10-30,31.025641
545,"DR,RAMYA, PALAKKAD",6.000000,5.820513,3000,2012-07-04,2020-10-12,29.820513
574,"DR,SUMAINIYA SHAFI,KODUVALLI.",5.794872,4.743590,4000,2011-04-06,2020-10-28,27.923077
1096,"DR.A K GHOSH, TALASSERY",5.487179,6.487179,3000,2011-04-23,2020-08-21,28.435897
...,...,...,...,...,...,...,...
4369,M/S.SHIFA DENTAL CLINIC.ARAKKINAR.,5.923077,4.461538,4000,2012-07-04,2020-10-29,28.153846
4391,"M/S.UNITY DENTAL CLINIC, QUILANDY",6.025641,5.512821,4000,2011-04-06,2020-10-26,29.615385
4630,"MR.MOHAMMED YASIN, TALASSERY",5.487179,6.282051,2000,2011-04-21,2020-07-24,28.230769
4664,"MR.SAJEESH, ORKATTERY",5.897436,6.641026,2000,2011-04-02,2020-10-01,30.230769
4679,"MR.SHIBU, CALICUT",6.102564,6.230769,1000,2011-04-08,2020-02-13,30.641026

In [56]:
df_cust_comb.describe()

       profit_final  frequency_final  twe_customers  sales_score
count   5175.000000      5175.000000    5175.000000  5175.000000
mean       1.108460         1.142153     549.565217     5.575994
std        1.411748         1.435913    1102.675921     7.059405
min        0.000000         0.000000       0.000000     0.000000
25%        0.205128         0.205128       0.000000     1.025641
50%        0.410256         0.410256       0.000000     2.051282
75%        1.410256         1.487179    1000.000000     7.128205
max        6.641026         7.384615    4000.000000    33.794872

In [57]:
df_cust_comb.to_csv('calicut_cust_comb.csv', index =False)

In [58]:
sdgsdfg

NameError: name 'sdgsdfg' is not defined

In [ ]:
df_cust_2018 = df_cust[df_cust.QY > '2019.01.0']

In [ ]:
df_cust_2018.head()

In [ ]:
df_cust_new_2018 = df_cust_2018.groupby('customer_name').profit_cluster.sum().reset_index()
df_cust_new_2018_2 = df_cust_2018.groupby('customer_name').frequency_cluster.sum().reset_index()
df_cust_comb_2018 = pd.merge(df_cust_new_2018, df_cust_new_2018_2, on='customer_name')
df_cust_comb_2018.profit_cluster = df_cust_comb_2018.profit_cluster/6
df_cust_comb_2018.frequency_cluster = df_cust_comb_2018.frequency_cluster/6
df_cust_comb_2018.columns = ['customer_name','profit_final', 'frequency_final']
df_cust_comb_2018['sales_score'] = 4*df_cust_comb_2018['profit_final'] + df_cust_comb_2018['frequency_final']

In [ ]:
df_cust_comb_2018.describe()

In [ ]:
df_cust_comb_2018.to_csv('calicut_cust_comb_2019.csv', index =False)