In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
dataset= pd.read_excel("C:/Users/pnc/Documents/ledger/LEDGER DETAILS 2020-21.xlsx",encoding = "ISO-8859-1")

In [3]:
dataset.head(50)

,asjdvnjsd,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,dskvjbv,NaN,NaN,NaN,NaN,NaN,NaN
1,dvsdljvbjlsdbvwd,NaN,NaN,NaN,NaN,NaN,NaN
2,vsdljvbsldjv,NaN,NaN,NaN,NaN,NaN,NaN
3,advjlDSVLJSD,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Ledger:,32 CARROT(Dr),1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN
11,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
12,2020-05-07 00:00:00,To,GST SALES,SALES GST,GST/000042/20-21,2812,NaN
13,2020-05-11 00:00:00,To,GST SALES,SALES GST,GST/000113/20-21,1844,NaN
14,2020-05-18 00:00:00,By,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,116,NaN,4656
15,2020-07-15 00:00:00,To,GST SALES,SALES GST,GST/002709/20-21,8026,NaN
16,2020-07-24 00:00:00,By,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,851,NaN,8026
17,2020-09-04 00:00:00,To,GST SALES,SALES GST,GST/004292/20-21,2485,NaN
18,2020-09-09 00:00:00,To,GST SALES,SALES GST,GST/004517/20-21,2253,NaN
19,2020-09-25 00:00:00,By,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,1456,NaN,4738
20,2020-10-08 00:00:00,To,GST SALES,SALES GST,GST/005863/20-21,4237,NaN
21,2020-10-15 00:00:00,By,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,1744,NaN,4237
22,2020-10-19 00:00:00,To,GST SALES,SALES GST,GST/006384/20-21,4862,NaN
23,2020-10-23 00:00:00,By,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,1825,NaN,4862
24,26519,NaN,NaN,NaN,NaN,NaN,26519
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Ledger:,50TH IDA KSDC - SALES,1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN
27,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
28,2020-04-01 00:00:00,To,Opening Balance,NaN,NaN,7619.19,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Ledger:,51ST KSDC - SALES,1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN
31,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
32,2020-04-01 00:00:00,To,Opening Balance,NaN,NaN,69360,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Ledger:,"AABA DENTAL CLINIC,IRIKKOOR",1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN
35,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
36,2020-04-01 00:00:00,To,Opening Balance,NaN,NaN,7943,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Ledger:,ABZ DENTALS,1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN
39,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
40,2020-04-01 00:00:00,To,Opening Balance,NaN,NaN,27921.3,NaN
41,2020-05-15 00:00:00,To,GST SALES,SALES GST,GST/000224/20-21,3698,NaN
42,2020-05-16 00:00:00,To,GST SALES,SALES GST,GST/000236/20-21,1120,NaN
43,2020-05-20 00:00:00,To,GST SALES,SALES GST,GST/000331/20-21,4032,NaN
44,2020-05-21 00:00:00,To,GST SALES,SALES GST,GST/000371/20-21,700,NaN
45,2020-05-28 00:00:00,To,GST SALES,SALES GST,GST/000557/20-21,6775,NaN
46,2020-06-10 00:00:00,To,GST SALES,SALES GST,GST/001119/20-21,2878,NaN
47,2020-06-10 00:00:00,By,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,313,NaN,20000
48,2020-06-16 00:00:00,To,GST SALES,SALES GST,GST/001328/20-21,236,NaN
49,2020-06-18 00:00:00,To,GST SALES,SALES GST,GST/001442/20-21,3060,NaN

In [4]:
dataset2= pd.read_excel("C:/Users/pnc/Documents/ledger/LEDGER DETAILS 2019-20.xlsx",encoding = "ISO-8859-1")

In [5]:
dataset2.head(50)

,akdjbckjad,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,ASCBHJBV,NaN,NaN,NaN,NaN,NaN,NaN
1,ADJJ.VHkdhvb;K,NaN,NaN,NaN,NaN,NaN,NaN
2,JSDBV KHsdb,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,DVLjdbvjlsdbvsd,NaN,NaN,NaN,NaN,NaN,NaN
7,vdskv DKVD,NaN,NaN,NaN,NaN,NaN,NaN
8,Vsd vksdvbsdvSDvkjsDBVKDVB;ADDBWDVB,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Ledger:,50TH IDA KSDC - SALES,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN
17,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
18,2019-04-01 00:00:00,To,Opening Balance,NaN,NaN,7619.19,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Ledger:,51ST KSDC - SALES,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN
21,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
22,2019-04-01 00:00:00,To,Opening Balance,NaN,NaN,53360,NaN
23,2019-05-29 00:00:00,To,"DR.ANOOP, KANJIKODE",Journal,152,6000,NaN
24,2019-06-03 00:00:00,To,ACTEON INDIA PVT. LTD.,Journal,182,10000,NaN
25,69360,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,By,Closing Balance,NaN,NaN,NaN,69360
27,69360,NaN,NaN,NaN,NaN,NaN,69360
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Ledger:,"AABA DENTAL CLINIC,IRIKKOOR",1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN
30,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
31,2019-04-01 00:00:00,To,Opening Balance,NaN,NaN,38943.7,NaN
32,2019-04-05 00:00:00,By,CASH,Cash - Receipts,14,NaN,31000
33,2019-04-05 00:00:00,By,DISCOUNT ALLOWED,Journal,14,NaN,0.7
34,38943.7,NaN,NaN,NaN,NaN,NaN,31000.7
35,NaN,By,Closing Balance,NaN,NaN,NaN,7943
36,38943.7,NaN,NaN,NaN,NaN,NaN,38943.7
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Ledger:,ABDUL RAZAK.PP,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN
39,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
40,2019-04-01 00:00:00,To,Opening Balance,NaN,NaN,1675,NaN
41,2019-07-31 00:00:00,By,BAD DEBTS 2018-19,Journal,395,NaN,1675
42,1675,NaN,NaN,NaN,NaN,NaN,1675
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Ledger:,ABZ DENTALS,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN
45,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
46,2019-04-03 00:00:00,To,GST SALES,SALES GST,GST/000099/19-20,66100,NaN
47,2019-04-03 00:00:00,By,CASH,Cash - Receipts,6,NaN,40000
48,2019-04-05 00:00:00,To,GST SALES,SALES GST,GST/000307/19-20,1792,NaN
49,2019-04-08 00:00:00,To,GST SALES,SALES GST,GST/000359/19-20,9668,NaN

In [6]:
# frames=[dataset,dataset2]
# result = pd.concat(frames,sort=False)

In [7]:
# result

In [8]:
dataset.columns =['Date','particulars','sales', 'vch type','vch_number','debit','credit'] 
dataset.head(50)

,Date,particulars,sales,vch type,vch_number,debit,credit
0,dskvjbv,NaN,NaN,NaN,NaN,NaN,NaN
1,dvsdljvbjlsdbvwd,NaN,NaN,NaN,NaN,NaN,NaN
2,vsdljvbsldjv,NaN,NaN,NaN,NaN,NaN,NaN
3,advjlDSVLJSD,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Ledger:,32 CARROT(Dr),1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN
11,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
12,2020-05-07 00:00:00,To,GST SALES,SALES GST,GST/000042/20-21,2812,NaN
13,2020-05-11 00:00:00,To,GST SALES,SALES GST,GST/000113/20-21,1844,NaN
14,2020-05-18 00:00:00,By,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,116,NaN,4656
15,2020-07-15 00:00:00,To,GST SALES,SALES GST,GST/002709/20-21,8026,NaN
16,2020-07-24 00:00:00,By,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,851,NaN,8026
17,2020-09-04 00:00:00,To,GST SALES,SALES GST,GST/004292/20-21,2485,NaN
18,2020-09-09 00:00:00,To,GST SALES,SALES GST,GST/004517/20-21,2253,NaN
19,2020-09-25 00:00:00,By,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,1456,NaN,4738
20,2020-10-08 00:00:00,To,GST SALES,SALES GST,GST/005863/20-21,4237,NaN
21,2020-10-15 00:00:00,By,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,1744,NaN,4237
22,2020-10-19 00:00:00,To,GST SALES,SALES GST,GST/006384/20-21,4862,NaN
23,2020-10-23 00:00:00,By,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,1825,NaN,4862
24,26519,NaN,NaN,NaN,NaN,NaN,26519
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Ledger:,50TH IDA KSDC - SALES,1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN
27,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
28,2020-04-01 00:00:00,To,Opening Balance,NaN,NaN,7619.19,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Ledger:,51ST KSDC - SALES,1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN
31,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
32,2020-04-01 00:00:00,To,Opening Balance,NaN,NaN,69360,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Ledger:,"AABA DENTAL CLINIC,IRIKKOOR",1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN
35,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
36,2020-04-01 00:00:00,To,Opening Balance,NaN,NaN,7943,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Ledger:,ABZ DENTALS,1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN
39,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
40,2020-04-01 00:00:00,To,Opening Balance,NaN,NaN,27921.3,NaN
41,2020-05-15 00:00:00,To,GST SALES,SALES GST,GST/000224/20-21,3698,NaN
42,2020-05-16 00:00:00,To,GST SALES,SALES GST,GST/000236/20-21,1120,NaN
43,2020-05-20 00:00:00,To,GST SALES,SALES GST,GST/000331/20-21,4032,NaN
44,2020-05-21 00:00:00,To,GST SALES,SALES GST,GST/000371/20-21,700,NaN
45,2020-05-28 00:00:00,To,GST SALES,SALES GST,GST/000557/20-21,6775,NaN
46,2020-06-10 00:00:00,To,GST SALES,SALES GST,GST/001119/20-21,2878,NaN
47,2020-06-10 00:00:00,By,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,313,NaN,20000
48,2020-06-16 00:00:00,To,GST SALES,SALES GST,GST/001328/20-21,236,NaN
49,2020-06-18 00:00:00,To,GST SALES,SALES GST,GST/001442/20-21,3060,NaN

In [9]:
dataset1 = dataset.iloc[10:]
dataset1.head(50)

,Date,particulars,sales,vch type,vch_number,debit,credit
10,Ledger:,32 CARROT(Dr),1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN
11,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
12,2020-05-07 00:00:00,To,GST SALES,SALES GST,GST/000042/20-21,2812,NaN
13,2020-05-11 00:00:00,To,GST SALES,SALES GST,GST/000113/20-21,1844,NaN
14,2020-05-18 00:00:00,By,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,116,NaN,4656
15,2020-07-15 00:00:00,To,GST SALES,SALES GST,GST/002709/20-21,8026,NaN
16,2020-07-24 00:00:00,By,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,851,NaN,8026
17,2020-09-04 00:00:00,To,GST SALES,SALES GST,GST/004292/20-21,2485,NaN
18,2020-09-09 00:00:00,To,GST SALES,SALES GST,GST/004517/20-21,2253,NaN
19,2020-09-25 00:00:00,By,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,1456,NaN,4738
20,2020-10-08 00:00:00,To,GST SALES,SALES GST,GST/005863/20-21,4237,NaN
21,2020-10-15 00:00:00,By,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,1744,NaN,4237
22,2020-10-19 00:00:00,To,GST SALES,SALES GST,GST/006384/20-21,4862,NaN
23,2020-10-23 00:00:00,By,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,1825,NaN,4862
24,26519,NaN,NaN,NaN,NaN,NaN,26519
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Ledger:,50TH IDA KSDC - SALES,1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN
27,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
28,2020-04-01 00:00:00,To,Opening Balance,NaN,NaN,7619.19,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Ledger:,51ST KSDC - SALES,1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN
31,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
32,2020-04-01 00:00:00,To,Opening Balance,NaN,NaN,69360,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Ledger:,"AABA DENTAL CLINIC,IRIKKOOR",1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN
35,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
36,2020-04-01 00:00:00,To,Opening Balance,NaN,NaN,7943,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Ledger:,ABZ DENTALS,1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN
39,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
40,2020-04-01 00:00:00,To,Opening Balance,NaN,NaN,27921.3,NaN
41,2020-05-15 00:00:00,To,GST SALES,SALES GST,GST/000224/20-21,3698,NaN
42,2020-05-16 00:00:00,To,GST SALES,SALES GST,GST/000236/20-21,1120,NaN
43,2020-05-20 00:00:00,To,GST SALES,SALES GST,GST/000331/20-21,4032,NaN
44,2020-05-21 00:00:00,To,GST SALES,SALES GST,GST/000371/20-21,700,NaN
45,2020-05-28 00:00:00,To,GST SALES,SALES GST,GST/000557/20-21,6775,NaN
46,2020-06-10 00:00:00,To,GST SALES,SALES GST,GST/001119/20-21,2878,NaN
47,2020-06-10 00:00:00,By,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,313,NaN,20000
48,2020-06-16 00:00:00,To,GST SALES,SALES GST,GST/001328/20-21,236,NaN
49,2020-06-18 00:00:00,To,GST SALES,SALES GST,GST/001442/20-21,3060,NaN
50,2020-06-19 00:00:00,To,GST SALES,SALES GST,GST/001507/20-21,1092,NaN
51,2020-07-03 00:00:00,To,GST SALES,SALES GST,GST/002146/20-21,3374,NaN
52,2020-07-06 00:00:00,By,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,612,NaN,20000
53,2020-07-08 00:00:00,To,GST SALES,SALES GST,GST/002300/20-21,56,NaN
54,2020-07-09 00:00:00,To,GST SALES,SALES GST,GST/002403/20-21,2888,NaN
55,2020-07-10 00:00:00,To,GST SALES,SALES GST,GST/002467/20-21,2991,NaN
56,2020-07-11 00:00:00,To,GST SALES,SALES GST,GST/002481/20-21,4105,NaN
57,2020-07-22 00:00:00,To,GST SALES,SALES GST,GST/003000/20-21,403,NaN
58,2020-07-23 00:00:00,To,GST SALES,SALES GST,GST/003039/20-21,3941,NaN
59,2020-07-24 00:00:00,To,GST SALES,SALES GST,GST/003062/20-21,1765,NaN

In [10]:
dataset1['customer_name']=dataset1['particulars']
dataset1.head(50)

C:\Users\pnc\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Date,particulars,sales,vch type,vch_number,debit,credit,customer_name
10,Ledger:,32 CARROT(Dr),1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN,32 CARROT(Dr)
11,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit,Particulars
12,2020-05-07 00:00:00,To,GST SALES,SALES GST,GST/000042/20-21,2812,NaN,To
13,2020-05-11 00:00:00,To,GST SALES,SALES GST,GST/000113/20-21,1844,NaN,To
14,2020-05-18 00:00:00,By,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,116,NaN,4656,By
15,2020-07-15 00:00:00,To,GST SALES,SALES GST,GST/002709/20-21,8026,NaN,To
16,2020-07-24 00:00:00,By,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,851,NaN,8026,By
17,2020-09-04 00:00:00,To,GST SALES,SALES GST,GST/004292/20-21,2485,NaN,To
18,2020-09-09 00:00:00,To,GST SALES,SALES GST,GST/004517/20-21,2253,NaN,To
19,2020-09-25 00:00:00,By,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,1456,NaN,4738,By
20,2020-10-08 00:00:00,To,GST SALES,SALES GST,GST/005863/20-21,4237,NaN,To
21,2020-10-15 00:00:00,By,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,1744,NaN,4237,By
22,2020-10-19 00:00:00,To,GST SALES,SALES GST,GST/006384/20-21,4862,NaN,To
23,2020-10-23 00:00:00,By,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,1825,NaN,4862,By
24,26519,NaN,NaN,NaN,NaN,NaN,26519,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Ledger:,50TH IDA KSDC - SALES,1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN,50TH IDA KSDC - SALES
27,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit,Particulars
28,2020-04-01 00:00:00,To,Opening Balance,NaN,NaN,7619.19,NaN,To
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Ledger:,51ST KSDC - SALES,1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN,51ST KSDC - SALES
31,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit,Particulars
32,2020-04-01 00:00:00,To,Opening Balance,NaN,NaN,69360,NaN,To
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Ledger:,"AABA DENTAL CLINIC,IRIKKOOR",1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN,"AABA DENTAL CLINIC,IRIKKOOR"
35,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit,Particulars
36,2020-04-01 00:00:00,To,Opening Balance,NaN,NaN,7943,NaN,To
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Ledger:,ABZ DENTALS,1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN,ABZ DENTALS
39,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit,Particulars
40,2020-04-01 00:00:00,To,Opening Balance,NaN,NaN,27921.3,NaN,To
41,2020-05-15 00:00:00,To,GST SALES,SALES GST,GST/000224/20-21,3698,NaN,To
42,2020-05-16 00:00:00,To,GST SALES,SALES GST,GST/000236/20-21,1120,NaN,To
43,2020-05-20 00:00:00,To,GST SALES,SALES GST,GST/000331/20-21,4032,NaN,To
44,2020-05-21 00:00:00,To,GST SALES,SALES GST,GST/000371/20-21,700,NaN,To
45,2020-05-28 00:00:00,To,GST SALES,SALES GST,GST/000557/20-21,6775,NaN,To
46,2020-06-10 00:00:00,To,GST SALES,SALES GST,GST/001119/20-21,2878,NaN,To
47,2020-06-10 00:00:00,By,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,313,NaN,20000,By
48,2020-06-16 00:00:00,To,GST SALES,SALES GST,GST/001328/20-21,236,NaN,To
49,2020-06-18 00:00:00,To,GST SALES,SALES GST,GST/001442/20-21,3060,NaN,To
50,2020-06-19 00:00:00,To,GST SALES,SALES GST,GST/001507/20-21,1092,NaN,To
51,2020-07-03 00:00:00,To,GST SALES,SALES GST,GST/002146/20-21,3374,NaN,To
52,2020-07-06 00:00:00,By,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,612,NaN,20000,By
53,2020-07-08 00:00:00,To,GST SALES,SALES GST,GST/002300/20-21,56,NaN,To
54,2020-07-09 00:00:00,To,GST SALES,SALES GST,GST/002403/20-21,2888,NaN,To
55,2020-07-10 00:00:00,To,GST SALES,SALES GST,GST/002467/20-21,2991,NaN,To
56,2020-07-11 00:00:00,To,GST SALES,SALES GST,GST/002481/20-21,4105,NaN,To
57,2020-07-22 00:00:00,To,GST SALES,SALES GST,GST/003000/20-21,403,NaN,To
58,2020-07-23 00:00:00,To,GST SALES,SALES GST,GST/003039/20-21,3941,NaN,To
59,2020-07-24 00:00:00,To,GST SALES,SALES GST,GST/003062/20-21,1765,NaN,To

In [11]:
dataset1=dataset1.replace(to_replace ="To", value =np.nan) 
dataset1=dataset1.replace(to_replace ="By", value =np.nan) 
dataset1=dataset1.replace(to_replace ="Particulars", value =np.nan) 
dataset1.head(50)

,Date,particulars,sales,vch type,vch_number,debit,credit,customer_name
10,Ledger:,32 CARROT(Dr),1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN,32 CARROT(Dr)
11,Date,NaN,NaN,Vch Type,Vch No.,Debit,Credit,NaN
12,2020-05-07 00:00:00,NaN,GST SALES,SALES GST,GST/000042/20-21,2812,NaN,NaN
13,2020-05-11 00:00:00,NaN,GST SALES,SALES GST,GST/000113/20-21,1844,NaN,NaN
14,2020-05-18 00:00:00,NaN,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,116,NaN,4656,NaN
15,2020-07-15 00:00:00,NaN,GST SALES,SALES GST,GST/002709/20-21,8026,NaN,NaN
16,2020-07-24 00:00:00,NaN,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,851,NaN,8026,NaN
17,2020-09-04 00:00:00,NaN,GST SALES,SALES GST,GST/004292/20-21,2485,NaN,NaN
18,2020-09-09 00:00:00,NaN,GST SALES,SALES GST,GST/004517/20-21,2253,NaN,NaN
19,2020-09-25 00:00:00,NaN,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,1456,NaN,4738,NaN
20,2020-10-08 00:00:00,NaN,GST SALES,SALES GST,GST/005863/20-21,4237,NaN,NaN
21,2020-10-15 00:00:00,NaN,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,1744,NaN,4237,NaN
22,2020-10-19 00:00:00,NaN,GST SALES,SALES GST,GST/006384/20-21,4862,NaN,NaN
23,2020-10-23 00:00:00,NaN,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,1825,NaN,4862,NaN
24,26519,NaN,NaN,NaN,NaN,NaN,26519,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Ledger:,50TH IDA KSDC - SALES,1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN,50TH IDA KSDC - SALES
27,Date,NaN,NaN,Vch Type,Vch No.,Debit,Credit,NaN
28,2020-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,7619.19,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Ledger:,51ST KSDC - SALES,1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN,51ST KSDC - SALES
31,Date,NaN,NaN,Vch Type,Vch No.,Debit,Credit,NaN
32,2020-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,69360,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Ledger:,"AABA DENTAL CLINIC,IRIKKOOR",1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN,"AABA DENTAL CLINIC,IRIKKOOR"
35,Date,NaN,NaN,Vch Type,Vch No.,Debit,Credit,NaN
36,2020-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,7943,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Ledger:,ABZ DENTALS,1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN,ABZ DENTALS
39,Date,NaN,NaN,Vch Type,Vch No.,Debit,Credit,NaN
40,2020-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,27921.3,NaN,NaN
41,2020-05-15 00:00:00,NaN,GST SALES,SALES GST,GST/000224/20-21,3698,NaN,NaN
42,2020-05-16 00:00:00,NaN,GST SALES,SALES GST,GST/000236/20-21,1120,NaN,NaN
43,2020-05-20 00:00:00,NaN,GST SALES,SALES GST,GST/000331/20-21,4032,NaN,NaN
44,2020-05-21 00:00:00,NaN,GST SALES,SALES GST,GST/000371/20-21,700,NaN,NaN
45,2020-05-28 00:00:00,NaN,GST SALES,SALES GST,GST/000557/20-21,6775,NaN,NaN
46,2020-06-10 00:00:00,NaN,GST SALES,SALES GST,GST/001119/20-21,2878,NaN,NaN
47,2020-06-10 00:00:00,NaN,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,313,NaN,20000,NaN
48,2020-06-16 00:00:00,NaN,GST SALES,SALES GST,GST/001328/20-21,236,NaN,NaN
49,2020-06-18 00:00:00,NaN,GST SALES,SALES GST,GST/001442/20-21,3060,NaN,NaN
50,2020-06-19 00:00:00,NaN,GST SALES,SALES GST,GST/001507/20-21,1092,NaN,NaN
51,2020-07-03 00:00:00,NaN,GST SALES,SALES GST,GST/002146/20-21,3374,NaN,NaN
52,2020-07-06 00:00:00,NaN,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,612,NaN,20000,NaN
53,2020-07-08 00:00:00,NaN,GST SALES,SALES GST,GST/002300/20-21,56,NaN,NaN
54,2020-07-09 00:00:00,NaN,GST SALES,SALES GST,GST/002403/20-21,2888,NaN,NaN
55,2020-07-10 00:00:00,NaN,GST SALES,SALES GST,GST/002467/20-21,2991,NaN,NaN
56,2020-07-11 00:00:00,NaN,GST SALES,SALES GST,GST/002481/20-21,4105,NaN,NaN
57,2020-07-22 00:00:00,NaN,GST SALES,SALES GST,GST/003000/20-21,403,NaN,NaN
58,2020-07-23 00:00:00,NaN,GST SALES,SALES GST,GST/003039/20-21,3941,NaN,NaN
59,2020-07-24 00:00:00,NaN,GST SALES,SALES GST,GST/003062/20-21,1765,NaN,NaN

In [12]:
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)
dataset1.head(50)

,Date,particulars,sales,vch type,vch_number,debit,credit,customer_name
10,Ledger:,32 CARROT(Dr),1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN,32 CARROT(Dr)
11,Date,NaN,NaN,Vch Type,Vch No.,Debit,Credit,NaN
12,2020-05-07 00:00:00,NaN,GST SALES,SALES GST,GST/000042/20-21,2812,NaN,NaN
13,2020-05-11 00:00:00,NaN,GST SALES,SALES GST,GST/000113/20-21,1844,NaN,NaN
14,2020-05-18 00:00:00,NaN,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,116,NaN,4656,NaN
15,2020-07-15 00:00:00,NaN,GST SALES,SALES GST,GST/002709/20-21,8026,NaN,NaN
16,2020-07-24 00:00:00,NaN,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,851,NaN,8026,NaN
17,2020-09-04 00:00:00,NaN,GST SALES,SALES GST,GST/004292/20-21,2485,NaN,NaN
18,2020-09-09 00:00:00,NaN,GST SALES,SALES GST,GST/004517/20-21,2253,NaN,NaN
19,2020-09-25 00:00:00,NaN,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,1456,NaN,4738,NaN
20,2020-10-08 00:00:00,NaN,GST SALES,SALES GST,GST/005863/20-21,4237,NaN,NaN
21,2020-10-15 00:00:00,NaN,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,1744,NaN,4237,NaN
22,2020-10-19 00:00:00,NaN,GST SALES,SALES GST,GST/006384/20-21,4862,NaN,NaN
23,2020-10-23 00:00:00,NaN,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,1825,NaN,4862,NaN
24,26519,NaN,NaN,NaN,NaN,NaN,26519,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Ledger:,50TH IDA KSDC - SALES,1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN,50TH IDA KSDC - SALES
27,Date,NaN,NaN,Vch Type,Vch No.,Debit,Credit,NaN
28,2020-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,7619.19,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Ledger:,51ST KSDC - SALES,1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN,51ST KSDC - SALES
31,Date,NaN,NaN,Vch Type,Vch No.,Debit,Credit,NaN
32,2020-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,69360,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Ledger:,"AABA DENTAL CLINIC,IRIKKOOR",1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN,"AABA DENTAL CLINIC,IRIKKOOR"
35,Date,NaN,NaN,Vch Type,Vch No.,Debit,Credit,NaN
36,2020-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,7943,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Ledger:,ABZ DENTALS,1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN,ABZ DENTALS
39,Date,NaN,NaN,Vch Type,Vch No.,Debit,Credit,NaN
40,2020-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,27921.3,NaN,NaN
41,2020-05-15 00:00:00,NaN,GST SALES,SALES GST,GST/000224/20-21,3698,NaN,NaN
42,2020-05-16 00:00:00,NaN,GST SALES,SALES GST,GST/000236/20-21,1120,NaN,NaN
43,2020-05-20 00:00:00,NaN,GST SALES,SALES GST,GST/000331/20-21,4032,NaN,NaN
44,2020-05-21 00:00:00,NaN,GST SALES,SALES GST,GST/000371/20-21,700,NaN,NaN
45,2020-05-28 00:00:00,NaN,GST SALES,SALES GST,GST/000557/20-21,6775,NaN,NaN
46,2020-06-10 00:00:00,NaN,GST SALES,SALES GST,GST/001119/20-21,2878,NaN,NaN
47,2020-06-10 00:00:00,NaN,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,313,NaN,20000,NaN
48,2020-06-16 00:00:00,NaN,GST SALES,SALES GST,GST/001328/20-21,236,NaN,NaN
49,2020-06-18 00:00:00,NaN,GST SALES,SALES GST,GST/001442/20-21,3060,NaN,NaN
50,2020-06-19 00:00:00,NaN,GST SALES,SALES GST,GST/001507/20-21,1092,NaN,NaN
51,2020-07-03 00:00:00,NaN,GST SALES,SALES GST,GST/002146/20-21,3374,NaN,NaN
52,2020-07-06 00:00:00,NaN,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,612,NaN,20000,NaN
53,2020-07-08 00:00:00,NaN,GST SALES,SALES GST,GST/002300/20-21,56,NaN,NaN
54,2020-07-09 00:00:00,NaN,GST SALES,SALES GST,GST/002403/20-21,2888,NaN,NaN
55,2020-07-10 00:00:00,NaN,GST SALES,SALES GST,GST/002467/20-21,2991,NaN,NaN
56,2020-07-11 00:00:00,NaN,GST SALES,SALES GST,GST/002481/20-21,4105,NaN,NaN
57,2020-07-22 00:00:00,NaN,GST SALES,SALES GST,GST/003000/20-21,403,NaN,NaN
58,2020-07-23 00:00:00,NaN,GST SALES,SALES GST,GST/003039/20-21,3941,NaN,NaN
59,2020-07-24 00:00:00,NaN,GST SALES,SALES GST,GST/003062/20-21,1765,NaN,NaN

In [13]:
cols = ['customer_name']
dataset1.loc[:,cols] = dataset1.loc[:,cols].ffill()
dataset1.head(50)

,Date,particulars,sales,vch type,vch_number,debit,credit,customer_name
10,Ledger:,32 CARROT(Dr),1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN,32 CARROT(Dr)
11,Date,NaN,NaN,Vch Type,Vch No.,Debit,Credit,32 CARROT(Dr)
12,2020-05-07 00:00:00,NaN,GST SALES,SALES GST,GST/000042/20-21,2812,NaN,32 CARROT(Dr)
13,2020-05-11 00:00:00,NaN,GST SALES,SALES GST,GST/000113/20-21,1844,NaN,32 CARROT(Dr)
14,2020-05-18 00:00:00,NaN,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,116,NaN,4656,32 CARROT(Dr)
15,2020-07-15 00:00:00,NaN,GST SALES,SALES GST,GST/002709/20-21,8026,NaN,32 CARROT(Dr)
16,2020-07-24 00:00:00,NaN,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,851,NaN,8026,32 CARROT(Dr)
17,2020-09-04 00:00:00,NaN,GST SALES,SALES GST,GST/004292/20-21,2485,NaN,32 CARROT(Dr)
18,2020-09-09 00:00:00,NaN,GST SALES,SALES GST,GST/004517/20-21,2253,NaN,32 CARROT(Dr)
19,2020-09-25 00:00:00,NaN,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,1456,NaN,4738,32 CARROT(Dr)
20,2020-10-08 00:00:00,NaN,GST SALES,SALES GST,GST/005863/20-21,4237,NaN,32 CARROT(Dr)
21,2020-10-15 00:00:00,NaN,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,1744,NaN,4237,32 CARROT(Dr)
22,2020-10-19 00:00:00,NaN,GST SALES,SALES GST,GST/006384/20-21,4862,NaN,32 CARROT(Dr)
23,2020-10-23 00:00:00,NaN,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,1825,NaN,4862,32 CARROT(Dr)
24,26519,NaN,NaN,NaN,NaN,NaN,26519,32 CARROT(Dr)
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32 CARROT(Dr)
26,Ledger:,50TH IDA KSDC - SALES,1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN,50TH IDA KSDC - SALES
27,Date,NaN,NaN,Vch Type,Vch No.,Debit,Credit,50TH IDA KSDC - SALES
28,2020-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,7619.19,NaN,50TH IDA KSDC - SALES
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50TH IDA KSDC - SALES
30,Ledger:,51ST KSDC - SALES,1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN,51ST KSDC - SALES
31,Date,NaN,NaN,Vch Type,Vch No.,Debit,Credit,51ST KSDC - SALES
32,2020-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,69360,NaN,51ST KSDC - SALES
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51ST KSDC - SALES
34,Ledger:,"AABA DENTAL CLINIC,IRIKKOOR",1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN,"AABA DENTAL CLINIC,IRIKKOOR"
35,Date,NaN,NaN,Vch Type,Vch No.,Debit,Credit,"AABA DENTAL CLINIC,IRIKKOOR"
36,2020-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,7943,NaN,"AABA DENTAL CLINIC,IRIKKOOR"
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"AABA DENTAL CLINIC,IRIKKOOR"
38,Ledger:,ABZ DENTALS,1-Apr-2020 to 31-Oct-2020,NaN,NaN,NaN,NaN,ABZ DENTALS
39,Date,NaN,NaN,Vch Type,Vch No.,Debit,Credit,ABZ DENTALS
40,2020-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,27921.3,NaN,ABZ DENTALS
41,2020-05-15 00:00:00,NaN,GST SALES,SALES GST,GST/000224/20-21,3698,NaN,ABZ DENTALS
42,2020-05-16 00:00:00,NaN,GST SALES,SALES GST,GST/000236/20-21,1120,NaN,ABZ DENTALS
43,2020-05-20 00:00:00,NaN,GST SALES,SALES GST,GST/000331/20-21,4032,NaN,ABZ DENTALS
44,2020-05-21 00:00:00,NaN,GST SALES,SALES GST,GST/000371/20-21,700,NaN,ABZ DENTALS
45,2020-05-28 00:00:00,NaN,GST SALES,SALES GST,GST/000557/20-21,6775,NaN,ABZ DENTALS
46,2020-06-10 00:00:00,NaN,GST SALES,SALES GST,GST/001119/20-21,2878,NaN,ABZ DENTALS
47,2020-06-10 00:00:00,NaN,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,313,NaN,20000,ABZ DENTALS
48,2020-06-16 00:00:00,NaN,GST SALES,SALES GST,GST/001328/20-21,236,NaN,ABZ DENTALS
49,2020-06-18 00:00:00,NaN,GST SALES,SALES GST,GST/001442/20-21,3060,NaN,ABZ DENTALS
50,2020-06-19 00:00:00,NaN,GST SALES,SALES GST,GST/001507/20-21,1092,NaN,ABZ DENTALS
51,2020-07-03 00:00:00,NaN,GST SALES,SALES GST,GST/002146/20-21,3374,NaN,ABZ DENTALS
52,2020-07-06 00:00:00,NaN,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,612,NaN,20000,ABZ DENTALS
53,2020-07-08 00:00:00,NaN,GST SALES,SALES GST,GST/002300/20-21,56,NaN,ABZ DENTALS
54,2020-07-09 00:00:00,NaN,GST SALES,SALES GST,GST/002403/20-21,2888,NaN,ABZ DENTALS
55,2020-07-10 00:00:00,NaN,GST SALES,SALES GST,GST/002467/20-21,2991,NaN,ABZ DENTALS
56,2020-07-11 00:00:00,NaN,GST SALES,SALES GST,GST/002481/20-21,4105,NaN,ABZ DENTALS
57,2020-07-22 00:00:00,NaN,GST SALES,SALES GST,GST/003000/20-21,403,NaN,ABZ DENTALS
58,2020-07-23 00:00:00,NaN,GST SALES,SALES GST,GST/003039/20-21,3941,NaN,ABZ DENTALS
59,2020-07-24 00:00:00,NaN,GST SALES,SALES GST,GST/003062/20-21,1765,NaN,ABZ DENTALS

In [14]:
dataset1 = dataset1[dataset1.Date != 'Ledger:']
dataset1 = dataset1[dataset1.Date !='Date']
dataset1.head(50)

,Date,particulars,sales,vch type,vch_number,debit,credit,customer_name
12,2020-05-07 00:00:00,NaN,GST SALES,SALES GST,GST/000042/20-21,2812,NaN,32 CARROT(Dr)
13,2020-05-11 00:00:00,NaN,GST SALES,SALES GST,GST/000113/20-21,1844,NaN,32 CARROT(Dr)
14,2020-05-18 00:00:00,NaN,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,116,NaN,4656,32 CARROT(Dr)
15,2020-07-15 00:00:00,NaN,GST SALES,SALES GST,GST/002709/20-21,8026,NaN,32 CARROT(Dr)
16,2020-07-24 00:00:00,NaN,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,851,NaN,8026,32 CARROT(Dr)
17,2020-09-04 00:00:00,NaN,GST SALES,SALES GST,GST/004292/20-21,2485,NaN,32 CARROT(Dr)
18,2020-09-09 00:00:00,NaN,GST SALES,SALES GST,GST/004517/20-21,2253,NaN,32 CARROT(Dr)
19,2020-09-25 00:00:00,NaN,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,1456,NaN,4738,32 CARROT(Dr)
20,2020-10-08 00:00:00,NaN,GST SALES,SALES GST,GST/005863/20-21,4237,NaN,32 CARROT(Dr)
21,2020-10-15 00:00:00,NaN,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,1744,NaN,4237,32 CARROT(Dr)
22,2020-10-19 00:00:00,NaN,GST SALES,SALES GST,GST/006384/20-21,4862,NaN,32 CARROT(Dr)
23,2020-10-23 00:00:00,NaN,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,1825,NaN,4862,32 CARROT(Dr)
24,26519,NaN,NaN,NaN,NaN,NaN,26519,32 CARROT(Dr)
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32 CARROT(Dr)
28,2020-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,7619.19,NaN,50TH IDA KSDC - SALES
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50TH IDA KSDC - SALES
32,2020-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,69360,NaN,51ST KSDC - SALES
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51ST KSDC - SALES
36,2020-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,7943,NaN,"AABA DENTAL CLINIC,IRIKKOOR"
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"AABA DENTAL CLINIC,IRIKKOOR"
40,2020-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,27921.3,NaN,ABZ DENTALS
41,2020-05-15 00:00:00,NaN,GST SALES,SALES GST,GST/000224/20-21,3698,NaN,ABZ DENTALS
42,2020-05-16 00:00:00,NaN,GST SALES,SALES GST,GST/000236/20-21,1120,NaN,ABZ DENTALS
43,2020-05-20 00:00:00,NaN,GST SALES,SALES GST,GST/000331/20-21,4032,NaN,ABZ DENTALS
44,2020-05-21 00:00:00,NaN,GST SALES,SALES GST,GST/000371/20-21,700,NaN,ABZ DENTALS
45,2020-05-28 00:00:00,NaN,GST SALES,SALES GST,GST/000557/20-21,6775,NaN,ABZ DENTALS
46,2020-06-10 00:00:00,NaN,GST SALES,SALES GST,GST/001119/20-21,2878,NaN,ABZ DENTALS
47,2020-06-10 00:00:00,NaN,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,313,NaN,20000,ABZ DENTALS
48,2020-06-16 00:00:00,NaN,GST SALES,SALES GST,GST/001328/20-21,236,NaN,ABZ DENTALS
49,2020-06-18 00:00:00,NaN,GST SALES,SALES GST,GST/001442/20-21,3060,NaN,ABZ DENTALS
50,2020-06-19 00:00:00,NaN,GST SALES,SALES GST,GST/001507/20-21,1092,NaN,ABZ DENTALS
51,2020-07-03 00:00:00,NaN,GST SALES,SALES GST,GST/002146/20-21,3374,NaN,ABZ DENTALS
52,2020-07-06 00:00:00,NaN,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,612,NaN,20000,ABZ DENTALS
53,2020-07-08 00:00:00,NaN,GST SALES,SALES GST,GST/002300/20-21,56,NaN,ABZ DENTALS
54,2020-07-09 00:00:00,NaN,GST SALES,SALES GST,GST/002403/20-21,2888,NaN,ABZ DENTALS
55,2020-07-10 00:00:00,NaN,GST SALES,SALES GST,GST/002467/20-21,2991,NaN,ABZ DENTALS
56,2020-07-11 00:00:00,NaN,GST SALES,SALES GST,GST/002481/20-21,4105,NaN,ABZ DENTALS
57,2020-07-22 00:00:00,NaN,GST SALES,SALES GST,GST/003000/20-21,403,NaN,ABZ DENTALS
58,2020-07-23 00:00:00,NaN,GST SALES,SALES GST,GST/003039/20-21,3941,NaN,ABZ DENTALS
59,2020-07-24 00:00:00,NaN,GST SALES,SALES GST,GST/003062/20-21,1765,NaN,ABZ DENTALS
60,2020-07-28 00:00:00,NaN,GST SALES,SALES GST,GST/003170/20-21,4496,NaN,ABZ DENTALS
61,2020-08-10 00:00:00,NaN,GST PURCHASE,GST PURCHASE,534/20-21,NaN,2500,ABZ DENTALS
62,2020-08-13 00:00:00,NaN,GST SALES,SALES GST,GST/003584/20-21,2860,NaN,ABZ DENTALS
63,2020-08-17 00:00:00,NaN,GST SALES,SALES GST,GST/003662/20-21,793,NaN,ABZ DENTALS
64,2020-08-17 00:00:00,NaN,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,1044,NaN,20000,ABZ DENTALS
65,2020-08-18 00:00:00,NaN,GST SALES,SALES GST,GST/003701/20-21,1036,NaN,ABZ DENTALS
66,2020-08-21 00:00:00,NaN,GST SALES,SALES GST,GST/003829/20-21,2875,NaN,ABZ DENTALS
67,2020-09-03 00:00:00,NaN,GST SALES,SALES GST,GST/004214/20-21,939,NaN,ABZ DENTALS
68,2020-09-07 00:00:00,NaN,GST SALES,SALES GST,GST/004353/20-21,283,NaN,ABZ DENTALS
69,2020-09-08 00:00:00,NaN,GST SALES,SALES GST,GST/004411/20-21,4889,NaN,ABZ DENTALS

In [15]:
dataset1=dataset1.drop(['particulars'], axis = 1) 
dataset1.head(50)

,Date,sales,vch type,vch_number,debit,credit,customer_name
12,2020-05-07 00:00:00,GST SALES,SALES GST,GST/000042/20-21,2812,NaN,32 CARROT(Dr)
13,2020-05-11 00:00:00,GST SALES,SALES GST,GST/000113/20-21,1844,NaN,32 CARROT(Dr)
14,2020-05-18 00:00:00,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,116,NaN,4656,32 CARROT(Dr)
15,2020-07-15 00:00:00,GST SALES,SALES GST,GST/002709/20-21,8026,NaN,32 CARROT(Dr)
16,2020-07-24 00:00:00,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,851,NaN,8026,32 CARROT(Dr)
17,2020-09-04 00:00:00,GST SALES,SALES GST,GST/004292/20-21,2485,NaN,32 CARROT(Dr)
18,2020-09-09 00:00:00,GST SALES,SALES GST,GST/004517/20-21,2253,NaN,32 CARROT(Dr)
19,2020-09-25 00:00:00,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,1456,NaN,4738,32 CARROT(Dr)
20,2020-10-08 00:00:00,GST SALES,SALES GST,GST/005863/20-21,4237,NaN,32 CARROT(Dr)
21,2020-10-15 00:00:00,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,1744,NaN,4237,32 CARROT(Dr)
22,2020-10-19 00:00:00,GST SALES,SALES GST,GST/006384/20-21,4862,NaN,32 CARROT(Dr)
23,2020-10-23 00:00:00,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,1825,NaN,4862,32 CARROT(Dr)
24,26519,NaN,NaN,NaN,NaN,26519,32 CARROT(Dr)
25,NaN,NaN,NaN,NaN,NaN,NaN,32 CARROT(Dr)
28,2020-04-01 00:00:00,Opening Balance,NaN,NaN,7619.19,NaN,50TH IDA KSDC - SALES
29,NaN,NaN,NaN,NaN,NaN,NaN,50TH IDA KSDC - SALES
32,2020-04-01 00:00:00,Opening Balance,NaN,NaN,69360,NaN,51ST KSDC - SALES
33,NaN,NaN,NaN,NaN,NaN,NaN,51ST KSDC - SALES
36,2020-04-01 00:00:00,Opening Balance,NaN,NaN,7943,NaN,"AABA DENTAL CLINIC,IRIKKOOR"
37,NaN,NaN,NaN,NaN,NaN,NaN,"AABA DENTAL CLINIC,IRIKKOOR"
40,2020-04-01 00:00:00,Opening Balance,NaN,NaN,27921.3,NaN,ABZ DENTALS
41,2020-05-15 00:00:00,GST SALES,SALES GST,GST/000224/20-21,3698,NaN,ABZ DENTALS
42,2020-05-16 00:00:00,GST SALES,SALES GST,GST/000236/20-21,1120,NaN,ABZ DENTALS
43,2020-05-20 00:00:00,GST SALES,SALES GST,GST/000331/20-21,4032,NaN,ABZ DENTALS
44,2020-05-21 00:00:00,GST SALES,SALES GST,GST/000371/20-21,700,NaN,ABZ DENTALS
45,2020-05-28 00:00:00,GST SALES,SALES GST,GST/000557/20-21,6775,NaN,ABZ DENTALS
46,2020-06-10 00:00:00,GST SALES,SALES GST,GST/001119/20-21,2878,NaN,ABZ DENTALS
47,2020-06-10 00:00:00,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,313,NaN,20000,ABZ DENTALS
48,2020-06-16 00:00:00,GST SALES,SALES GST,GST/001328/20-21,236,NaN,ABZ DENTALS
49,2020-06-18 00:00:00,GST SALES,SALES GST,GST/001442/20-21,3060,NaN,ABZ DENTALS
50,2020-06-19 00:00:00,GST SALES,SALES GST,GST/001507/20-21,1092,NaN,ABZ DENTALS
51,2020-07-03 00:00:00,GST SALES,SALES GST,GST/002146/20-21,3374,NaN,ABZ DENTALS
52,2020-07-06 00:00:00,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,612,NaN,20000,ABZ DENTALS
53,2020-07-08 00:00:00,GST SALES,SALES GST,GST/002300/20-21,56,NaN,ABZ DENTALS
54,2020-07-09 00:00:00,GST SALES,SALES GST,GST/002403/20-21,2888,NaN,ABZ DENTALS
55,2020-07-10 00:00:00,GST SALES,SALES GST,GST/002467/20-21,2991,NaN,ABZ DENTALS
56,2020-07-11 00:00:00,GST SALES,SALES GST,GST/002481/20-21,4105,NaN,ABZ DENTALS
57,2020-07-22 00:00:00,GST SALES,SALES GST,GST/003000/20-21,403,NaN,ABZ DENTALS
58,2020-07-23 00:00:00,GST SALES,SALES GST,GST/003039/20-21,3941,NaN,ABZ DENTALS
59,2020-07-24 00:00:00,GST SALES,SALES GST,GST/003062/20-21,1765,NaN,ABZ DENTALS
60,2020-07-28 00:00:00,GST SALES,SALES GST,GST/003170/20-21,4496,NaN,ABZ DENTALS
61,2020-08-10 00:00:00,GST PURCHASE,GST PURCHASE,534/20-21,NaN,2500,ABZ DENTALS
62,2020-08-13 00:00:00,GST SALES,SALES GST,GST/003584/20-21,2860,NaN,ABZ DENTALS
63,2020-08-17 00:00:00,GST SALES,SALES GST,GST/003662/20-21,793,NaN,ABZ DENTALS
64,2020-08-17 00:00:00,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,1044,NaN,20000,ABZ DENTALS
65,2020-08-18 00:00:00,GST SALES,SALES GST,GST/003701/20-21,1036,NaN,ABZ DENTALS
66,2020-08-21 00:00:00,GST SALES,SALES GST,GST/003829/20-21,2875,NaN,ABZ DENTALS
67,2020-09-03 00:00:00,GST SALES,SALES GST,GST/004214/20-21,939,NaN,ABZ DENTALS
68,2020-09-07 00:00:00,GST SALES,SALES GST,GST/004353/20-21,283,NaN,ABZ DENTALS
69,2020-09-08 00:00:00,GST SALES,SALES GST,GST/004411/20-21,4889,NaN,ABZ DENTALS

In [16]:
dataset1['credit'] = dataset1['credit'].fillna(0)
dataset1['debit'] = dataset1['debit'].fillna(0)

In [17]:
dataset1=dataset1.drop(['vch type'], axis = 1) 
dataset1=dataset1.drop(['vch_number'], axis = 1)

In [18]:
dataset1['Date'] = pd.to_datetime(dataset1['Date'], errors='coerce')
dataset1.head(50)

,Date,sales,debit,credit,customer_name
12,2020-05-07,GST SALES,2812.00,0.0,32 CARROT(Dr)
13,2020-05-11,GST SALES,1844.00,0.0,32 CARROT(Dr)
14,2020-05-18,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,4656.0,32 CARROT(Dr)
15,2020-07-15,GST SALES,8026.00,0.0,32 CARROT(Dr)
16,2020-07-24,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,8026.0,32 CARROT(Dr)
17,2020-09-04,GST SALES,2485.00,0.0,32 CARROT(Dr)
18,2020-09-09,GST SALES,2253.00,0.0,32 CARROT(Dr)
19,2020-09-25,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,4738.0,32 CARROT(Dr)
20,2020-10-08,GST SALES,4237.00,0.0,32 CARROT(Dr)
21,2020-10-15,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,4237.0,32 CARROT(Dr)
22,2020-10-19,GST SALES,4862.00,0.0,32 CARROT(Dr)
23,2020-10-23,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,4862.0,32 CARROT(Dr)
24,NaT,NaN,0.00,26519.0,32 CARROT(Dr)
25,NaT,NaN,0.00,0.0,32 CARROT(Dr)
28,2020-04-01,Opening Balance,7619.19,0.0,50TH IDA KSDC - SALES
29,NaT,NaN,0.00,0.0,50TH IDA KSDC - SALES
32,2020-04-01,Opening Balance,69360.00,0.0,51ST KSDC - SALES
33,NaT,NaN,0.00,0.0,51ST KSDC - SALES
36,2020-04-01,Opening Balance,7943.00,0.0,"AABA DENTAL CLINIC,IRIKKOOR"
37,NaT,NaN,0.00,0.0,"AABA DENTAL CLINIC,IRIKKOOR"
40,2020-04-01,Opening Balance,27921.28,0.0,ABZ DENTALS
41,2020-05-15,GST SALES,3698.00,0.0,ABZ DENTALS
42,2020-05-16,GST SALES,1120.00,0.0,ABZ DENTALS
43,2020-05-20,GST SALES,4032.00,0.0,ABZ DENTALS
44,2020-05-21,GST SALES,700.00,0.0,ABZ DENTALS
45,2020-05-28,GST SALES,6775.00,0.0,ABZ DENTALS
46,2020-06-10,GST SALES,2878.00,0.0,ABZ DENTALS
47,2020-06-10,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,20000.0,ABZ DENTALS
48,2020-06-16,GST SALES,236.00,0.0,ABZ DENTALS
49,2020-06-18,GST SALES,3060.00,0.0,ABZ DENTALS
50,2020-06-19,GST SALES,1092.00,0.0,ABZ DENTALS
51,2020-07-03,GST SALES,3374.00,0.0,ABZ DENTALS
52,2020-07-06,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,20000.0,ABZ DENTALS
53,2020-07-08,GST SALES,56.00,0.0,ABZ DENTALS
54,2020-07-09,GST SALES,2888.00,0.0,ABZ DENTALS
55,2020-07-10,GST SALES,2991.00,0.0,ABZ DENTALS
56,2020-07-11,GST SALES,4105.00,0.0,ABZ DENTALS
57,2020-07-22,GST SALES,403.00,0.0,ABZ DENTALS
58,2020-07-23,GST SALES,3941.00,0.0,ABZ DENTALS
59,2020-07-24,GST SALES,1765.00,0.0,ABZ DENTALS
60,2020-07-28,GST SALES,4496.00,0.0,ABZ DENTALS
61,2020-08-10,GST PURCHASE,0.00,2500.0,ABZ DENTALS
62,2020-08-13,GST SALES,2860.00,0.0,ABZ DENTALS
63,2020-08-17,GST SALES,793.00,0.0,ABZ DENTALS
64,2020-08-17,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,20000.0,ABZ DENTALS
65,2020-08-18,GST SALES,1036.00,0.0,ABZ DENTALS
66,2020-08-21,GST SALES,2875.00,0.0,ABZ DENTALS
67,2020-09-03,GST SALES,939.00,0.0,ABZ DENTALS
68,2020-09-07,GST SALES,283.00,0.0,ABZ DENTALS
69,2020-09-08,GST SALES,4889.00,0.0,ABZ DENTALS

In [19]:
dataset1=dataset1.dropna(subset=['sales'])
dataset1.head(50)

,Date,sales,debit,credit,customer_name
12,2020-05-07,GST SALES,2812.00,0.0,32 CARROT(Dr)
13,2020-05-11,GST SALES,1844.00,0.0,32 CARROT(Dr)
14,2020-05-18,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,4656.0,32 CARROT(Dr)
15,2020-07-15,GST SALES,8026.00,0.0,32 CARROT(Dr)
16,2020-07-24,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,8026.0,32 CARROT(Dr)
17,2020-09-04,GST SALES,2485.00,0.0,32 CARROT(Dr)
18,2020-09-09,GST SALES,2253.00,0.0,32 CARROT(Dr)
19,2020-09-25,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,4738.0,32 CARROT(Dr)
20,2020-10-08,GST SALES,4237.00,0.0,32 CARROT(Dr)
21,2020-10-15,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,4237.0,32 CARROT(Dr)
22,2020-10-19,GST SALES,4862.00,0.0,32 CARROT(Dr)
23,2020-10-23,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,4862.0,32 CARROT(Dr)
28,2020-04-01,Opening Balance,7619.19,0.0,50TH IDA KSDC - SALES
32,2020-04-01,Opening Balance,69360.00,0.0,51ST KSDC - SALES
36,2020-04-01,Opening Balance,7943.00,0.0,"AABA DENTAL CLINIC,IRIKKOOR"
40,2020-04-01,Opening Balance,27921.28,0.0,ABZ DENTALS
41,2020-05-15,GST SALES,3698.00,0.0,ABZ DENTALS
42,2020-05-16,GST SALES,1120.00,0.0,ABZ DENTALS
43,2020-05-20,GST SALES,4032.00,0.0,ABZ DENTALS
44,2020-05-21,GST SALES,700.00,0.0,ABZ DENTALS
45,2020-05-28,GST SALES,6775.00,0.0,ABZ DENTALS
46,2020-06-10,GST SALES,2878.00,0.0,ABZ DENTALS
47,2020-06-10,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,20000.0,ABZ DENTALS
48,2020-06-16,GST SALES,236.00,0.0,ABZ DENTALS
49,2020-06-18,GST SALES,3060.00,0.0,ABZ DENTALS
50,2020-06-19,GST SALES,1092.00,0.0,ABZ DENTALS
51,2020-07-03,GST SALES,3374.00,0.0,ABZ DENTALS
52,2020-07-06,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,20000.0,ABZ DENTALS
53,2020-07-08,GST SALES,56.00,0.0,ABZ DENTALS
54,2020-07-09,GST SALES,2888.00,0.0,ABZ DENTALS
55,2020-07-10,GST SALES,2991.00,0.0,ABZ DENTALS
56,2020-07-11,GST SALES,4105.00,0.0,ABZ DENTALS
57,2020-07-22,GST SALES,403.00,0.0,ABZ DENTALS
58,2020-07-23,GST SALES,3941.00,0.0,ABZ DENTALS
59,2020-07-24,GST SALES,1765.00,0.0,ABZ DENTALS
60,2020-07-28,GST SALES,4496.00,0.0,ABZ DENTALS
61,2020-08-10,GST PURCHASE,0.00,2500.0,ABZ DENTALS
62,2020-08-13,GST SALES,2860.00,0.0,ABZ DENTALS
63,2020-08-17,GST SALES,793.00,0.0,ABZ DENTALS
64,2020-08-17,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,20000.0,ABZ DENTALS
65,2020-08-18,GST SALES,1036.00,0.0,ABZ DENTALS
66,2020-08-21,GST SALES,2875.00,0.0,ABZ DENTALS
67,2020-09-03,GST SALES,939.00,0.0,ABZ DENTALS
68,2020-09-07,GST SALES,283.00,0.0,ABZ DENTALS
69,2020-09-08,GST SALES,4889.00,0.0,ABZ DENTALS
70,2020-09-09,GST SALES,2940.00,0.0,ABZ DENTALS
71,2020-09-12,GST SALES,3881.00,0.0,ABZ DENTALS
72,2020-09-14,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,20000.0,ABZ DENTALS
73,2020-09-16,GST SALES,5902.00,0.0,ABZ DENTALS
74,2020-09-24,GST SALES,4302.00,0.0,ABZ DENTALS

In [20]:
cols = ['Date']
dataset1.loc[:,cols] = dataset1.loc[:,cols].ffill()
dataset1.head(50)

,Date,sales,debit,credit,customer_name
12,2020-05-07,GST SALES,2812.00,0.0,32 CARROT(Dr)
13,2020-05-11,GST SALES,1844.00,0.0,32 CARROT(Dr)
14,2020-05-18,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,4656.0,32 CARROT(Dr)
15,2020-07-15,GST SALES,8026.00,0.0,32 CARROT(Dr)
16,2020-07-24,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,8026.0,32 CARROT(Dr)
17,2020-09-04,GST SALES,2485.00,0.0,32 CARROT(Dr)
18,2020-09-09,GST SALES,2253.00,0.0,32 CARROT(Dr)
19,2020-09-25,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,4738.0,32 CARROT(Dr)
20,2020-10-08,GST SALES,4237.00,0.0,32 CARROT(Dr)
21,2020-10-15,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,4237.0,32 CARROT(Dr)
22,2020-10-19,GST SALES,4862.00,0.0,32 CARROT(Dr)
23,2020-10-23,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,4862.0,32 CARROT(Dr)
28,2020-04-01,Opening Balance,7619.19,0.0,50TH IDA KSDC - SALES
32,2020-04-01,Opening Balance,69360.00,0.0,51ST KSDC - SALES
36,2020-04-01,Opening Balance,7943.00,0.0,"AABA DENTAL CLINIC,IRIKKOOR"
40,2020-04-01,Opening Balance,27921.28,0.0,ABZ DENTALS
41,2020-05-15,GST SALES,3698.00,0.0,ABZ DENTALS
42,2020-05-16,GST SALES,1120.00,0.0,ABZ DENTALS
43,2020-05-20,GST SALES,4032.00,0.0,ABZ DENTALS
44,2020-05-21,GST SALES,700.00,0.0,ABZ DENTALS
45,2020-05-28,GST SALES,6775.00,0.0,ABZ DENTALS
46,2020-06-10,GST SALES,2878.00,0.0,ABZ DENTALS
47,2020-06-10,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,20000.0,ABZ DENTALS
48,2020-06-16,GST SALES,236.00,0.0,ABZ DENTALS
49,2020-06-18,GST SALES,3060.00,0.0,ABZ DENTALS
50,2020-06-19,GST SALES,1092.00,0.0,ABZ DENTALS
51,2020-07-03,GST SALES,3374.00,0.0,ABZ DENTALS
52,2020-07-06,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,20000.0,ABZ DENTALS
53,2020-07-08,GST SALES,56.00,0.0,ABZ DENTALS
54,2020-07-09,GST SALES,2888.00,0.0,ABZ DENTALS
55,2020-07-10,GST SALES,2991.00,0.0,ABZ DENTALS
56,2020-07-11,GST SALES,4105.00,0.0,ABZ DENTALS
57,2020-07-22,GST SALES,403.00,0.0,ABZ DENTALS
58,2020-07-23,GST SALES,3941.00,0.0,ABZ DENTALS
59,2020-07-24,GST SALES,1765.00,0.0,ABZ DENTALS
60,2020-07-28,GST SALES,4496.00,0.0,ABZ DENTALS
61,2020-08-10,GST PURCHASE,0.00,2500.0,ABZ DENTALS
62,2020-08-13,GST SALES,2860.00,0.0,ABZ DENTALS
63,2020-08-17,GST SALES,793.00,0.0,ABZ DENTALS
64,2020-08-17,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,20000.0,ABZ DENTALS
65,2020-08-18,GST SALES,1036.00,0.0,ABZ DENTALS
66,2020-08-21,GST SALES,2875.00,0.0,ABZ DENTALS
67,2020-09-03,GST SALES,939.00,0.0,ABZ DENTALS
68,2020-09-07,GST SALES,283.00,0.0,ABZ DENTALS
69,2020-09-08,GST SALES,4889.00,0.0,ABZ DENTALS
70,2020-09-09,GST SALES,2940.00,0.0,ABZ DENTALS
71,2020-09-12,GST SALES,3881.00,0.0,ABZ DENTALS
72,2020-09-14,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,20000.0,ABZ DENTALS
73,2020-09-16,GST SALES,5902.00,0.0,ABZ DENTALS
74,2020-09-24,GST SALES,4302.00,0.0,ABZ DENTALS

In [21]:
dataset1['sales'] = dataset1['sales'].replace(['GST SALES', 'DISCOUNT ALLOWED', 'CASH','SOUTH INDIAN BANK LTD (CC A/C NO. 0038084000002275)', 'HDFC BANK'],['NP','PAYMENT','PAYMENT','PAYMENT','PAYMENT'])

In [22]:
dataset1.reset_index(inplace = True, drop = True)
dataset1.head(50)

         Date            sales     debit   credit                customer_name
0  2020-05-07               NP   2812.00      0.0                32 CARROT(Dr)
1  2020-05-11               NP   1844.00      0.0                32 CARROT(Dr)
2  2020-05-18          PAYMENT      0.00   4656.0                32 CARROT(Dr)
3  2020-07-15               NP   8026.00      0.0                32 CARROT(Dr)
4  2020-07-24          PAYMENT      0.00   8026.0                32 CARROT(Dr)
5  2020-09-04               NP   2485.00      0.0                32 CARROT(Dr)
6  2020-09-09               NP   2253.00      0.0                32 CARROT(Dr)
7  2020-09-25          PAYMENT      0.00   4738.0                32 CARROT(Dr)
8  2020-10-08               NP   4237.00      0.0                32 CARROT(Dr)
9  2020-10-15          PAYMENT      0.00   4237.0                32 CARROT(Dr)
10 2020-10-19               NP   4862.00      0.0                32 CARROT(Dr)
11 2020-10-23          PAYMENT      0.00   4862.0                32 CARROT(Dr)
12 2020-04-01  Opening Balance   7619.19      0.0        50TH IDA KSDC - SALES
13 2020-04-01  Opening Balance  69360.00      0.0            51ST KSDC - SALES
14 2020-04-01  Opening Balance   7943.00      0.0  AABA DENTAL CLINIC,IRIKKOOR
15 2020-04-01  Opening Balance  27921.28      0.0                  ABZ DENTALS
16 2020-05-15               NP   3698.00      0.0                  ABZ DENTALS
17 2020-05-16               NP   1120.00      0.0                  ABZ DENTALS
18 2020-05-20               NP   4032.00      0.0                  ABZ DENTALS
19 2020-05-21               NP    700.00      0.0                  ABZ DENTALS
20 2020-05-28               NP   6775.00      0.0                  ABZ DENTALS
21 2020-06-10               NP   2878.00      0.0                  ABZ DENTALS
22 2020-06-10          PAYMENT      0.00  20000.0                  ABZ DENTALS
23 2020-06-16               NP    236.00      0.0                  ABZ DENTALS
24 2020-06-18               NP   3060.00      0.0                  ABZ DENTALS
25 2020-06-19               NP   1092.00      0.0                  ABZ DENTALS
26 2020-07-03               NP   3374.00      0.0                  ABZ DENTALS
27 2020-07-06          PAYMENT      0.00  20000.0                  ABZ DENTALS
28 2020-07-08               NP     56.00      0.0                  ABZ DENTALS
29 2020-07-09               NP   2888.00      0.0                  ABZ DENTALS
30 2020-07-10               NP   2991.00      0.0                  ABZ DENTALS
31 2020-07-11               NP   4105.00      0.0                  ABZ DENTALS
32 2020-07-22               NP    403.00      0.0                  ABZ DENTALS
33 2020-07-23               NP   3941.00      0.0                  ABZ DENTALS
34 2020-07-24               NP   1765.00      0.0                  ABZ DENTALS
35 2020-07-28               NP   4496.00      0.0                  ABZ DENTALS
36 2020-08-10     GST PURCHASE      0.00   2500.0                  ABZ DENTALS
37 2020-08-13               NP   2860.00      0.0                  ABZ DENTALS
38 2020-08-17               NP    793.00      0.0                  ABZ DENTALS
39 2020-08-17          PAYMENT      0.00  20000.0                  ABZ DENTALS
40 2020-08-18               NP   1036.00      0.0                  ABZ DENTALS
41 2020-08-21               NP   2875.00      0.0                  ABZ DENTALS
42 2020-09-03               NP    939.00      0.0                  ABZ DENTALS
43 2020-09-07               NP    283.00      0.0                  ABZ DENTALS
44 2020-09-08               NP   4889.00      0.0                  ABZ DENTALS
45 2020-09-09               NP   2940.00      0.0                  ABZ DENTALS
46 2020-09-12               NP   3881.00      0.0                  ABZ DENTALS
47 2020-09-14          PAYMENT      0.00  20000.0                  ABZ DENTALS
48 2020-09-16               NP   5902.00      0.0                  ABZ DENTALS
49 2020-09-24               NP   4302.00      0.0                  ABZ DENTALS

In [23]:
dataset1['Gross Total']=dataset1['credit']-dataset1['debit']

In [24]:
dataset1=dataset1.drop(['debit'], axis = 1) 
dataset1=dataset1.drop(['credit'], axis = 1)

In [25]:
dataset1['days'] = dataset1.groupby('customer_name')['Date'].diff().apply(lambda x: x.days)

In [26]:
dataset1['balance'] = dataset1.groupby('customer_name')['Gross Total'].cumsum()
dataset1.head(50)

,Date,sales,customer_name,Gross Total,days,balance
0,2020-05-07,NP,32 CARROT(Dr),-2812.00,NaN,-2812.00
1,2020-05-11,NP,32 CARROT(Dr),-1844.00,4.0,-4656.00
2,2020-05-18,PAYMENT,32 CARROT(Dr),4656.00,7.0,0.00
3,2020-07-15,NP,32 CARROT(Dr),-8026.00,58.0,-8026.00
4,2020-07-24,PAYMENT,32 CARROT(Dr),8026.00,9.0,0.00
5,2020-09-04,NP,32 CARROT(Dr),-2485.00,42.0,-2485.00
6,2020-09-09,NP,32 CARROT(Dr),-2253.00,5.0,-4738.00
7,2020-09-25,PAYMENT,32 CARROT(Dr),4738.00,16.0,0.00
8,2020-10-08,NP,32 CARROT(Dr),-4237.00,13.0,-4237.00
9,2020-10-15,PAYMENT,32 CARROT(Dr),4237.00,7.0,0.00
10,2020-10-19,NP,32 CARROT(Dr),-4862.00,4.0,-4862.00
11,2020-10-23,PAYMENT,32 CARROT(Dr),4862.00,4.0,0.00
12,2020-04-01,Opening Balance,50TH IDA KSDC - SALES,-7619.19,NaN,-7619.19
13,2020-04-01,Opening Balance,51ST KSDC - SALES,-69360.00,NaN,-69360.00
14,2020-04-01,Opening Balance,"AABA DENTAL CLINIC,IRIKKOOR",-7943.00,NaN,-7943.00
15,2020-04-01,Opening Balance,ABZ DENTALS,-27921.28,NaN,-27921.28
16,2020-05-15,NP,ABZ DENTALS,-3698.00,44.0,-31619.28
17,2020-05-16,NP,ABZ DENTALS,-1120.00,1.0,-32739.28
18,2020-05-20,NP,ABZ DENTALS,-4032.00,4.0,-36771.28
19,2020-05-21,NP,ABZ DENTALS,-700.00,1.0,-37471.28
20,2020-05-28,NP,ABZ DENTALS,-6775.00,7.0,-44246.28
21,2020-06-10,NP,ABZ DENTALS,-2878.00,13.0,-47124.28
22,2020-06-10,PAYMENT,ABZ DENTALS,20000.00,0.0,-27124.28
23,2020-06-16,NP,ABZ DENTALS,-236.00,6.0,-27360.28
24,2020-06-18,NP,ABZ DENTALS,-3060.00,2.0,-30420.28
25,2020-06-19,NP,ABZ DENTALS,-1092.00,1.0,-31512.28
26,2020-07-03,NP,ABZ DENTALS,-3374.00,14.0,-34886.28
27,2020-07-06,PAYMENT,ABZ DENTALS,20000.00,3.0,-14886.28
28,2020-07-08,NP,ABZ DENTALS,-56.00,2.0,-14942.28
29,2020-07-09,NP,ABZ DENTALS,-2888.00,1.0,-17830.28
30,2020-07-10,NP,ABZ DENTALS,-2991.00,1.0,-20821.28
31,2020-07-11,NP,ABZ DENTALS,-4105.00,1.0,-24926.28
32,2020-07-22,NP,ABZ DENTALS,-403.00,11.0,-25329.28
33,2020-07-23,NP,ABZ DENTALS,-3941.00,1.0,-29270.28
34,2020-07-24,NP,ABZ DENTALS,-1765.00,1.0,-31035.28
35,2020-07-28,NP,ABZ DENTALS,-4496.00,4.0,-35531.28
36,2020-08-10,GST PURCHASE,ABZ DENTALS,2500.00,13.0,-33031.28
37,2020-08-13,NP,ABZ DENTALS,-2860.00,3.0,-35891.28
38,2020-08-17,NP,ABZ DENTALS,-793.00,4.0,-36684.28
39,2020-08-17,PAYMENT,ABZ DENTALS,20000.00,0.0,-16684.28
40,2020-08-18,NP,ABZ DENTALS,-1036.00,1.0,-17720.28
41,2020-08-21,NP,ABZ DENTALS,-2875.00,3.0,-20595.28
42,2020-09-03,NP,ABZ DENTALS,-939.00,13.0,-21534.28
43,2020-09-07,NP,ABZ DENTALS,-283.00,4.0,-21817.28
44,2020-09-08,NP,ABZ DENTALS,-4889.00,1.0,-26706.28
45,2020-09-09,NP,ABZ DENTALS,-2940.00,1.0,-29646.28
46,2020-09-12,NP,ABZ DENTALS,-3881.00,3.0,-33527.28
47,2020-09-14,PAYMENT,ABZ DENTALS,20000.00,2.0,-13527.28
48,2020-09-16,NP,ABZ DENTALS,-5902.00,2.0,-19429.28
49,2020-09-24,NP,ABZ DENTALS,-4302.00,8.0,-23731.28

In [27]:
dataset1['days'] = dataset1['days'].fillna(0)

In [28]:
dataset1.Date.min()

Timestamp('2020-04-01 00:00:00')

In [29]:
dataset2.head(50)

,akdjbckjad,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,ASCBHJBV,NaN,NaN,NaN,NaN,NaN,NaN
1,ADJJ.VHkdhvb;K,NaN,NaN,NaN,NaN,NaN,NaN
2,JSDBV KHsdb,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,DVLjdbvjlsdbvsd,NaN,NaN,NaN,NaN,NaN,NaN
7,vdskv DKVD,NaN,NaN,NaN,NaN,NaN,NaN
8,Vsd vksdvbsdvSDvkjsDBVKDVB;ADDBWDVB,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Ledger:,50TH IDA KSDC - SALES,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN
17,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
18,2019-04-01 00:00:00,To,Opening Balance,NaN,NaN,7619.19,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Ledger:,51ST KSDC - SALES,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN
21,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
22,2019-04-01 00:00:00,To,Opening Balance,NaN,NaN,53360,NaN
23,2019-05-29 00:00:00,To,"DR.ANOOP, KANJIKODE",Journal,152,6000,NaN
24,2019-06-03 00:00:00,To,ACTEON INDIA PVT. LTD.,Journal,182,10000,NaN
25,69360,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,By,Closing Balance,NaN,NaN,NaN,69360
27,69360,NaN,NaN,NaN,NaN,NaN,69360
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Ledger:,"AABA DENTAL CLINIC,IRIKKOOR",1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN
30,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
31,2019-04-01 00:00:00,To,Opening Balance,NaN,NaN,38943.7,NaN
32,2019-04-05 00:00:00,By,CASH,Cash - Receipts,14,NaN,31000
33,2019-04-05 00:00:00,By,DISCOUNT ALLOWED,Journal,14,NaN,0.7
34,38943.7,NaN,NaN,NaN,NaN,NaN,31000.7
35,NaN,By,Closing Balance,NaN,NaN,NaN,7943
36,38943.7,NaN,NaN,NaN,NaN,NaN,38943.7
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Ledger:,ABDUL RAZAK.PP,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN
39,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
40,2019-04-01 00:00:00,To,Opening Balance,NaN,NaN,1675,NaN
41,2019-07-31 00:00:00,By,BAD DEBTS 2018-19,Journal,395,NaN,1675
42,1675,NaN,NaN,NaN,NaN,NaN,1675
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Ledger:,ABZ DENTALS,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN
45,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
46,2019-04-03 00:00:00,To,GST SALES,SALES GST,GST/000099/19-20,66100,NaN
47,2019-04-03 00:00:00,By,CASH,Cash - Receipts,6,NaN,40000
48,2019-04-05 00:00:00,To,GST SALES,SALES GST,GST/000307/19-20,1792,NaN
49,2019-04-08 00:00:00,To,GST SALES,SALES GST,GST/000359/19-20,9668,NaN

In [30]:
dataset2.columns =['Date','particulars','sales', 'vch type','vch_number','debit','credit'] 
dataset2.head(50)

,Date,particulars,sales,vch type,vch_number,debit,credit
0,ASCBHJBV,NaN,NaN,NaN,NaN,NaN,NaN
1,ADJJ.VHkdhvb;K,NaN,NaN,NaN,NaN,NaN,NaN
2,JSDBV KHsdb,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,DVLjdbvjlsdbvsd,NaN,NaN,NaN,NaN,NaN,NaN
7,vdskv DKVD,NaN,NaN,NaN,NaN,NaN,NaN
8,Vsd vksdvbsdvSDvkjsDBVKDVB;ADDBWDVB,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Ledger:,50TH IDA KSDC - SALES,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN
17,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
18,2019-04-01 00:00:00,To,Opening Balance,NaN,NaN,7619.19,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Ledger:,51ST KSDC - SALES,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN
21,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
22,2019-04-01 00:00:00,To,Opening Balance,NaN,NaN,53360,NaN
23,2019-05-29 00:00:00,To,"DR.ANOOP, KANJIKODE",Journal,152,6000,NaN
24,2019-06-03 00:00:00,To,ACTEON INDIA PVT. LTD.,Journal,182,10000,NaN
25,69360,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,By,Closing Balance,NaN,NaN,NaN,69360
27,69360,NaN,NaN,NaN,NaN,NaN,69360
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Ledger:,"AABA DENTAL CLINIC,IRIKKOOR",1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN
30,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
31,2019-04-01 00:00:00,To,Opening Balance,NaN,NaN,38943.7,NaN
32,2019-04-05 00:00:00,By,CASH,Cash - Receipts,14,NaN,31000
33,2019-04-05 00:00:00,By,DISCOUNT ALLOWED,Journal,14,NaN,0.7
34,38943.7,NaN,NaN,NaN,NaN,NaN,31000.7
35,NaN,By,Closing Balance,NaN,NaN,NaN,7943
36,38943.7,NaN,NaN,NaN,NaN,NaN,38943.7
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Ledger:,ABDUL RAZAK.PP,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN
39,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
40,2019-04-01 00:00:00,To,Opening Balance,NaN,NaN,1675,NaN
41,2019-07-31 00:00:00,By,BAD DEBTS 2018-19,Journal,395,NaN,1675
42,1675,NaN,NaN,NaN,NaN,NaN,1675
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Ledger:,ABZ DENTALS,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN
45,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
46,2019-04-03 00:00:00,To,GST SALES,SALES GST,GST/000099/19-20,66100,NaN
47,2019-04-03 00:00:00,By,CASH,Cash - Receipts,6,NaN,40000
48,2019-04-05 00:00:00,To,GST SALES,SALES GST,GST/000307/19-20,1792,NaN
49,2019-04-08 00:00:00,To,GST SALES,SALES GST,GST/000359/19-20,9668,NaN

In [31]:
dataset2 = dataset2.iloc[15:]
dataset2.head(50)

,Date,particulars,sales,vch type,vch_number,debit,credit
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Ledger:,50TH IDA KSDC - SALES,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN
17,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
18,2019-04-01 00:00:00,To,Opening Balance,NaN,NaN,7619.19,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Ledger:,51ST KSDC - SALES,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN
21,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
22,2019-04-01 00:00:00,To,Opening Balance,NaN,NaN,53360,NaN
23,2019-05-29 00:00:00,To,"DR.ANOOP, KANJIKODE",Journal,152,6000,NaN
24,2019-06-03 00:00:00,To,ACTEON INDIA PVT. LTD.,Journal,182,10000,NaN
25,69360,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,By,Closing Balance,NaN,NaN,NaN,69360
27,69360,NaN,NaN,NaN,NaN,NaN,69360
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Ledger:,"AABA DENTAL CLINIC,IRIKKOOR",1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN
30,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
31,2019-04-01 00:00:00,To,Opening Balance,NaN,NaN,38943.7,NaN
32,2019-04-05 00:00:00,By,CASH,Cash - Receipts,14,NaN,31000
33,2019-04-05 00:00:00,By,DISCOUNT ALLOWED,Journal,14,NaN,0.7
34,38943.7,NaN,NaN,NaN,NaN,NaN,31000.7
35,NaN,By,Closing Balance,NaN,NaN,NaN,7943
36,38943.7,NaN,NaN,NaN,NaN,NaN,38943.7
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Ledger:,ABDUL RAZAK.PP,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN
39,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
40,2019-04-01 00:00:00,To,Opening Balance,NaN,NaN,1675,NaN
41,2019-07-31 00:00:00,By,BAD DEBTS 2018-19,Journal,395,NaN,1675
42,1675,NaN,NaN,NaN,NaN,NaN,1675
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Ledger:,ABZ DENTALS,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN
45,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit
46,2019-04-03 00:00:00,To,GST SALES,SALES GST,GST/000099/19-20,66100,NaN
47,2019-04-03 00:00:00,By,CASH,Cash - Receipts,6,NaN,40000
48,2019-04-05 00:00:00,To,GST SALES,SALES GST,GST/000307/19-20,1792,NaN
49,2019-04-08 00:00:00,To,GST SALES,SALES GST,GST/000359/19-20,9668,NaN
50,2019-04-09 00:00:00,By,CASH,Cash - Receipts,25,NaN,26100
51,2019-04-10 00:00:00,To,GST SALES,SALES GST,GST/000517/19-20,55287,NaN
52,2019-04-11 00:00:00,By,CASH,Cash - Receipts,37,NaN,24000
53,2019-04-11 00:00:00,To,GST SALES,SALES GST,GST/000666/19-20,1474,NaN
54,2019-04-16 00:00:00,To,GST SALES,SALES GST,GST/000859/19-20,18377,NaN
55,2019-04-16 00:00:00,To,GST SALES,SALES GST,GST/000874/19-20,2106,NaN
56,2019-04-17 00:00:00,By,CASH,Cash - Receipts,55,NaN,20000
57,2019-04-17 00:00:00,To,GST SALES,SALES GST,GST/000922/19-20,2083,NaN
58,2019-04-19 00:00:00,To,GST SALES,SALES GST,GST/001085/19-20,2055,NaN
59,2019-04-19 00:00:00,To,GST SALES,SALES GST,GST/001112/19-20,2649,NaN
60,2019-04-22 00:00:00,By,KCK DENTAL PVT. LTD.,Journal,51,NaN,22400
61,2019-04-22 00:00:00,To,GST SALES,SALES GST,GST/001310/19-20,8452,NaN
62,2019-04-26 00:00:00,To,GST SALES,SALES GST,GST/001574/19-20,15058,NaN
63,2019-04-26 00:00:00,To,GST SALES,SALES GST,GST/001615/19-20,22683,NaN
64,2019-04-26 00:00:00,To,GST SALES,SALES GST,GST/001624/19-20,672,NaN

In [32]:
dataset2['customer_name']=dataset2['particulars']
dataset2.head(50)

,Date,particulars,sales,vch type,vch_number,debit,credit,customer_name
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Ledger:,50TH IDA KSDC - SALES,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN,50TH IDA KSDC - SALES
17,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit,Particulars
18,2019-04-01 00:00:00,To,Opening Balance,NaN,NaN,7619.19,NaN,To
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Ledger:,51ST KSDC - SALES,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN,51ST KSDC - SALES
21,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit,Particulars
22,2019-04-01 00:00:00,To,Opening Balance,NaN,NaN,53360,NaN,To
23,2019-05-29 00:00:00,To,"DR.ANOOP, KANJIKODE",Journal,152,6000,NaN,To
24,2019-06-03 00:00:00,To,ACTEON INDIA PVT. LTD.,Journal,182,10000,NaN,To
25,69360,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,By,Closing Balance,NaN,NaN,NaN,69360,By
27,69360,NaN,NaN,NaN,NaN,NaN,69360,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Ledger:,"AABA DENTAL CLINIC,IRIKKOOR",1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN,"AABA DENTAL CLINIC,IRIKKOOR"
30,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit,Particulars
31,2019-04-01 00:00:00,To,Opening Balance,NaN,NaN,38943.7,NaN,To
32,2019-04-05 00:00:00,By,CASH,Cash - Receipts,14,NaN,31000,By
33,2019-04-05 00:00:00,By,DISCOUNT ALLOWED,Journal,14,NaN,0.7,By
34,38943.7,NaN,NaN,NaN,NaN,NaN,31000.7,NaN
35,NaN,By,Closing Balance,NaN,NaN,NaN,7943,By
36,38943.7,NaN,NaN,NaN,NaN,NaN,38943.7,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Ledger:,ABDUL RAZAK.PP,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN,ABDUL RAZAK.PP
39,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit,Particulars
40,2019-04-01 00:00:00,To,Opening Balance,NaN,NaN,1675,NaN,To
41,2019-07-31 00:00:00,By,BAD DEBTS 2018-19,Journal,395,NaN,1675,By
42,1675,NaN,NaN,NaN,NaN,NaN,1675,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Ledger:,ABZ DENTALS,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN,ABZ DENTALS
45,Date,Particulars,NaN,Vch Type,Vch No.,Debit,Credit,Particulars
46,2019-04-03 00:00:00,To,GST SALES,SALES GST,GST/000099/19-20,66100,NaN,To
47,2019-04-03 00:00:00,By,CASH,Cash - Receipts,6,NaN,40000,By
48,2019-04-05 00:00:00,To,GST SALES,SALES GST,GST/000307/19-20,1792,NaN,To
49,2019-04-08 00:00:00,To,GST SALES,SALES GST,GST/000359/19-20,9668,NaN,To
50,2019-04-09 00:00:00,By,CASH,Cash - Receipts,25,NaN,26100,By
51,2019-04-10 00:00:00,To,GST SALES,SALES GST,GST/000517/19-20,55287,NaN,To
52,2019-04-11 00:00:00,By,CASH,Cash - Receipts,37,NaN,24000,By
53,2019-04-11 00:00:00,To,GST SALES,SALES GST,GST/000666/19-20,1474,NaN,To
54,2019-04-16 00:00:00,To,GST SALES,SALES GST,GST/000859/19-20,18377,NaN,To
55,2019-04-16 00:00:00,To,GST SALES,SALES GST,GST/000874/19-20,2106,NaN,To
56,2019-04-17 00:00:00,By,CASH,Cash - Receipts,55,NaN,20000,By
57,2019-04-17 00:00:00,To,GST SALES,SALES GST,GST/000922/19-20,2083,NaN,To
58,2019-04-19 00:00:00,To,GST SALES,SALES GST,GST/001085/19-20,2055,NaN,To
59,2019-04-19 00:00:00,To,GST SALES,SALES GST,GST/001112/19-20,2649,NaN,To
60,2019-04-22 00:00:00,By,KCK DENTAL PVT. LTD.,Journal,51,NaN,22400,By
61,2019-04-22 00:00:00,To,GST SALES,SALES GST,GST/001310/19-20,8452,NaN,To
62,2019-04-26 00:00:00,To,GST SALES,SALES GST,GST/001574/19-20,15058,NaN,To
63,2019-04-26 00:00:00,To,GST SALES,SALES GST,GST/001615/19-20,22683,NaN,To
64,2019-04-26 00:00:00,To,GST SALES,SALES GST,GST/001624/19-20,672,NaN,To

In [33]:
dataset2=dataset2.replace(to_replace ="To", value =np.nan) 
dataset2=dataset2.replace(to_replace ="By", value =np.nan) 
dataset2=dataset2.replace(to_replace ="Particulars", value =np.nan) 
dataset2.head(50)

,Date,particulars,sales,vch type,vch_number,debit,credit,customer_name
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Ledger:,50TH IDA KSDC - SALES,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN,50TH IDA KSDC - SALES
17,Date,NaN,NaN,Vch Type,Vch No.,Debit,Credit,NaN
18,2019-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,7619.19,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Ledger:,51ST KSDC - SALES,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN,51ST KSDC - SALES
21,Date,NaN,NaN,Vch Type,Vch No.,Debit,Credit,NaN
22,2019-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,53360,NaN,NaN
23,2019-05-29 00:00:00,NaN,"DR.ANOOP, KANJIKODE",Journal,152,6000,NaN,NaN
24,2019-06-03 00:00:00,NaN,ACTEON INDIA PVT. LTD.,Journal,182,10000,NaN,NaN
25,69360,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,Closing Balance,NaN,NaN,NaN,69360,NaN
27,69360,NaN,NaN,NaN,NaN,NaN,69360,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Ledger:,"AABA DENTAL CLINIC,IRIKKOOR",1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN,"AABA DENTAL CLINIC,IRIKKOOR"
30,Date,NaN,NaN,Vch Type,Vch No.,Debit,Credit,NaN
31,2019-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,38943.7,NaN,NaN
32,2019-04-05 00:00:00,NaN,CASH,Cash - Receipts,14,NaN,31000,NaN
33,2019-04-05 00:00:00,NaN,DISCOUNT ALLOWED,Journal,14,NaN,0.7,NaN
34,38943.7,NaN,NaN,NaN,NaN,NaN,31000.7,NaN
35,NaN,NaN,Closing Balance,NaN,NaN,NaN,7943,NaN
36,38943.7,NaN,NaN,NaN,NaN,NaN,38943.7,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Ledger:,ABDUL RAZAK.PP,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN,ABDUL RAZAK.PP
39,Date,NaN,NaN,Vch Type,Vch No.,Debit,Credit,NaN
40,2019-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,1675,NaN,NaN
41,2019-07-31 00:00:00,NaN,BAD DEBTS 2018-19,Journal,395,NaN,1675,NaN
42,1675,NaN,NaN,NaN,NaN,NaN,1675,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Ledger:,ABZ DENTALS,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN,ABZ DENTALS
45,Date,NaN,NaN,Vch Type,Vch No.,Debit,Credit,NaN
46,2019-04-03 00:00:00,NaN,GST SALES,SALES GST,GST/000099/19-20,66100,NaN,NaN
47,2019-04-03 00:00:00,NaN,CASH,Cash - Receipts,6,NaN,40000,NaN
48,2019-04-05 00:00:00,NaN,GST SALES,SALES GST,GST/000307/19-20,1792,NaN,NaN
49,2019-04-08 00:00:00,NaN,GST SALES,SALES GST,GST/000359/19-20,9668,NaN,NaN
50,2019-04-09 00:00:00,NaN,CASH,Cash - Receipts,25,NaN,26100,NaN
51,2019-04-10 00:00:00,NaN,GST SALES,SALES GST,GST/000517/19-20,55287,NaN,NaN
52,2019-04-11 00:00:00,NaN,CASH,Cash - Receipts,37,NaN,24000,NaN
53,2019-04-11 00:00:00,NaN,GST SALES,SALES GST,GST/000666/19-20,1474,NaN,NaN
54,2019-04-16 00:00:00,NaN,GST SALES,SALES GST,GST/000859/19-20,18377,NaN,NaN
55,2019-04-16 00:00:00,NaN,GST SALES,SALES GST,GST/000874/19-20,2106,NaN,NaN
56,2019-04-17 00:00:00,NaN,CASH,Cash - Receipts,55,NaN,20000,NaN
57,2019-04-17 00:00:00,NaN,GST SALES,SALES GST,GST/000922/19-20,2083,NaN,NaN
58,2019-04-19 00:00:00,NaN,GST SALES,SALES GST,GST/001085/19-20,2055,NaN,NaN
59,2019-04-19 00:00:00,NaN,GST SALES,SALES GST,GST/001112/19-20,2649,NaN,NaN
60,2019-04-22 00:00:00,NaN,KCK DENTAL PVT. LTD.,Journal,51,NaN,22400,NaN
61,2019-04-22 00:00:00,NaN,GST SALES,SALES GST,GST/001310/19-20,8452,NaN,NaN
62,2019-04-26 00:00:00,NaN,GST SALES,SALES GST,GST/001574/19-20,15058,NaN,NaN
63,2019-04-26 00:00:00,NaN,GST SALES,SALES GST,GST/001615/19-20,22683,NaN,NaN
64,2019-04-26 00:00:00,NaN,GST SALES,SALES GST,GST/001624/19-20,672,NaN,NaN

In [34]:
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)
dataset2.head(50)

,Date,particulars,sales,vch type,vch_number,debit,credit,customer_name
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Ledger:,50TH IDA KSDC - SALES,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN,50TH IDA KSDC - SALES
17,Date,NaN,NaN,Vch Type,Vch No.,Debit,Credit,NaN
18,2019-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,7619.19,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Ledger:,51ST KSDC - SALES,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN,51ST KSDC - SALES
21,Date,NaN,NaN,Vch Type,Vch No.,Debit,Credit,NaN
22,2019-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,53360,NaN,NaN
23,2019-05-29 00:00:00,NaN,"DR.ANOOP, KANJIKODE",Journal,152,6000,NaN,NaN
24,2019-06-03 00:00:00,NaN,ACTEON INDIA PVT. LTD.,Journal,182,10000,NaN,NaN
25,69360,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,Closing Balance,NaN,NaN,NaN,69360,NaN
27,69360,NaN,NaN,NaN,NaN,NaN,69360,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Ledger:,"AABA DENTAL CLINIC,IRIKKOOR",1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN,"AABA DENTAL CLINIC,IRIKKOOR"
30,Date,NaN,NaN,Vch Type,Vch No.,Debit,Credit,NaN
31,2019-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,38943.7,NaN,NaN
32,2019-04-05 00:00:00,NaN,CASH,Cash - Receipts,14,NaN,31000,NaN
33,2019-04-05 00:00:00,NaN,DISCOUNT ALLOWED,Journal,14,NaN,0.7,NaN
34,38943.7,NaN,NaN,NaN,NaN,NaN,31000.7,NaN
35,NaN,NaN,Closing Balance,NaN,NaN,NaN,7943,NaN
36,38943.7,NaN,NaN,NaN,NaN,NaN,38943.7,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Ledger:,ABDUL RAZAK.PP,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN,ABDUL RAZAK.PP
39,Date,NaN,NaN,Vch Type,Vch No.,Debit,Credit,NaN
40,2019-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,1675,NaN,NaN
41,2019-07-31 00:00:00,NaN,BAD DEBTS 2018-19,Journal,395,NaN,1675,NaN
42,1675,NaN,NaN,NaN,NaN,NaN,1675,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Ledger:,ABZ DENTALS,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN,ABZ DENTALS
45,Date,NaN,NaN,Vch Type,Vch No.,Debit,Credit,NaN
46,2019-04-03 00:00:00,NaN,GST SALES,SALES GST,GST/000099/19-20,66100,NaN,NaN
47,2019-04-03 00:00:00,NaN,CASH,Cash - Receipts,6,NaN,40000,NaN
48,2019-04-05 00:00:00,NaN,GST SALES,SALES GST,GST/000307/19-20,1792,NaN,NaN
49,2019-04-08 00:00:00,NaN,GST SALES,SALES GST,GST/000359/19-20,9668,NaN,NaN
50,2019-04-09 00:00:00,NaN,CASH,Cash - Receipts,25,NaN,26100,NaN
51,2019-04-10 00:00:00,NaN,GST SALES,SALES GST,GST/000517/19-20,55287,NaN,NaN
52,2019-04-11 00:00:00,NaN,CASH,Cash - Receipts,37,NaN,24000,NaN
53,2019-04-11 00:00:00,NaN,GST SALES,SALES GST,GST/000666/19-20,1474,NaN,NaN
54,2019-04-16 00:00:00,NaN,GST SALES,SALES GST,GST/000859/19-20,18377,NaN,NaN
55,2019-04-16 00:00:00,NaN,GST SALES,SALES GST,GST/000874/19-20,2106,NaN,NaN
56,2019-04-17 00:00:00,NaN,CASH,Cash - Receipts,55,NaN,20000,NaN
57,2019-04-17 00:00:00,NaN,GST SALES,SALES GST,GST/000922/19-20,2083,NaN,NaN
58,2019-04-19 00:00:00,NaN,GST SALES,SALES GST,GST/001085/19-20,2055,NaN,NaN
59,2019-04-19 00:00:00,NaN,GST SALES,SALES GST,GST/001112/19-20,2649,NaN,NaN
60,2019-04-22 00:00:00,NaN,KCK DENTAL PVT. LTD.,Journal,51,NaN,22400,NaN
61,2019-04-22 00:00:00,NaN,GST SALES,SALES GST,GST/001310/19-20,8452,NaN,NaN
62,2019-04-26 00:00:00,NaN,GST SALES,SALES GST,GST/001574/19-20,15058,NaN,NaN
63,2019-04-26 00:00:00,NaN,GST SALES,SALES GST,GST/001615/19-20,22683,NaN,NaN
64,2019-04-26 00:00:00,NaN,GST SALES,SALES GST,GST/001624/19-20,672,NaN,NaN

In [35]:
# dataset2.Date.min()

TypeError: '<=' not supported between instances of 'int' and 'datetime.datetime'

In [36]:
cols = ['customer_name']
dataset2.loc[:,cols] = dataset2.loc[:,cols].ffill()
dataset2.head(50)

,Date,particulars,sales,vch type,vch_number,debit,credit,customer_name
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Ledger:,50TH IDA KSDC - SALES,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN,50TH IDA KSDC - SALES
17,Date,NaN,NaN,Vch Type,Vch No.,Debit,Credit,50TH IDA KSDC - SALES
18,2019-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,7619.19,NaN,50TH IDA KSDC - SALES
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50TH IDA KSDC - SALES
20,Ledger:,51ST KSDC - SALES,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN,51ST KSDC - SALES
21,Date,NaN,NaN,Vch Type,Vch No.,Debit,Credit,51ST KSDC - SALES
22,2019-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,53360,NaN,51ST KSDC - SALES
23,2019-05-29 00:00:00,NaN,"DR.ANOOP, KANJIKODE",Journal,152,6000,NaN,51ST KSDC - SALES
24,2019-06-03 00:00:00,NaN,ACTEON INDIA PVT. LTD.,Journal,182,10000,NaN,51ST KSDC - SALES
25,69360,NaN,NaN,NaN,NaN,NaN,NaN,51ST KSDC - SALES
26,NaN,NaN,Closing Balance,NaN,NaN,NaN,69360,51ST KSDC - SALES
27,69360,NaN,NaN,NaN,NaN,NaN,69360,51ST KSDC - SALES
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51ST KSDC - SALES
29,Ledger:,"AABA DENTAL CLINIC,IRIKKOOR",1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN,"AABA DENTAL CLINIC,IRIKKOOR"
30,Date,NaN,NaN,Vch Type,Vch No.,Debit,Credit,"AABA DENTAL CLINIC,IRIKKOOR"
31,2019-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,38943.7,NaN,"AABA DENTAL CLINIC,IRIKKOOR"
32,2019-04-05 00:00:00,NaN,CASH,Cash - Receipts,14,NaN,31000,"AABA DENTAL CLINIC,IRIKKOOR"
33,2019-04-05 00:00:00,NaN,DISCOUNT ALLOWED,Journal,14,NaN,0.7,"AABA DENTAL CLINIC,IRIKKOOR"
34,38943.7,NaN,NaN,NaN,NaN,NaN,31000.7,"AABA DENTAL CLINIC,IRIKKOOR"
35,NaN,NaN,Closing Balance,NaN,NaN,NaN,7943,"AABA DENTAL CLINIC,IRIKKOOR"
36,38943.7,NaN,NaN,NaN,NaN,NaN,38943.7,"AABA DENTAL CLINIC,IRIKKOOR"
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"AABA DENTAL CLINIC,IRIKKOOR"
38,Ledger:,ABDUL RAZAK.PP,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN,ABDUL RAZAK.PP
39,Date,NaN,NaN,Vch Type,Vch No.,Debit,Credit,ABDUL RAZAK.PP
40,2019-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,1675,NaN,ABDUL RAZAK.PP
41,2019-07-31 00:00:00,NaN,BAD DEBTS 2018-19,Journal,395,NaN,1675,ABDUL RAZAK.PP
42,1675,NaN,NaN,NaN,NaN,NaN,1675,ABDUL RAZAK.PP
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABDUL RAZAK.PP
44,Ledger:,ABZ DENTALS,1-Apr-2019 to 30-Sep-2019,NaN,NaN,NaN,NaN,ABZ DENTALS
45,Date,NaN,NaN,Vch Type,Vch No.,Debit,Credit,ABZ DENTALS
46,2019-04-03 00:00:00,NaN,GST SALES,SALES GST,GST/000099/19-20,66100,NaN,ABZ DENTALS
47,2019-04-03 00:00:00,NaN,CASH,Cash - Receipts,6,NaN,40000,ABZ DENTALS
48,2019-04-05 00:00:00,NaN,GST SALES,SALES GST,GST/000307/19-20,1792,NaN,ABZ DENTALS
49,2019-04-08 00:00:00,NaN,GST SALES,SALES GST,GST/000359/19-20,9668,NaN,ABZ DENTALS
50,2019-04-09 00:00:00,NaN,CASH,Cash - Receipts,25,NaN,26100,ABZ DENTALS
51,2019-04-10 00:00:00,NaN,GST SALES,SALES GST,GST/000517/19-20,55287,NaN,ABZ DENTALS
52,2019-04-11 00:00:00,NaN,CASH,Cash - Receipts,37,NaN,24000,ABZ DENTALS
53,2019-04-11 00:00:00,NaN,GST SALES,SALES GST,GST/000666/19-20,1474,NaN,ABZ DENTALS
54,2019-04-16 00:00:00,NaN,GST SALES,SALES GST,GST/000859/19-20,18377,NaN,ABZ DENTALS
55,2019-04-16 00:00:00,NaN,GST SALES,SALES GST,GST/000874/19-20,2106,NaN,ABZ DENTALS
56,2019-04-17 00:00:00,NaN,CASH,Cash - Receipts,55,NaN,20000,ABZ DENTALS
57,2019-04-17 00:00:00,NaN,GST SALES,SALES GST,GST/000922/19-20,2083,NaN,ABZ DENTALS
58,2019-04-19 00:00:00,NaN,GST SALES,SALES GST,GST/001085/19-20,2055,NaN,ABZ DENTALS
59,2019-04-19 00:00:00,NaN,GST SALES,SALES GST,GST/001112/19-20,2649,NaN,ABZ DENTALS
60,2019-04-22 00:00:00,NaN,KCK DENTAL PVT. LTD.,Journal,51,NaN,22400,ABZ DENTALS
61,2019-04-22 00:00:00,NaN,GST SALES,SALES GST,GST/001310/19-20,8452,NaN,ABZ DENTALS
62,2019-04-26 00:00:00,NaN,GST SALES,SALES GST,GST/001574/19-20,15058,NaN,ABZ DENTALS
63,2019-04-26 00:00:00,NaN,GST SALES,SALES GST,GST/001615/19-20,22683,NaN,ABZ DENTALS
64,2019-04-26 00:00:00,NaN,GST SALES,SALES GST,GST/001624/19-20,672,NaN,ABZ DENTALS

In [37]:
dataset2 = dataset2[dataset2.Date != 'Ledger:']
dataset2 = dataset2[dataset2.Date !='Date']
dataset2.head(50)

,Date,particulars,sales,vch type,vch_number,debit,credit,customer_name
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2019-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,7619.19,NaN,50TH IDA KSDC - SALES
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50TH IDA KSDC - SALES
22,2019-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,53360,NaN,51ST KSDC - SALES
23,2019-05-29 00:00:00,NaN,"DR.ANOOP, KANJIKODE",Journal,152,6000,NaN,51ST KSDC - SALES
24,2019-06-03 00:00:00,NaN,ACTEON INDIA PVT. LTD.,Journal,182,10000,NaN,51ST KSDC - SALES
25,69360,NaN,NaN,NaN,NaN,NaN,NaN,51ST KSDC - SALES
26,NaN,NaN,Closing Balance,NaN,NaN,NaN,69360,51ST KSDC - SALES
27,69360,NaN,NaN,NaN,NaN,NaN,69360,51ST KSDC - SALES
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51ST KSDC - SALES
31,2019-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,38943.7,NaN,"AABA DENTAL CLINIC,IRIKKOOR"
32,2019-04-05 00:00:00,NaN,CASH,Cash - Receipts,14,NaN,31000,"AABA DENTAL CLINIC,IRIKKOOR"
33,2019-04-05 00:00:00,NaN,DISCOUNT ALLOWED,Journal,14,NaN,0.7,"AABA DENTAL CLINIC,IRIKKOOR"
34,38943.7,NaN,NaN,NaN,NaN,NaN,31000.7,"AABA DENTAL CLINIC,IRIKKOOR"
35,NaN,NaN,Closing Balance,NaN,NaN,NaN,7943,"AABA DENTAL CLINIC,IRIKKOOR"
36,38943.7,NaN,NaN,NaN,NaN,NaN,38943.7,"AABA DENTAL CLINIC,IRIKKOOR"
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"AABA DENTAL CLINIC,IRIKKOOR"
40,2019-04-01 00:00:00,NaN,Opening Balance,NaN,NaN,1675,NaN,ABDUL RAZAK.PP
41,2019-07-31 00:00:00,NaN,BAD DEBTS 2018-19,Journal,395,NaN,1675,ABDUL RAZAK.PP
42,1675,NaN,NaN,NaN,NaN,NaN,1675,ABDUL RAZAK.PP
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABDUL RAZAK.PP
46,2019-04-03 00:00:00,NaN,GST SALES,SALES GST,GST/000099/19-20,66100,NaN,ABZ DENTALS
47,2019-04-03 00:00:00,NaN,CASH,Cash - Receipts,6,NaN,40000,ABZ DENTALS
48,2019-04-05 00:00:00,NaN,GST SALES,SALES GST,GST/000307/19-20,1792,NaN,ABZ DENTALS
49,2019-04-08 00:00:00,NaN,GST SALES,SALES GST,GST/000359/19-20,9668,NaN,ABZ DENTALS
50,2019-04-09 00:00:00,NaN,CASH,Cash - Receipts,25,NaN,26100,ABZ DENTALS
51,2019-04-10 00:00:00,NaN,GST SALES,SALES GST,GST/000517/19-20,55287,NaN,ABZ DENTALS
52,2019-04-11 00:00:00,NaN,CASH,Cash - Receipts,37,NaN,24000,ABZ DENTALS
53,2019-04-11 00:00:00,NaN,GST SALES,SALES GST,GST/000666/19-20,1474,NaN,ABZ DENTALS
54,2019-04-16 00:00:00,NaN,GST SALES,SALES GST,GST/000859/19-20,18377,NaN,ABZ DENTALS
55,2019-04-16 00:00:00,NaN,GST SALES,SALES GST,GST/000874/19-20,2106,NaN,ABZ DENTALS
56,2019-04-17 00:00:00,NaN,CASH,Cash - Receipts,55,NaN,20000,ABZ DENTALS
57,2019-04-17 00:00:00,NaN,GST SALES,SALES GST,GST/000922/19-20,2083,NaN,ABZ DENTALS
58,2019-04-19 00:00:00,NaN,GST SALES,SALES GST,GST/001085/19-20,2055,NaN,ABZ DENTALS
59,2019-04-19 00:00:00,NaN,GST SALES,SALES GST,GST/001112/19-20,2649,NaN,ABZ DENTALS
60,2019-04-22 00:00:00,NaN,KCK DENTAL PVT. LTD.,Journal,51,NaN,22400,ABZ DENTALS
61,2019-04-22 00:00:00,NaN,GST SALES,SALES GST,GST/001310/19-20,8452,NaN,ABZ DENTALS
62,2019-04-26 00:00:00,NaN,GST SALES,SALES GST,GST/001574/19-20,15058,NaN,ABZ DENTALS
63,2019-04-26 00:00:00,NaN,GST SALES,SALES GST,GST/001615/19-20,22683,NaN,ABZ DENTALS
64,2019-04-26 00:00:00,NaN,GST SALES,SALES GST,GST/001624/19-20,672,NaN,ABZ DENTALS
65,2019-04-29 00:00:00,NaN,GST SALES,SALES GST,GST/001754/19-20,5538,NaN,ABZ DENTALS
66,2019-04-30 00:00:00,NaN,GST SALES,SALES GST,GST/001862/19-20,7245,NaN,ABZ DENTALS
67,2019-04-30 00:00:00,NaN,GST SALES,SALES GST,GST/001912/19-20,16352,NaN,ABZ DENTALS
68,2019-05-01 00:00:00,NaN,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,235,NaN,50000,ABZ DENTALS
69,2019-05-02 00:00:00,NaN,GST SALES,SALES GST,GST/002017/19-20,4210,NaN,ABZ DENTALS
70,2019-05-04 00:00:00,NaN,GST SALES,SALES GST,GST/002148/19-20,1893,NaN,ABZ DENTALS
71,2019-05-06 00:00:00,NaN,GST SALES,SALES GST,GST/002282/19-20,23872,NaN,ABZ DENTALS
72,2019-05-06 00:00:00,NaN,GST SALES,SALES GST,GST/002323/19-20,56,NaN,ABZ DENTALS
73,2019-05-10 00:00:00,NaN,GST SALES,SALES GST,GST/002660/19-20,2038,NaN,ABZ DENTALS
74,2019-05-14 00:00:00,NaN,GST SALES,SALES GST,GST/002847/19-20,13747,NaN,ABZ DENTALS

In [38]:
dataset2=dataset2.drop(['particulars'], axis = 1) 
dataset2.head(50)

,Date,sales,vch type,vch_number,debit,credit,customer_name
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2019-04-01 00:00:00,Opening Balance,NaN,NaN,7619.19,NaN,50TH IDA KSDC - SALES
19,NaN,NaN,NaN,NaN,NaN,NaN,50TH IDA KSDC - SALES
22,2019-04-01 00:00:00,Opening Balance,NaN,NaN,53360,NaN,51ST KSDC - SALES
23,2019-05-29 00:00:00,"DR.ANOOP, KANJIKODE",Journal,152,6000,NaN,51ST KSDC - SALES
24,2019-06-03 00:00:00,ACTEON INDIA PVT. LTD.,Journal,182,10000,NaN,51ST KSDC - SALES
25,69360,NaN,NaN,NaN,NaN,NaN,51ST KSDC - SALES
26,NaN,Closing Balance,NaN,NaN,NaN,69360,51ST KSDC - SALES
27,69360,NaN,NaN,NaN,NaN,69360,51ST KSDC - SALES
28,NaN,NaN,NaN,NaN,NaN,NaN,51ST KSDC - SALES
31,2019-04-01 00:00:00,Opening Balance,NaN,NaN,38943.7,NaN,"AABA DENTAL CLINIC,IRIKKOOR"
32,2019-04-05 00:00:00,CASH,Cash - Receipts,14,NaN,31000,"AABA DENTAL CLINIC,IRIKKOOR"
33,2019-04-05 00:00:00,DISCOUNT ALLOWED,Journal,14,NaN,0.7,"AABA DENTAL CLINIC,IRIKKOOR"
34,38943.7,NaN,NaN,NaN,NaN,31000.7,"AABA DENTAL CLINIC,IRIKKOOR"
35,NaN,Closing Balance,NaN,NaN,NaN,7943,"AABA DENTAL CLINIC,IRIKKOOR"
36,38943.7,NaN,NaN,NaN,NaN,38943.7,"AABA DENTAL CLINIC,IRIKKOOR"
37,NaN,NaN,NaN,NaN,NaN,NaN,"AABA DENTAL CLINIC,IRIKKOOR"
40,2019-04-01 00:00:00,Opening Balance,NaN,NaN,1675,NaN,ABDUL RAZAK.PP
41,2019-07-31 00:00:00,BAD DEBTS 2018-19,Journal,395,NaN,1675,ABDUL RAZAK.PP
42,1675,NaN,NaN,NaN,NaN,1675,ABDUL RAZAK.PP
43,NaN,NaN,NaN,NaN,NaN,NaN,ABDUL RAZAK.PP
46,2019-04-03 00:00:00,GST SALES,SALES GST,GST/000099/19-20,66100,NaN,ABZ DENTALS
47,2019-04-03 00:00:00,CASH,Cash - Receipts,6,NaN,40000,ABZ DENTALS
48,2019-04-05 00:00:00,GST SALES,SALES GST,GST/000307/19-20,1792,NaN,ABZ DENTALS
49,2019-04-08 00:00:00,GST SALES,SALES GST,GST/000359/19-20,9668,NaN,ABZ DENTALS
50,2019-04-09 00:00:00,CASH,Cash - Receipts,25,NaN,26100,ABZ DENTALS
51,2019-04-10 00:00:00,GST SALES,SALES GST,GST/000517/19-20,55287,NaN,ABZ DENTALS
52,2019-04-11 00:00:00,CASH,Cash - Receipts,37,NaN,24000,ABZ DENTALS
53,2019-04-11 00:00:00,GST SALES,SALES GST,GST/000666/19-20,1474,NaN,ABZ DENTALS
54,2019-04-16 00:00:00,GST SALES,SALES GST,GST/000859/19-20,18377,NaN,ABZ DENTALS
55,2019-04-16 00:00:00,GST SALES,SALES GST,GST/000874/19-20,2106,NaN,ABZ DENTALS
56,2019-04-17 00:00:00,CASH,Cash - Receipts,55,NaN,20000,ABZ DENTALS
57,2019-04-17 00:00:00,GST SALES,SALES GST,GST/000922/19-20,2083,NaN,ABZ DENTALS
58,2019-04-19 00:00:00,GST SALES,SALES GST,GST/001085/19-20,2055,NaN,ABZ DENTALS
59,2019-04-19 00:00:00,GST SALES,SALES GST,GST/001112/19-20,2649,NaN,ABZ DENTALS
60,2019-04-22 00:00:00,KCK DENTAL PVT. LTD.,Journal,51,NaN,22400,ABZ DENTALS
61,2019-04-22 00:00:00,GST SALES,SALES GST,GST/001310/19-20,8452,NaN,ABZ DENTALS
62,2019-04-26 00:00:00,GST SALES,SALES GST,GST/001574/19-20,15058,NaN,ABZ DENTALS
63,2019-04-26 00:00:00,GST SALES,SALES GST,GST/001615/19-20,22683,NaN,ABZ DENTALS
64,2019-04-26 00:00:00,GST SALES,SALES GST,GST/001624/19-20,672,NaN,ABZ DENTALS
65,2019-04-29 00:00:00,GST SALES,SALES GST,GST/001754/19-20,5538,NaN,ABZ DENTALS
66,2019-04-30 00:00:00,GST SALES,SALES GST,GST/001862/19-20,7245,NaN,ABZ DENTALS
67,2019-04-30 00:00:00,GST SALES,SALES GST,GST/001912/19-20,16352,NaN,ABZ DENTALS
68,2019-05-01 00:00:00,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,Bank - Receipts,235,NaN,50000,ABZ DENTALS
69,2019-05-02 00:00:00,GST SALES,SALES GST,GST/002017/19-20,4210,NaN,ABZ DENTALS
70,2019-05-04 00:00:00,GST SALES,SALES GST,GST/002148/19-20,1893,NaN,ABZ DENTALS
71,2019-05-06 00:00:00,GST SALES,SALES GST,GST/002282/19-20,23872,NaN,ABZ DENTALS
72,2019-05-06 00:00:00,GST SALES,SALES GST,GST/002323/19-20,56,NaN,ABZ DENTALS
73,2019-05-10 00:00:00,GST SALES,SALES GST,GST/002660/19-20,2038,NaN,ABZ DENTALS
74,2019-05-14 00:00:00,GST SALES,SALES GST,GST/002847/19-20,13747,NaN,ABZ DENTALS

In [39]:
dataset2['credit'] = dataset2['credit'].fillna(0)
dataset2['debit'] = dataset2['debit'].fillna(0)

In [40]:
dataset2=dataset2.drop(['vch type'], axis = 1) 
dataset2=dataset2.drop(['vch_number'], axis = 1)

In [41]:
dataset2['Date'] = pd.to_datetime(dataset2['Date'], errors='coerce')
dataset2.head(50)

,Date,sales,debit,credit,customer_name
15,NaT,NaN,0.00,0.0,NaN
18,2019-04-01,Opening Balance,7619.19,0.0,50TH IDA KSDC - SALES
19,NaT,NaN,0.00,0.0,50TH IDA KSDC - SALES
22,2019-04-01,Opening Balance,53360.00,0.0,51ST KSDC - SALES
23,2019-05-29,"DR.ANOOP, KANJIKODE",6000.00,0.0,51ST KSDC - SALES
24,2019-06-03,ACTEON INDIA PVT. LTD.,10000.00,0.0,51ST KSDC - SALES
25,NaT,NaN,0.00,0.0,51ST KSDC - SALES
26,NaT,Closing Balance,0.00,69360.0,51ST KSDC - SALES
27,NaT,NaN,0.00,69360.0,51ST KSDC - SALES
28,NaT,NaN,0.00,0.0,51ST KSDC - SALES
31,2019-04-01,Opening Balance,38943.70,0.0,"AABA DENTAL CLINIC,IRIKKOOR"
32,2019-04-05,CASH,0.00,31000.0,"AABA DENTAL CLINIC,IRIKKOOR"
33,2019-04-05,DISCOUNT ALLOWED,0.00,0.7,"AABA DENTAL CLINIC,IRIKKOOR"
34,NaT,NaN,0.00,31000.7,"AABA DENTAL CLINIC,IRIKKOOR"
35,NaT,Closing Balance,0.00,7943.0,"AABA DENTAL CLINIC,IRIKKOOR"
36,NaT,NaN,0.00,38943.7,"AABA DENTAL CLINIC,IRIKKOOR"
37,NaT,NaN,0.00,0.0,"AABA DENTAL CLINIC,IRIKKOOR"
40,2019-04-01,Opening Balance,1675.00,0.0,ABDUL RAZAK.PP
41,2019-07-31,BAD DEBTS 2018-19,0.00,1675.0,ABDUL RAZAK.PP
42,NaT,NaN,0.00,1675.0,ABDUL RAZAK.PP
43,NaT,NaN,0.00,0.0,ABDUL RAZAK.PP
46,2019-04-03,GST SALES,66100.00,0.0,ABZ DENTALS
47,2019-04-03,CASH,0.00,40000.0,ABZ DENTALS
48,2019-04-05,GST SALES,1792.00,0.0,ABZ DENTALS
49,2019-04-08,GST SALES,9668.00,0.0,ABZ DENTALS
50,2019-04-09,CASH,0.00,26100.0,ABZ DENTALS
51,2019-04-10,GST SALES,55287.00,0.0,ABZ DENTALS
52,2019-04-11,CASH,0.00,24000.0,ABZ DENTALS
53,2019-04-11,GST SALES,1474.00,0.0,ABZ DENTALS
54,2019-04-16,GST SALES,18377.00,0.0,ABZ DENTALS
55,2019-04-16,GST SALES,2106.00,0.0,ABZ DENTALS
56,2019-04-17,CASH,0.00,20000.0,ABZ DENTALS
57,2019-04-17,GST SALES,2083.00,0.0,ABZ DENTALS
58,2019-04-19,GST SALES,2055.00,0.0,ABZ DENTALS
59,2019-04-19,GST SALES,2649.00,0.0,ABZ DENTALS
60,2019-04-22,KCK DENTAL PVT. LTD.,0.00,22400.0,ABZ DENTALS
61,2019-04-22,GST SALES,8452.00,0.0,ABZ DENTALS
62,2019-04-26,GST SALES,15058.00,0.0,ABZ DENTALS
63,2019-04-26,GST SALES,22683.00,0.0,ABZ DENTALS
64,2019-04-26,GST SALES,672.00,0.0,ABZ DENTALS
65,2019-04-29,GST SALES,5538.00,0.0,ABZ DENTALS
66,2019-04-30,GST SALES,7245.00,0.0,ABZ DENTALS
67,2019-04-30,GST SALES,16352.00,0.0,ABZ DENTALS
68,2019-05-01,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,50000.0,ABZ DENTALS
69,2019-05-02,GST SALES,4210.00,0.0,ABZ DENTALS
70,2019-05-04,GST SALES,1893.00,0.0,ABZ DENTALS
71,2019-05-06,GST SALES,23872.00,0.0,ABZ DENTALS
72,2019-05-06,GST SALES,56.00,0.0,ABZ DENTALS
73,2019-05-10,GST SALES,2038.00,0.0,ABZ DENTALS
74,2019-05-14,GST SALES,13747.00,0.0,ABZ DENTALS

In [42]:
dataset2=dataset2.dropna(subset=['sales'])
dataset2.head(50)

,Date,sales,debit,credit,customer_name
18,2019-04-01,Opening Balance,7619.19,0.0,50TH IDA KSDC - SALES
22,2019-04-01,Opening Balance,53360.00,0.0,51ST KSDC - SALES
23,2019-05-29,"DR.ANOOP, KANJIKODE",6000.00,0.0,51ST KSDC - SALES
24,2019-06-03,ACTEON INDIA PVT. LTD.,10000.00,0.0,51ST KSDC - SALES
26,NaT,Closing Balance,0.00,69360.0,51ST KSDC - SALES
31,2019-04-01,Opening Balance,38943.70,0.0,"AABA DENTAL CLINIC,IRIKKOOR"
32,2019-04-05,CASH,0.00,31000.0,"AABA DENTAL CLINIC,IRIKKOOR"
33,2019-04-05,DISCOUNT ALLOWED,0.00,0.7,"AABA DENTAL CLINIC,IRIKKOOR"
35,NaT,Closing Balance,0.00,7943.0,"AABA DENTAL CLINIC,IRIKKOOR"
40,2019-04-01,Opening Balance,1675.00,0.0,ABDUL RAZAK.PP
41,2019-07-31,BAD DEBTS 2018-19,0.00,1675.0,ABDUL RAZAK.PP
46,2019-04-03,GST SALES,66100.00,0.0,ABZ DENTALS
47,2019-04-03,CASH,0.00,40000.0,ABZ DENTALS
48,2019-04-05,GST SALES,1792.00,0.0,ABZ DENTALS
49,2019-04-08,GST SALES,9668.00,0.0,ABZ DENTALS
50,2019-04-09,CASH,0.00,26100.0,ABZ DENTALS
51,2019-04-10,GST SALES,55287.00,0.0,ABZ DENTALS
52,2019-04-11,CASH,0.00,24000.0,ABZ DENTALS
53,2019-04-11,GST SALES,1474.00,0.0,ABZ DENTALS
54,2019-04-16,GST SALES,18377.00,0.0,ABZ DENTALS
55,2019-04-16,GST SALES,2106.00,0.0,ABZ DENTALS
56,2019-04-17,CASH,0.00,20000.0,ABZ DENTALS
57,2019-04-17,GST SALES,2083.00,0.0,ABZ DENTALS
58,2019-04-19,GST SALES,2055.00,0.0,ABZ DENTALS
59,2019-04-19,GST SALES,2649.00,0.0,ABZ DENTALS
60,2019-04-22,KCK DENTAL PVT. LTD.,0.00,22400.0,ABZ DENTALS
61,2019-04-22,GST SALES,8452.00,0.0,ABZ DENTALS
62,2019-04-26,GST SALES,15058.00,0.0,ABZ DENTALS
63,2019-04-26,GST SALES,22683.00,0.0,ABZ DENTALS
64,2019-04-26,GST SALES,672.00,0.0,ABZ DENTALS
65,2019-04-29,GST SALES,5538.00,0.0,ABZ DENTALS
66,2019-04-30,GST SALES,7245.00,0.0,ABZ DENTALS
67,2019-04-30,GST SALES,16352.00,0.0,ABZ DENTALS
68,2019-05-01,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,50000.0,ABZ DENTALS
69,2019-05-02,GST SALES,4210.00,0.0,ABZ DENTALS
70,2019-05-04,GST SALES,1893.00,0.0,ABZ DENTALS
71,2019-05-06,GST SALES,23872.00,0.0,ABZ DENTALS
72,2019-05-06,GST SALES,56.00,0.0,ABZ DENTALS
73,2019-05-10,GST SALES,2038.00,0.0,ABZ DENTALS
74,2019-05-14,GST SALES,13747.00,0.0,ABZ DENTALS
75,2019-05-14,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,65000.0,ABZ DENTALS
76,2019-05-16,GST SALES,315.00,0.0,ABZ DENTALS
77,2019-05-18,GST SALES,9650.00,0.0,ABZ DENTALS
78,2019-05-22,GST SALES,2906.00,0.0,ABZ DENTALS
79,2019-05-23,GST SALES,1672.00,0.0,ABZ DENTALS
80,2019-05-27,GST SALES,834.00,0.0,ABZ DENTALS
81,2019-05-29,GST SALES,677.00,0.0,ABZ DENTALS
82,2019-05-29,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,50000.0,ABZ DENTALS
83,2019-06-03,GST SALES,4217.00,0.0,ABZ DENTALS
84,2019-06-04,GST SALES,4082.00,0.0,ABZ DENTALS

In [43]:
cols = ['Date']
dataset2.loc[:,cols] = dataset2.loc[:,cols].ffill()
dataset2.head(50)

,Date,sales,debit,credit,customer_name
18,2019-04-01,Opening Balance,7619.19,0.0,50TH IDA KSDC - SALES
22,2019-04-01,Opening Balance,53360.00,0.0,51ST KSDC - SALES
23,2019-05-29,"DR.ANOOP, KANJIKODE",6000.00,0.0,51ST KSDC - SALES
24,2019-06-03,ACTEON INDIA PVT. LTD.,10000.00,0.0,51ST KSDC - SALES
26,2019-06-03,Closing Balance,0.00,69360.0,51ST KSDC - SALES
31,2019-04-01,Opening Balance,38943.70,0.0,"AABA DENTAL CLINIC,IRIKKOOR"
32,2019-04-05,CASH,0.00,31000.0,"AABA DENTAL CLINIC,IRIKKOOR"
33,2019-04-05,DISCOUNT ALLOWED,0.00,0.7,"AABA DENTAL CLINIC,IRIKKOOR"
35,2019-04-05,Closing Balance,0.00,7943.0,"AABA DENTAL CLINIC,IRIKKOOR"
40,2019-04-01,Opening Balance,1675.00,0.0,ABDUL RAZAK.PP
41,2019-07-31,BAD DEBTS 2018-19,0.00,1675.0,ABDUL RAZAK.PP
46,2019-04-03,GST SALES,66100.00,0.0,ABZ DENTALS
47,2019-04-03,CASH,0.00,40000.0,ABZ DENTALS
48,2019-04-05,GST SALES,1792.00,0.0,ABZ DENTALS
49,2019-04-08,GST SALES,9668.00,0.0,ABZ DENTALS
50,2019-04-09,CASH,0.00,26100.0,ABZ DENTALS
51,2019-04-10,GST SALES,55287.00,0.0,ABZ DENTALS
52,2019-04-11,CASH,0.00,24000.0,ABZ DENTALS
53,2019-04-11,GST SALES,1474.00,0.0,ABZ DENTALS
54,2019-04-16,GST SALES,18377.00,0.0,ABZ DENTALS
55,2019-04-16,GST SALES,2106.00,0.0,ABZ DENTALS
56,2019-04-17,CASH,0.00,20000.0,ABZ DENTALS
57,2019-04-17,GST SALES,2083.00,0.0,ABZ DENTALS
58,2019-04-19,GST SALES,2055.00,0.0,ABZ DENTALS
59,2019-04-19,GST SALES,2649.00,0.0,ABZ DENTALS
60,2019-04-22,KCK DENTAL PVT. LTD.,0.00,22400.0,ABZ DENTALS
61,2019-04-22,GST SALES,8452.00,0.0,ABZ DENTALS
62,2019-04-26,GST SALES,15058.00,0.0,ABZ DENTALS
63,2019-04-26,GST SALES,22683.00,0.0,ABZ DENTALS
64,2019-04-26,GST SALES,672.00,0.0,ABZ DENTALS
65,2019-04-29,GST SALES,5538.00,0.0,ABZ DENTALS
66,2019-04-30,GST SALES,7245.00,0.0,ABZ DENTALS
67,2019-04-30,GST SALES,16352.00,0.0,ABZ DENTALS
68,2019-05-01,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,50000.0,ABZ DENTALS
69,2019-05-02,GST SALES,4210.00,0.0,ABZ DENTALS
70,2019-05-04,GST SALES,1893.00,0.0,ABZ DENTALS
71,2019-05-06,GST SALES,23872.00,0.0,ABZ DENTALS
72,2019-05-06,GST SALES,56.00,0.0,ABZ DENTALS
73,2019-05-10,GST SALES,2038.00,0.0,ABZ DENTALS
74,2019-05-14,GST SALES,13747.00,0.0,ABZ DENTALS
75,2019-05-14,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,65000.0,ABZ DENTALS
76,2019-05-16,GST SALES,315.00,0.0,ABZ DENTALS
77,2019-05-18,GST SALES,9650.00,0.0,ABZ DENTALS
78,2019-05-22,GST SALES,2906.00,0.0,ABZ DENTALS
79,2019-05-23,GST SALES,1672.00,0.0,ABZ DENTALS
80,2019-05-27,GST SALES,834.00,0.0,ABZ DENTALS
81,2019-05-29,GST SALES,677.00,0.0,ABZ DENTALS
82,2019-05-29,SOUTH INDIAN BANK LTD (CC A/C NO. 003808400000...,0.00,50000.0,ABZ DENTALS
83,2019-06-03,GST SALES,4217.00,0.0,ABZ DENTALS
84,2019-06-04,GST SALES,4082.00,0.0,ABZ DENTALS

In [44]:
dataset2['sales'] = dataset2['sales'].replace(['GST SALES', 'DISCOUNT ALLOWED', 'CASH','SOUTH INDIAN BANK LTD (CC A/C NO. 0038084000002275)', 'HDFC BANK'],['NP','PAYMENT','PAYMENT','PAYMENT','PAYMENT'])

In [45]:
dataset2.reset_index(inplace = True, drop = True)
dataset2.head(50)

,Date,sales,debit,credit,customer_name
0,2019-04-01,Opening Balance,7619.19,0.0,50TH IDA KSDC - SALES
1,2019-04-01,Opening Balance,53360.00,0.0,51ST KSDC - SALES
2,2019-05-29,"DR.ANOOP, KANJIKODE",6000.00,0.0,51ST KSDC - SALES
3,2019-06-03,ACTEON INDIA PVT. LTD.,10000.00,0.0,51ST KSDC - SALES
4,2019-06-03,Closing Balance,0.00,69360.0,51ST KSDC - SALES
5,2019-04-01,Opening Balance,38943.70,0.0,"AABA DENTAL CLINIC,IRIKKOOR"
6,2019-04-05,PAYMENT,0.00,31000.0,"AABA DENTAL CLINIC,IRIKKOOR"
7,2019-04-05,PAYMENT,0.00,0.7,"AABA DENTAL CLINIC,IRIKKOOR"
8,2019-04-05,Closing Balance,0.00,7943.0,"AABA DENTAL CLINIC,IRIKKOOR"
9,2019-04-01,Opening Balance,1675.00,0.0,ABDUL RAZAK.PP
10,2019-07-31,BAD DEBTS 2018-19,0.00,1675.0,ABDUL RAZAK.PP
11,2019-04-03,NP,66100.00,0.0,ABZ DENTALS
12,2019-04-03,PAYMENT,0.00,40000.0,ABZ DENTALS
13,2019-04-05,NP,1792.00,0.0,ABZ DENTALS
14,2019-04-08,NP,9668.00,0.0,ABZ DENTALS
15,2019-04-09,PAYMENT,0.00,26100.0,ABZ DENTALS
16,2019-04-10,NP,55287.00,0.0,ABZ DENTALS
17,2019-04-11,PAYMENT,0.00,24000.0,ABZ DENTALS
18,2019-04-11,NP,1474.00,0.0,ABZ DENTALS
19,2019-04-16,NP,18377.00,0.0,ABZ DENTALS
20,2019-04-16,NP,2106.00,0.0,ABZ DENTALS
21,2019-04-17,PAYMENT,0.00,20000.0,ABZ DENTALS
22,2019-04-17,NP,2083.00,0.0,ABZ DENTALS
23,2019-04-19,NP,2055.00,0.0,ABZ DENTALS
24,2019-04-19,NP,2649.00,0.0,ABZ DENTALS
25,2019-04-22,KCK DENTAL PVT. LTD.,0.00,22400.0,ABZ DENTALS
26,2019-04-22,NP,8452.00,0.0,ABZ DENTALS
27,2019-04-26,NP,15058.00,0.0,ABZ DENTALS
28,2019-04-26,NP,22683.00,0.0,ABZ DENTALS
29,2019-04-26,NP,672.00,0.0,ABZ DENTALS
30,2019-04-29,NP,5538.00,0.0,ABZ DENTALS
31,2019-04-30,NP,7245.00,0.0,ABZ DENTALS
32,2019-04-30,NP,16352.00,0.0,ABZ DENTALS
33,2019-05-01,PAYMENT,0.00,50000.0,ABZ DENTALS
34,2019-05-02,NP,4210.00,0.0,ABZ DENTALS
35,2019-05-04,NP,1893.00,0.0,ABZ DENTALS
36,2019-05-06,NP,23872.00,0.0,ABZ DENTALS
37,2019-05-06,NP,56.00,0.0,ABZ DENTALS
38,2019-05-10,NP,2038.00,0.0,ABZ DENTALS
39,2019-05-14,NP,13747.00,0.0,ABZ DENTALS
40,2019-05-14,PAYMENT,0.00,65000.0,ABZ DENTALS
41,2019-05-16,NP,315.00,0.0,ABZ DENTALS
42,2019-05-18,NP,9650.00,0.0,ABZ DENTALS
43,2019-05-22,NP,2906.00,0.0,ABZ DENTALS
44,2019-05-23,NP,1672.00,0.0,ABZ DENTALS
45,2019-05-27,NP,834.00,0.0,ABZ DENTALS
46,2019-05-29,NP,677.00,0.0,ABZ DENTALS
47,2019-05-29,PAYMENT,0.00,50000.0,ABZ DENTALS
48,2019-06-03,NP,4217.00,0.0,ABZ DENTALS
49,2019-06-04,NP,4082.00,0.0,ABZ DENTALS

In [46]:
dataset2['Gross Total']=dataset2['credit']-dataset2['debit']

In [47]:
dataset2=dataset2.drop(['debit'], axis = 1) 
dataset2=dataset2.drop(['credit'], axis = 1)

In [48]:
dataset2['days'] = dataset2.groupby('customer_name')['Date'].diff().apply(lambda x: x.days)

In [49]:
dataset2['balance'] = dataset2.groupby('customer_name')['Gross Total'].cumsum()
dataset2.head(50)

,Date,sales,customer_name,Gross Total,days,balance
0,2019-04-01,Opening Balance,50TH IDA KSDC - SALES,-7619.19,NaN,-7.619190e+03
1,2019-04-01,Opening Balance,51ST KSDC - SALES,-53360.00,NaN,-5.336000e+04
2,2019-05-29,"DR.ANOOP, KANJIKODE",51ST KSDC - SALES,-6000.00,58.0,-5.936000e+04
3,2019-06-03,ACTEON INDIA PVT. LTD.,51ST KSDC - SALES,-10000.00,5.0,-6.936000e+04
4,2019-06-03,Closing Balance,51ST KSDC - SALES,69360.00,0.0,0.000000e+00
5,2019-04-01,Opening Balance,"AABA DENTAL CLINIC,IRIKKOOR",-38943.70,NaN,-3.894370e+04
6,2019-04-05,PAYMENT,"AABA DENTAL CLINIC,IRIKKOOR",31000.00,4.0,-7.943700e+03
7,2019-04-05,PAYMENT,"AABA DENTAL CLINIC,IRIKKOOR",0.70,0.0,-7.943000e+03
8,2019-04-05,Closing Balance,"AABA DENTAL CLINIC,IRIKKOOR",7943.00,0.0,2.728484e-12
9,2019-04-01,Opening Balance,ABDUL RAZAK.PP,-1675.00,NaN,-1.675000e+03
10,2019-07-31,BAD DEBTS 2018-19,ABDUL RAZAK.PP,1675.00,121.0,0.000000e+00
11,2019-04-03,NP,ABZ DENTALS,-66100.00,NaN,-6.610000e+04
12,2019-04-03,PAYMENT,ABZ DENTALS,40000.00,0.0,-2.610000e+04
13,2019-04-05,NP,ABZ DENTALS,-1792.00,2.0,-2.789200e+04
14,2019-04-08,NP,ABZ DENTALS,-9668.00,3.0,-3.756000e+04
15,2019-04-09,PAYMENT,ABZ DENTALS,26100.00,1.0,-1.146000e+04
16,2019-04-10,NP,ABZ DENTALS,-55287.00,1.0,-6.674700e+04
17,2019-04-11,PAYMENT,ABZ DENTALS,24000.00,1.0,-4.274700e+04
18,2019-04-11,NP,ABZ DENTALS,-1474.00,0.0,-4.422100e+04
19,2019-04-16,NP,ABZ DENTALS,-18377.00,5.0,-6.259800e+04
20,2019-04-16,NP,ABZ DENTALS,-2106.00,0.0,-6.470400e+04
21,2019-04-17,PAYMENT,ABZ DENTALS,20000.00,1.0,-4.470400e+04
22,2019-04-17,NP,ABZ DENTALS,-2083.00,0.0,-4.678700e+04
23,2019-04-19,NP,ABZ DENTALS,-2055.00,2.0,-4.884200e+04
24,2019-04-19,NP,ABZ DENTALS,-2649.00,0.0,-5.149100e+04
25,2019-04-22,KCK DENTAL PVT. LTD.,ABZ DENTALS,22400.00,3.0,-2.909100e+04
26,2019-04-22,NP,ABZ DENTALS,-8452.00,0.0,-3.754300e+04
27,2019-04-26,NP,ABZ DENTALS,-15058.00,4.0,-5.260100e+04
28,2019-04-26,NP,ABZ DENTALS,-22683.00,0.0,-7.528400e+04
29,2019-04-26,NP,ABZ DENTALS,-672.00,0.0,-7.595600e+04
30,2019-04-29,NP,ABZ DENTALS,-5538.00,3.0,-8.149400e+04
31,2019-04-30,NP,ABZ DENTALS,-7245.00,1.0,-8.873900e+04
32,2019-04-30,NP,ABZ DENTALS,-16352.00,0.0,-1.050910e+05
33,2019-05-01,PAYMENT,ABZ DENTALS,50000.00,1.0,-5.509100e+04
34,2019-05-02,NP,ABZ DENTALS,-4210.00,1.0,-5.930100e+04
35,2019-05-04,NP,ABZ DENTALS,-1893.00,2.0,-6.119400e+04
36,2019-05-06,NP,ABZ DENTALS,-23872.00,2.0,-8.506600e+04
37,2019-05-06,NP,ABZ DENTALS,-56.00,0.0,-8.512200e+04
38,2019-05-10,NP,ABZ DENTALS,-2038.00,4.0,-8.716000e+04
39,2019-05-14,NP,ABZ DENTALS,-13747.00,4.0,-1.009070e+05
40,2019-05-14,PAYMENT,ABZ DENTALS,65000.00,0.0,-3.590700e+04
41,2019-05-16,NP,ABZ DENTALS,-315.00,2.0,-3.622200e+04
42,2019-05-18,NP,ABZ DENTALS,-9650.00,2.0,-4.587200e+04
43,2019-05-22,NP,ABZ DENTALS,-2906.00,4.0,-4.877800e+04
44,2019-05-23,NP,ABZ DENTALS,-1672.00,1.0,-5.045000e+04
45,2019-05-27,NP,ABZ DENTALS,-834.00,4.0,-5.128400e+04
46,2019-05-29,NP,ABZ DENTALS,-677.00,2.0,-5.196100e+04
47,2019-05-29,PAYMENT,ABZ DENTALS,50000.00,0.0,-1.961000e+03
48,2019-06-03,NP,ABZ DENTALS,-4217.00,5.0,-6.178000e+03
49,2019-06-04,NP,ABZ DENTALS,-4082.00,1.0,-1.026000e+04

In [51]:
frames=[dataset1,dataset2]
result = pd.concat(frames,sort=False)

In [52]:
result.head(50)

,Date,sales,customer_name,Gross Total,days,balance
0,2020-05-07,NP,32 CARROT(Dr),-2812.00,0.0,-2812.00
1,2020-05-11,NP,32 CARROT(Dr),-1844.00,4.0,-4656.00
2,2020-05-18,PAYMENT,32 CARROT(Dr),4656.00,7.0,0.00
3,2020-07-15,NP,32 CARROT(Dr),-8026.00,58.0,-8026.00
4,2020-07-24,PAYMENT,32 CARROT(Dr),8026.00,9.0,0.00
5,2020-09-04,NP,32 CARROT(Dr),-2485.00,42.0,-2485.00
6,2020-09-09,NP,32 CARROT(Dr),-2253.00,5.0,-4738.00
7,2020-09-25,PAYMENT,32 CARROT(Dr),4738.00,16.0,0.00
8,2020-10-08,NP,32 CARROT(Dr),-4237.00,13.0,-4237.00
9,2020-10-15,PAYMENT,32 CARROT(Dr),4237.00,7.0,0.00
10,2020-10-19,NP,32 CARROT(Dr),-4862.00,4.0,-4862.00
11,2020-10-23,PAYMENT,32 CARROT(Dr),4862.00,4.0,0.00
12,2020-04-01,Opening Balance,50TH IDA KSDC - SALES,-7619.19,0.0,-7619.19
13,2020-04-01,Opening Balance,51ST KSDC - SALES,-69360.00,0.0,-69360.00
14,2020-04-01,Opening Balance,"AABA DENTAL CLINIC,IRIKKOOR",-7943.00,0.0,-7943.00
15,2020-04-01,Opening Balance,ABZ DENTALS,-27921.28,0.0,-27921.28
16,2020-05-15,NP,ABZ DENTALS,-3698.00,44.0,-31619.28
17,2020-05-16,NP,ABZ DENTALS,-1120.00,1.0,-32739.28
18,2020-05-20,NP,ABZ DENTALS,-4032.00,4.0,-36771.28
19,2020-05-21,NP,ABZ DENTALS,-700.00,1.0,-37471.28
20,2020-05-28,NP,ABZ DENTALS,-6775.00,7.0,-44246.28
21,2020-06-10,NP,ABZ DENTALS,-2878.00,13.0,-47124.28
22,2020-06-10,PAYMENT,ABZ DENTALS,20000.00,0.0,-27124.28
23,2020-06-16,NP,ABZ DENTALS,-236.00,6.0,-27360.28
24,2020-06-18,NP,ABZ DENTALS,-3060.00,2.0,-30420.28
25,2020-06-19,NP,ABZ DENTALS,-1092.00,1.0,-31512.28
26,2020-07-03,NP,ABZ DENTALS,-3374.00,14.0,-34886.28
27,2020-07-06,PAYMENT,ABZ DENTALS,20000.00,3.0,-14886.28
28,2020-07-08,NP,ABZ DENTALS,-56.00,2.0,-14942.28
29,2020-07-09,NP,ABZ DENTALS,-2888.00,1.0,-17830.28
30,2020-07-10,NP,ABZ DENTALS,-2991.00,1.0,-20821.28
31,2020-07-11,NP,ABZ DENTALS,-4105.00,1.0,-24926.28
32,2020-07-22,NP,ABZ DENTALS,-403.00,11.0,-25329.28
33,2020-07-23,NP,ABZ DENTALS,-3941.00,1.0,-29270.28
34,2020-07-24,NP,ABZ DENTALS,-1765.00,1.0,-31035.28
35,2020-07-28,NP,ABZ DENTALS,-4496.00,4.0,-35531.28
36,2020-08-10,GST PURCHASE,ABZ DENTALS,2500.00,13.0,-33031.28
37,2020-08-13,NP,ABZ DENTALS,-2860.00,3.0,-35891.28
38,2020-08-17,NP,ABZ DENTALS,-793.00,4.0,-36684.28
39,2020-08-17,PAYMENT,ABZ DENTALS,20000.00,0.0,-16684.28
40,2020-08-18,NP,ABZ DENTALS,-1036.00,1.0,-17720.28
41,2020-08-21,NP,ABZ DENTALS,-2875.00,3.0,-20595.28
42,2020-09-03,NP,ABZ DENTALS,-939.00,13.0,-21534.28
43,2020-09-07,NP,ABZ DENTALS,-283.00,4.0,-21817.28
44,2020-09-08,NP,ABZ DENTALS,-4889.00,1.0,-26706.28
45,2020-09-09,NP,ABZ DENTALS,-2940.00,1.0,-29646.28
46,2020-09-12,NP,ABZ DENTALS,-3881.00,3.0,-33527.28
47,2020-09-14,PAYMENT,ABZ DENTALS,20000.00,2.0,-13527.28
48,2020-09-16,NP,ABZ DENTALS,-5902.00,2.0,-19429.28
49,2020-09-24,NP,ABZ DENTALS,-4302.00,8.0,-23731.28

In [53]:
result.tail(50)

,Date,sales,customer_name,Gross Total,days,balance
41695,2019-10-03,NP,"V DENT,PERAMBRA",-10089.00,119.0,-1.008900e+04
41696,2019-10-03,PAYMENT,"V DENT,PERAMBRA",10000.00,0.0,-8.900000e+01
41697,2019-10-05,PAYMENT,"V DENT,PERAMBRA",89.00,2.0,0.000000e+00
41698,2019-12-19,NP,"V DENT,PERAMBRA",-5040.00,75.0,-5.040000e+03
41699,2019-12-20,PAYMENT,"V DENT,PERAMBRA",5040.00,1.0,0.000000e+00
41700,2020-01-20,NP,VISHAKH MEDICALS CALICUT,-6944.00,NaN,-6.944000e+03
41701,2020-01-20,Closing Balance,VISHAKH MEDICALS CALICUT,6944.00,0.0,0.000000e+00
41702,2019-10-01,Opening Balance,VIVA DENTAL LAB PALAKKAD,-4033.00,183.0,-8.066000e+03
41703,2019-10-01,Opening Balance,WE CARE DENTAL CLINIC VENGAD,-1842.00,133.0,-1.842000e+03
41704,2019-10-15,NP,WE CARE DENTAL CLINIC VENGAD,-666.00,14.0,-2.508000e+03
41705,2019-10-21,PAYMENT,WE CARE DENTAL CLINIC VENGAD,650.00,6.0,-1.858000e+03
41706,2020-01-15,PAYMENT,WE CARE DENTAL CLINIC VENGAD,1850.00,86.0,-8.000000e+00
41707,2020-01-15,PAYMENT,WE CARE DENTAL CLINIC VENGAD,8.00,0.0,0.000000e+00
41708,2020-01-15,NP,WE CARE DENTAL CLINIC VENGAD,-8000.00,0.0,-8.000000e+03
41709,2020-01-30,NP,WE CARE DENTAL CLINIC VENGAD,-3200.00,15.0,-1.120000e+04
41710,2020-03-11,PAYMENT,WE CARE DENTAL CLINIC VENGAD,3000.00,41.0,-8.200000e+03
41711,2020-03-11,Closing Balance,WE CARE DENTAL CLINIC VENGAD,8200.00,0.0,0.000000e+00
41712,2019-10-01,Opening Balance,WELCARE DENTAL TRADING CO.,25900.00,17.0,5.180000e+04
41713,2019-11-26,PAYMENT,WELCARE DENTAL TRADING CO.,-25900.00,56.0,2.590000e+04
41714,2019-10-01,Opening Balance,"WELL CARE DENTAL CLINIC,NARIKKUNI",-4819.00,56.0,-4.819000e+03
41715,2019-10-01,Opening Balance,ZEENA DENTAL CLINIC.NEW MAHE,-32388.24,12.0,-3.238824e+04
41716,2019-10-09,PAYMENT,ZEENA DENTAL CLINIC.NEW MAHE,10000.00,8.0,-2.238824e+04
41717,2019-10-22,NP,ZEENA DENTAL CLINIC.NEW MAHE,-7621.00,13.0,-3.000924e+04
41718,2019-11-07,PAYMENT,ZEENA DENTAL CLINIC.NEW MAHE,5000.00,16.0,-2.500924e+04
41719,2019-11-23,NP,ZEENA DENTAL CLINIC.NEW MAHE,-3279.00,16.0,-2.828824e+04
41720,2019-12-06,PAYMENT,ZEENA DENTAL CLINIC.NEW MAHE,5000.00,13.0,-2.328824e+04
41721,2019-12-19,GST SALES RETURN,ZEENA DENTAL CLINIC.NEW MAHE,2419.00,13.0,-2.086924e+04
41722,2019-12-23,PAYMENT,ZEENA DENTAL CLINIC.NEW MAHE,5000.00,4.0,-1.586924e+04
41723,2020-01-15,NP,ZEENA DENTAL CLINIC.NEW MAHE,-1250.00,23.0,-1.711924e+04
41724,2020-01-16,PAYMENT,ZEENA DENTAL CLINIC.NEW MAHE,5000.00,1.0,-1.211924e+04
41725,2020-02-07,NP,ZEENA DENTAL CLINIC.NEW MAHE,-761.00,22.0,-1.288024e+04
41726,2020-02-11,NP,ZEENA DENTAL CLINIC.NEW MAHE,-673.00,4.0,-1.355324e+04
41727,2020-03-11,PAYMENT,ZEENA DENTAL CLINIC.NEW MAHE,5000.00,29.0,-8.553240e+03
41728,2020-03-11,Closing Balance,ZEENA DENTAL CLINIC.NEW MAHE,8553.24,0.0,1.818989e-12
41729,2019-10-01,Opening Balance,"ZZZ DR.RINEESH, KALLADIKODE",-8364.00,183.0,-1.672800e+04
41730,2019-10-01,Opening Balance,"ZZZ M/S.KOYILY HOSPITAL, KOYILY",-11825.00,43.0,-1.182500e+04
41731,2019-10-21,PAYMENT,"ZZZ M/S.KOYILY HOSPITAL, KOYILY",11825.00,20.0,0.000000e+00
41732,2019-10-21,NP,"ZZZ M/S.KOYILY HOSPITAL, KOYILY",-6222.00,0.0,-6.222000e+03
41733,2019-11-09,GST SALES RETURN,"ZZZ M/S.KOYILY HOSPITAL, KOYILY",6222.00,19.0,0.000000e+00
41734,2019-10-01,Opening Balance,ZZZZ DR.SHARATH(Endodentist)CALICUT,-3380.00,183.0,-6.760000e+03
41735,2019-10-01,Opening Balance,"Zzzzz DR.ABDUL RAHMAN,KAIVELI",-865.00,99.0,-8.650000e+02
41736,2019-10-01,Opening Balance,"ZZZZZ M/S.M E S DENTAL COLLEGE, PERINTHALMANNA",9425.00,183.0,1.885000e+04
41737,2019-11-28,NP,ZZZZZZZZZ DR.JAISAL .P CALICUT,-17039.04,NaN,-1.703904e+04
41738,2019-11-29,PAYMENT,ZZZZZZZZZ DR.JAISAL .P CALICUT,10000.00,1.0,-7.039040e+03
41739,2019-12-09,NP,ZZZZZZZZZ DR.JAISAL .P CALICUT,-3415.00,10.0,-1.045404e+04
41740,2020-01-06,PAYMENT,ZZZZZZZZZ DR.JAISAL .P CALICUT,2000.00,28.0,-8.454040e+03
41741,2020-01-06,PAYMENT,ZZZZZZZZZ DR.JAISAL .P CALICUT,0.04,0.0,-8.454000e+03
41742,2020-03-11,NP,ZZZZZZZZZ DR.JAISAL .P CALICUT,-650.00,65.0,-9.104000e+03
41743,2020-03-12,PAYMENT,ZZZZZZZZZ DR.JAISAL .P CALICUT,5650.00,1.0,-3.454000e+03
41744,2020-03-12,Closing Balance,ZZZZZZZZZ DR.JAISAL .P CALICUT,3454.00,0.0,0.000000e+00

In [54]:
# result=result.sort_values(by=['customer_name'],inplace=True)
result.head(50)

,Date,sales,customer_name,Gross Total,days,balance
0,2020-05-07,NP,32 CARROT(Dr),-2812.00,0.0,-2812.00
1,2020-05-11,NP,32 CARROT(Dr),-1844.00,4.0,-4656.00
2,2020-05-18,PAYMENT,32 CARROT(Dr),4656.00,7.0,0.00
3,2020-07-15,NP,32 CARROT(Dr),-8026.00,58.0,-8026.00
4,2020-07-24,PAYMENT,32 CARROT(Dr),8026.00,9.0,0.00
5,2020-09-04,NP,32 CARROT(Dr),-2485.00,42.0,-2485.00
6,2020-09-09,NP,32 CARROT(Dr),-2253.00,5.0,-4738.00
7,2020-09-25,PAYMENT,32 CARROT(Dr),4738.00,16.0,0.00
8,2020-10-08,NP,32 CARROT(Dr),-4237.00,13.0,-4237.00
9,2020-10-15,PAYMENT,32 CARROT(Dr),4237.00,7.0,0.00
10,2020-10-19,NP,32 CARROT(Dr),-4862.00,4.0,-4862.00
11,2020-10-23,PAYMENT,32 CARROT(Dr),4862.00,4.0,0.00
12,2020-04-01,Opening Balance,50TH IDA KSDC - SALES,-7619.19,0.0,-7619.19
13,2020-04-01,Opening Balance,51ST KSDC - SALES,-69360.00,0.0,-69360.00
14,2020-04-01,Opening Balance,"AABA DENTAL CLINIC,IRIKKOOR",-7943.00,0.0,-7943.00
15,2020-04-01,Opening Balance,ABZ DENTALS,-27921.28,0.0,-27921.28
16,2020-05-15,NP,ABZ DENTALS,-3698.00,44.0,-31619.28
17,2020-05-16,NP,ABZ DENTALS,-1120.00,1.0,-32739.28
18,2020-05-20,NP,ABZ DENTALS,-4032.00,4.0,-36771.28
19,2020-05-21,NP,ABZ DENTALS,-700.00,1.0,-37471.28
20,2020-05-28,NP,ABZ DENTALS,-6775.00,7.0,-44246.28
21,2020-06-10,NP,ABZ DENTALS,-2878.00,13.0,-47124.28
22,2020-06-10,PAYMENT,ABZ DENTALS,20000.00,0.0,-27124.28
23,2020-06-16,NP,ABZ DENTALS,-236.00,6.0,-27360.28
24,2020-06-18,NP,ABZ DENTALS,-3060.00,2.0,-30420.28
25,2020-06-19,NP,ABZ DENTALS,-1092.00,1.0,-31512.28
26,2020-07-03,NP,ABZ DENTALS,-3374.00,14.0,-34886.28
27,2020-07-06,PAYMENT,ABZ DENTALS,20000.00,3.0,-14886.28
28,2020-07-08,NP,ABZ DENTALS,-56.00,2.0,-14942.28
29,2020-07-09,NP,ABZ DENTALS,-2888.00,1.0,-17830.28
30,2020-07-10,NP,ABZ DENTALS,-2991.00,1.0,-20821.28
31,2020-07-11,NP,ABZ DENTALS,-4105.00,1.0,-24926.28
32,2020-07-22,NP,ABZ DENTALS,-403.00,11.0,-25329.28
33,2020-07-23,NP,ABZ DENTALS,-3941.00,1.0,-29270.28
34,2020-07-24,NP,ABZ DENTALS,-1765.00,1.0,-31035.28
35,2020-07-28,NP,ABZ DENTALS,-4496.00,4.0,-35531.28
36,2020-08-10,GST PURCHASE,ABZ DENTALS,2500.00,13.0,-33031.28
37,2020-08-13,NP,ABZ DENTALS,-2860.00,3.0,-35891.28
38,2020-08-17,NP,ABZ DENTALS,-793.00,4.0,-36684.28
39,2020-08-17,PAYMENT,ABZ DENTALS,20000.00,0.0,-16684.28
40,2020-08-18,NP,ABZ DENTALS,-1036.00,1.0,-17720.28
41,2020-08-21,NP,ABZ DENTALS,-2875.00,3.0,-20595.28
42,2020-09-03,NP,ABZ DENTALS,-939.00,13.0,-21534.28
43,2020-09-07,NP,ABZ DENTALS,-283.00,4.0,-21817.28
44,2020-09-08,NP,ABZ DENTALS,-4889.00,1.0,-26706.28
45,2020-09-09,NP,ABZ DENTALS,-2940.00,1.0,-29646.28
46,2020-09-12,NP,ABZ DENTALS,-3881.00,3.0,-33527.28
47,2020-09-14,PAYMENT,ABZ DENTALS,20000.00,2.0,-13527.28
48,2020-09-16,NP,ABZ DENTALS,-5902.00,2.0,-19429.28
49,2020-09-24,NP,ABZ DENTALS,-4302.00,8.0,-23731.28

In [55]:
result=result.sort_values('customer_name')
result.head(50)

,Date,sales,customer_name,Gross Total,days,balance
0,2020-05-07,NP,32 CARROT(Dr),-2812.00,0.0,-2.812000e+03
21957,2020-02-21,NP,32 CARROT(Dr),-8595.00,1.0,-8.595000e+03
21958,2020-02-25,PAYMENT,32 CARROT(Dr),8595.00,4.0,0.000000e+00
21959,2020-03-04,NP,32 CARROT(Dr),-10050.00,8.0,-1.005000e+04
21960,2020-03-05,PAYMENT,32 CARROT(Dr),10050.00,1.0,0.000000e+00
21961,2020-03-17,NP,32 CARROT(Dr),-203.00,12.0,-2.030000e+02
21962,2020-03-21,PAYMENT,32 CARROT(Dr),203.00,4.0,0.000000e+00
21956,2020-02-20,PAYMENT,32 CARROT(Dr),2242.00,7.0,0.000000e+00
11,2020-10-23,PAYMENT,32 CARROT(Dr),4862.00,4.0,0.000000e+00
10,2020-10-19,NP,32 CARROT(Dr),-4862.00,4.0,-4.862000e+03
21955,2020-02-13,NP,32 CARROT(Dr),-2242.00,NaN,-2.242000e+03
8,2020-10-08,NP,32 CARROT(Dr),-4237.00,13.0,-4.237000e+03
1,2020-05-11,NP,32 CARROT(Dr),-1844.00,4.0,-4.656000e+03
7,2020-09-25,PAYMENT,32 CARROT(Dr),4738.00,16.0,0.000000e+00
6,2020-09-09,NP,32 CARROT(Dr),-2253.00,5.0,-4.738000e+03
5,2020-09-04,NP,32 CARROT(Dr),-2485.00,42.0,-2.485000e+03
4,2020-07-24,PAYMENT,32 CARROT(Dr),8026.00,9.0,0.000000e+00
3,2020-07-15,NP,32 CARROT(Dr),-8026.00,58.0,-8.026000e+03
2,2020-05-18,PAYMENT,32 CARROT(Dr),4656.00,7.0,0.000000e+00
9,2020-10-15,PAYMENT,32 CARROT(Dr),4237.00,7.0,0.000000e+00
0,2019-04-01,Opening Balance,50TH IDA KSDC - SALES,-7619.19,NaN,-7.619190e+03
21963,2019-10-01,Opening Balance,50TH IDA KSDC - SALES,-7619.19,183.0,-1.523838e+04
12,2020-04-01,Opening Balance,50TH IDA KSDC - SALES,-7619.19,0.0,-7.619190e+03
21964,2019-10-01,Opening Balance,51ST KSDC - SALES,-69360.00,120.0,-6.936000e+04
13,2020-04-01,Opening Balance,51ST KSDC - SALES,-69360.00,0.0,-6.936000e+04
1,2019-04-01,Opening Balance,51ST KSDC - SALES,-53360.00,NaN,-5.336000e+04
4,2019-06-03,Closing Balance,51ST KSDC - SALES,69360.00,0.0,0.000000e+00
3,2019-06-03,ACTEON INDIA PVT. LTD.,51ST KSDC - SALES,-10000.00,5.0,-6.936000e+04
2,2019-05-29,"DR.ANOOP, KANJIKODE",51ST KSDC - SALES,-6000.00,58.0,-5.936000e+04
14,2020-04-01,Opening Balance,"AABA DENTAL CLINIC,IRIKKOOR",-7943.00,0.0,-7.943000e+03
21965,2019-10-01,Opening Balance,"AABA DENTAL CLINIC,IRIKKOOR",-7943.00,179.0,-7.943000e+03
8,2019-04-05,Closing Balance,"AABA DENTAL CLINIC,IRIKKOOR",7943.00,0.0,2.728484e-12
7,2019-04-05,PAYMENT,"AABA DENTAL CLINIC,IRIKKOOR",0.70,0.0,-7.943000e+03
5,2019-04-01,Opening Balance,"AABA DENTAL CLINIC,IRIKKOOR",-38943.70,NaN,-3.894370e+04
6,2019-04-05,PAYMENT,"AABA DENTAL CLINIC,IRIKKOOR",31000.00,4.0,-7.943700e+03
10,2019-07-31,BAD DEBTS 2018-19,ABDUL RAZAK.PP,1675.00,121.0,0.000000e+00
9,2019-04-01,Opening Balance,ABDUL RAZAK.PP,-1675.00,NaN,-1.675000e+03
22048,2020-02-11,PAYMENT,ABZ DENTALS,255401.00,11.0,-7.340828e+04
15,2019-04-09,PAYMENT,ABZ DENTALS,26100.00,1.0,-1.146000e+04
16,2019-04-10,NP,ABZ DENTALS,-55287.00,1.0,-6.674700e+04
17,2019-04-11,PAYMENT,ABZ DENTALS,24000.00,1.0,-4.274700e+04
18,2019-04-11,NP,ABZ DENTALS,-1474.00,0.0,-4.422100e+04
19,2019-04-16,NP,ABZ DENTALS,-18377.00,5.0,-6.259800e+04
20,2019-04-16,NP,ABZ DENTALS,-2106.00,0.0,-6.470400e+04
22038,2020-01-28,NP,ABZ DENTALS,-8104.00,1.0,-7.017928e+04
21,2019-04-17,PAYMENT,ABZ DENTALS,20000.00,1.0,-4.470400e+04
22,2019-04-17,NP,ABZ DENTALS,-2083.00,0.0,-4.678700e+04
23,2019-04-19,NP,ABZ DENTALS,-2055.00,2.0,-4.884200e+04
24,2019-04-19,NP,ABZ DENTALS,-2649.00,0.0,-5.149100e+04
14,2019-04-08,NP,ABZ DENTALS,-9668.00,3.0,-3.756000e+04

In [56]:
# dataset1['customer_name'] == dataset2['customer_name']

ValueError: Can only compare identically-labeled Series objects

In [ ]:
ae=dataset1['customer_name'].unique()

In [ ]:
ae

In [ ]:
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

In [58]:
result.to_csv('result_ledger.csv',index=False)

In [ ]:
dataset1.shape

In [ ]:
result.shape

In [ ]:
dataset2.shape

In [ ]:
dataset1.min()

In [ ]:
dataset2.min()